=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.14
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class AddOnsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List the add-on catalog
    # Returns the available add-ons (key, metadata, pricing) the caller can invoke.
    # @param [Hash] opts the optional parameters
    # @return [ApiAddonsGet200Response]
    def api_addons_get(opts = {})
      data, _status_code, _headers = api_addons_get_with_http_info(opts)
      data
    end

    # List the add-on catalog
    # Returns the available add-ons (key, metadata, pricing) the caller can invoke.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiAddonsGet200Response, Integer, Hash)>] ApiAddonsGet200Response data, response status code and response headers
    def api_addons_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.api_addons_get ...'
      end
      # resource path
      local_var_path = '/api/addons'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiAddonsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"AddOnsApi.api_addons_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#api_addons_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invoke an add-on for a project
    # Runs the named add-on against the project. Returns the job synchronously (200) when it completes immediately, or 202 with a pending job when processing continues in the background.
    # @param project_id [String] 
    # @param addon [String] Add-on key from the catalog.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [ApiProjectsProjectIdAddonsAddonInvokePost200Response]
    def api_projects_project_id_addons_addon_invoke_post(project_id, addon, opts = {})
      data, _status_code, _headers = api_projects_project_id_addons_addon_invoke_post_with_http_info(project_id, addon, opts)
      data
    end

    # Invoke an add-on for a project
    # Runs the named add-on against the project. Returns the job synchronously (200) when it completes immediately, or 202 with a pending job when processing continues in the background.
    # @param project_id [String] 
    # @param addon [String] Add-on key from the catalog.
    # @param [Hash] opts the optional parameters
    # @option opts [Object] :body 
    # @return [Array<(ApiProjectsProjectIdAddonsAddonInvokePost200Response, Integer, Hash)>] ApiProjectsProjectIdAddonsAddonInvokePost200Response data, response status code and response headers
    def api_projects_project_id_addons_addon_invoke_post_with_http_info(project_id, addon, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.api_projects_project_id_addons_addon_invoke_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AddOnsApi.api_projects_project_id_addons_addon_invoke_post"
      end
      # verify the required parameter 'addon' is set
      if @api_client.config.client_side_validation && addon.nil?
        fail ArgumentError, "Missing the required parameter 'addon' when calling AddOnsApi.api_projects_project_id_addons_addon_invoke_post"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/addons/{addon}/invoke'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'addon' + '}', CGI.escape(addon.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProjectsProjectIdAddonsAddonInvokePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AddOnsApi.api_projects_project_id_addons_addon_invoke_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#api_projects_project_id_addons_addon_invoke_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get an add-on job status
    # @param project_id [String] 
    # @param id [String] Add-on job id.
    # @param [Hash] opts the optional parameters
    # @return [ApiProjectsProjectIdAddonsAddonInvokePost200Response]
    def api_projects_project_id_addons_jobs_id_get(project_id, id, opts = {})
      data, _status_code, _headers = api_projects_project_id_addons_jobs_id_get_with_http_info(project_id, id, opts)
      data
    end

    # Get an add-on job status
    # @param project_id [String] 
    # @param id [String] Add-on job id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiProjectsProjectIdAddonsAddonInvokePost200Response, Integer, Hash)>] ApiProjectsProjectIdAddonsAddonInvokePost200Response data, response status code and response headers
    def api_projects_project_id_addons_jobs_id_get_with_http_info(project_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddOnsApi.api_projects_project_id_addons_jobs_id_get ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AddOnsApi.api_projects_project_id_addons_jobs_id_get"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling AddOnsApi.api_projects_project_id_addons_jobs_id_get"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/addons/jobs/{id}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiProjectsProjectIdAddonsAddonInvokePost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AddOnsApi.api_projects_project_id_addons_jobs_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddOnsApi#api_projects_project_id_addons_jobs_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
