=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.12
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class AuthenticationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Accept organization invitation
    # Accept an organization invitation using the token from the invite email link (e.g. `/invite/{token}?orgId=...`). Creates a new user with the invited email and adds them to the organization with the invited role. Returns a JWT and user so the client can log the user in immediately. No authentication required. 
    # @param accept_invite_request [AcceptInviteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AcceptInvite201Response]
    def accept_invite(accept_invite_request, opts = {})
      data, _status_code, _headers = accept_invite_with_http_info(accept_invite_request, opts)
      data
    end

    # Accept organization invitation
    # Accept an organization invitation using the token from the invite email link (e.g. &#x60;/invite/{token}?orgId&#x3D;...&#x60;). Creates a new user with the invited email and adds them to the organization with the invited role. Returns a JWT and user so the client can log the user in immediately. No authentication required. 
    # @param accept_invite_request [AcceptInviteRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AcceptInvite201Response, Integer, Hash)>] AcceptInvite201Response data, response status code and response headers
    def accept_invite_with_http_info(accept_invite_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.accept_invite ...'
      end
      # verify the required parameter 'accept_invite_request' is set
      if @api_client.config.client_side_validation && accept_invite_request.nil?
        fail ArgumentError, "Missing the required parameter 'accept_invite_request' when calling AuthenticationApi.accept_invite"
      end
      # resource path
      local_var_path = '/api/auth/accept-invite'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(accept_invite_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AcceptInvite201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.accept_invite",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#accept_invite\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm password reset with OTP (project-based)
    # Set new password using the OTP sent to the user's email. Call after POST /api/auth/local/password-reset with projectId. Rate limited (OTP limit). If the user's email was not yet verified, it is marked as verified upon successful reset. 
    # @param confirm_local_password_reset_with_otp_request [ConfirmLocalPasswordResetWithOtpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def confirm_local_password_reset_with_otp(confirm_local_password_reset_with_otp_request, opts = {})
      data, _status_code, _headers = confirm_local_password_reset_with_otp_with_http_info(confirm_local_password_reset_with_otp_request, opts)
      data
    end

    # Confirm password reset with OTP (project-based)
    # Set new password using the OTP sent to the user&#39;s email. Call after POST /api/auth/local/password-reset with projectId. Rate limited (OTP limit). If the user&#39;s email was not yet verified, it is marked as verified upon successful reset. 
    # @param confirm_local_password_reset_with_otp_request [ConfirmLocalPasswordResetWithOtpRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def confirm_local_password_reset_with_otp_with_http_info(confirm_local_password_reset_with_otp_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.confirm_local_password_reset_with_otp ...'
      end
      # verify the required parameter 'confirm_local_password_reset_with_otp_request' is set
      if @api_client.config.client_side_validation && confirm_local_password_reset_with_otp_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_local_password_reset_with_otp_request' when calling AuthenticationApi.confirm_local_password_reset_with_otp"
      end
      # resource path
      local_var_path = '/api/auth/local/password-reset/confirm'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_local_password_reset_with_otp_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.confirm_local_password_reset_with_otp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#confirm_local_password_reset_with_otp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Convert anonymous account to full account
    # Convert an anonymous user session to a full authenticated account. Preserves user data. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param convert_anonymous_account_request [ConvertAnonymousAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConvertAnonymousAccount200Response]
    def convert_anonymous_account(convert_anonymous_account_request, opts = {})
      data, _status_code, _headers = convert_anonymous_account_with_http_info(convert_anonymous_account_request, opts)
      data
    end

    # Convert anonymous account to full account
    # Convert an anonymous user session to a full authenticated account. Preserves user data. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param convert_anonymous_account_request [ConvertAnonymousAccountRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConvertAnonymousAccount200Response, Integer, Hash)>] ConvertAnonymousAccount200Response data, response status code and response headers
    def convert_anonymous_account_with_http_info(convert_anonymous_account_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.convert_anonymous_account ...'
      end
      # verify the required parameter 'convert_anonymous_account_request' is set
      if @api_client.config.client_side_validation && convert_anonymous_account_request.nil?
        fail ArgumentError, "Missing the required parameter 'convert_anonymous_account_request' when calling AuthenticationApi.convert_anonymous_account"
      end
      # resource path
      local_var_path = '/api/auth/anonymous/convert'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(convert_anonymous_account_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConvertAnonymousAccount200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.convert_anonymous_account",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#convert_anonymous_account\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create anonymous session
    # Create an anonymous user session for guest access. Users can later convert to full accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAnonymousSessionRequest] :create_anonymous_session_request 
    # @return [CreateAnonymousSession200Response]
    def create_anonymous_session(opts = {})
      data, _status_code, _headers = create_anonymous_session_with_http_info(opts)
      data
    end

    # Create anonymous session
    # Create an anonymous user session for guest access. Users can later convert to full accounts.
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAnonymousSessionRequest] :create_anonymous_session_request 
    # @return [Array<(CreateAnonymousSession200Response, Integer, Hash)>] CreateAnonymousSession200Response data, response status code and response headers
    def create_anonymous_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.create_anonymous_session ...'
      end
      # resource path
      local_var_path = '/api/auth/anonymous'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_anonymous_session_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateAnonymousSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.create_anonymous_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#create_anonymous_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all available OAuth providers
    # Returns a list of all supported OAuth providers with their configuration details
    # @param [Hash] opts the optional parameters
    # @return [GetAvailableOAuthProviders200Response]
    def get_available_o_auth_providers(opts = {})
      data, _status_code, _headers = get_available_o_auth_providers_with_http_info(opts)
      data
    end

    # Get all available OAuth providers
    # Returns a list of all supported OAuth providers with their configuration details
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAvailableOAuthProviders200Response, Integer, Hash)>] GetAvailableOAuthProviders200Response data, response status code and response headers
    def get_available_o_auth_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.get_available_o_auth_providers ...'
      end
      # resource path
      local_var_path = '/api/auth/oauth/providers/available'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAvailableOAuthProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.get_available_o_auth_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#get_available_o_auth_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current session
    # Get the current authenticated user session information. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [SessionResponse]
    def get_current_session(opts = {})
      data, _status_code, _headers = get_current_session_with_http_info(opts)
      data
    end

    # Get current session
    # Get the current authenticated user session information. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SessionResponse, Integer, Hash)>] SessionResponse data, response status code and response headers
    def get_current_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.get_current_session ...'
      end
      # resource path
      local_var_path = '/api/auth/session'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SessionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.get_current_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#get_current_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get current session (project-based)
    # Get the current authenticated user session (project-based). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @return [GetLocalSession200Response]
    def get_local_session(opts = {})
      data, _status_code, _headers = get_local_session_with_http_info(opts)
      data
    end

    # Get current session (project-based)
    # Get the current authenticated user session (project-based). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @return [Array<(GetLocalSession200Response, Integer, Hash)>] GetLocalSession200Response data, response status code and response headers
    def get_local_session_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.get_local_session ...'
      end
      # resource path
      local_var_path = '/api/auth/local/session'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetLocalSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.get_local_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#get_local_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get available OAuth providers for organization-based auth
    # Returns a list of OAuth providers that are configured and available for organization-based authentication. Providers are configured via environment variables (e.g., GOOGLE_CLIENT_ID, GITHUB_CLIENT_ID). 
    # @param [Hash] opts the optional parameters
    # @return [GetOrgOAuthProviders200Response]
    def get_org_o_auth_providers(opts = {})
      data, _status_code, _headers = get_org_o_auth_providers_with_http_info(opts)
      data
    end

    # Get available OAuth providers for organization-based auth
    # Returns a list of OAuth providers that are configured and available for organization-based authentication. Providers are configured via environment variables (e.g., GOOGLE_CLIENT_ID, GITHUB_CLIENT_ID). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrgOAuthProviders200Response, Integer, Hash)>] GetOrgOAuthProviders200Response data, response status code and response headers
    def get_org_o_auth_providers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.get_org_o_auth_providers ...'
      end
      # resource path
      local_var_path = '/api/auth/oauth-org/providers'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrgOAuthProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.get_org_o_auth_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#get_org_o_auth_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate OAuth authentication
    # Initiates OAuth authentication flow for a specified provider and project. The OAuth provider must be configured and enabled for the project first. Returns an HTTP 302 redirect to the OAuth provider's consent screen. Note: Swagger \"Try it out\" may show \"Failed to fetch\" for this endpoint due to browser CORS restrictions on cross-origin redirects. Use top-level browser navigation or curl to test. 
    # @param provider [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication. Must be pre-registered in project settings.
    # @return [nil]
    def initiate_o_auth(provider, project_id, opts = {})
      initiate_o_auth_with_http_info(provider, project_id, opts)
      nil
    end

    # Initiate OAuth authentication
    # Initiates OAuth authentication flow for a specified provider and project. The OAuth provider must be configured and enabled for the project first. Returns an HTTP 302 redirect to the OAuth provider&#39;s consent screen. Note: Swagger \&quot;Try it out\&quot; may show \&quot;Failed to fetch\&quot; for this endpoint due to browser CORS restrictions on cross-origin redirects. Use top-level browser navigation or curl to test. 
    # @param provider [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication. Must be pre-registered in project settings.
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def initiate_o_auth_with_http_info(provider, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.initiate_o_auth ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthenticationApi.initiate_o_auth"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "apple", "twitter", "discord", "linkedin", "dropbox", "slack", "reddit", "twitch", "figma", "zoom", "bitbucket", "salesforce", "shopify", "line", "spotify", "strava", "paypal", "asana", "trello", "okta", "gitea", "yandex", "yahoo", "vk", "meetup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling AuthenticationApi.initiate_o_auth"
      end
      # resource path
      local_var_path = '/api/auth/oauth/{provider}/{projectId}'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.initiate_o_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#initiate_o_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initiate OAuth authentication for organization
    # Initiates OAuth authentication flow for organization-level signup/login. The OAuth provider must be configured via environment variables (e.g., GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET). After successful authentication, creates a new organization and user account, or logs in existing user. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication
    # @return [nil]
    def initiate_org_o_auth(provider, opts = {})
      initiate_org_o_auth_with_http_info(provider, opts)
      nil
    end

    # Initiate OAuth authentication for organization
    # Initiates OAuth authentication flow for organization-level signup/login. The OAuth provider must be configured via environment variables (e.g., GOOGLE_CLIENT_ID, GOOGLE_CLIENT_SECRET). After successful authentication, creates a new organization and user account, or logs in existing user. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def initiate_org_o_auth_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.initiate_org_o_auth ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthenticationApi.initiate_org_o_auth"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "discord", "linkedin"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/auth/oauth-org/{provider}'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.initiate_org_o_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#initiate_org_o_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login user (project-based)
    # When the project has **requireEmailVerification** enabled and the user has not verified their email, returns 403 with code **EMAIL_VERIFICATION_REQUIRED** (user must verify email first, then login again). 
    # @param login_local_user_request [LoginLocalUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LoginLocalUser200Response]
    def login_local_user(login_local_user_request, opts = {})
      data, _status_code, _headers = login_local_user_with_http_info(login_local_user_request, opts)
      data
    end

    # Login user (project-based)
    # When the project has **requireEmailVerification** enabled and the user has not verified their email, returns 403 with code **EMAIL_VERIFICATION_REQUIRED** (user must verify email first, then login again). 
    # @param login_local_user_request [LoginLocalUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LoginLocalUser200Response, Integer, Hash)>] LoginLocalUser200Response data, response status code and response headers
    def login_local_user_with_http_info(login_local_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.login_local_user ...'
      end
      # verify the required parameter 'login_local_user_request' is set
      if @api_client.config.client_side_validation && login_local_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'login_local_user_request' when calling AuthenticationApi.login_local_user"
      end
      # resource path
      local_var_path = '/api/auth/local/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(login_local_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LoginLocalUser200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.login_local_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#login_local_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Login user
    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResponse]
    def login_user(login_request, opts = {})
      data, _status_code, _headers = login_user_with_http_info(login_request, opts)
      data
    end

    # Login user
    # @param login_request [LoginRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResponse, Integer, Hash)>] AuthResponse data, response status code and response headers
    def login_user_with_http_info(login_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.login_user ...'
      end
      # verify the required parameter 'login_request' is set
      if @api_client.config.client_side_validation && login_request.nil?
        fail ArgumentError, "Missing the required parameter 'login_request' when calling AuthenticationApi.login_user"
      end
      # resource path
      local_var_path = '/api/auth/login'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(login_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.login_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#login_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout user (project-based)
    # Logout the current authenticated user session (project-based). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def logout_local_user(opts = {})
      data, _status_code, _headers = logout_local_user_with_http_info(opts)
      data
    end

    # Logout user (project-based)
    # Logout the current authenticated user session (project-based). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def logout_local_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.logout_local_user ...'
      end
      # resource path
      local_var_path = '/api/auth/local/logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.logout_local_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#logout_local_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Logout user
    # Logout the current authenticated user session. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def logout_user(opts = {})
      data, _status_code, _headers = logout_user_with_http_info(opts)
      data
    end

    # Logout user
    # Logout the current authenticated user session. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). API keys are not supported for this endpoint. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def logout_user_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.logout_user ...'
      end
      # resource path
      local_var_path = '/api/auth/logout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"AuthenticationApi.logout_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#logout_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth callback handler (project-based)
    # Handles OAuth callback for project-based authentication. This route must be matched before /api/auth/oauth/{provider}/{projectId}. Redirects to frontend with query params token, refreshToken, and expiresIn. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def oauth_callback(provider, opts = {})
      oauth_callback_with_http_info(provider, opts)
      nil
    end

    # OAuth callback handler (project-based)
    # Handles OAuth callback for project-based authentication. This route must be matched before /api/auth/oauth/{provider}/{projectId}. Redirects to frontend with query params token, refreshToken, and expiresIn. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth_callback_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.oauth_callback ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthenticationApi.oauth_callback"
      end
      # resource path
      local_var_path = '/api/auth/oauth/callback/{provider}'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.oauth_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#oauth_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth callback handler for organization
    # Handles OAuth callback for organization-based authentication. Creates a new organization and user account if the user doesn't exist, or logs in existing user. Redirects to frontend with query params token, refreshToken, and expiresIn. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Authorization code from OAuth provider
    # @option opts [String] :state State parameter for CSRF protection
    # @return [nil]
    def org_o_auth_callback(provider, opts = {})
      org_o_auth_callback_with_http_info(provider, opts)
      nil
    end

    # OAuth callback handler for organization
    # Handles OAuth callback for organization-based authentication. Creates a new organization and user account if the user doesn&#39;t exist, or logs in existing user. Redirects to frontend with query params token, refreshToken, and expiresIn. 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :code Authorization code from OAuth provider
    # @option opts [String] :state State parameter for CSRF protection
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def org_o_auth_callback_with_http_info(provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.org_o_auth_callback ...'
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling AuthenticationApi.org_o_auth_callback"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "discord", "linkedin"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/auth/oauth-org/callback/{provider}'.sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'code'] = opts[:'code'] if !opts[:'code'].nil?
      query_params[:'state'] = opts[:'state'] if !opts[:'state'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.org_o_auth_callback",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#org_o_auth_callback\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Refresh access token (org and project)
    # Exchange a valid refresh token for a new JWT access token and refresh token. Works for both **org-based** (platform/dashboard) and **project-based** auth; the same endpoint is used. The previous refresh token is invalidated (rotation). If the same refresh token is used again, the session is revoked (reuse detection). 
    # @param refresh_token_request [RefreshTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RefreshToken200Response]
    def refresh_token(refresh_token_request, opts = {})
      data, _status_code, _headers = refresh_token_with_http_info(refresh_token_request, opts)
      data
    end

    # Refresh access token (org and project)
    # Exchange a valid refresh token for a new JWT access token and refresh token. Works for both **org-based** (platform/dashboard) and **project-based** auth; the same endpoint is used. The previous refresh token is invalidated (rotation). If the same refresh token is used again, the session is revoked (reuse detection). 
    # @param refresh_token_request [RefreshTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RefreshToken200Response, Integer, Hash)>] RefreshToken200Response data, response status code and response headers
    def refresh_token_with_http_info(refresh_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.refresh_token ...'
      end
      # verify the required parameter 'refresh_token_request' is set
      if @api_client.config.client_side_validation && refresh_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'refresh_token_request' when calling AuthenticationApi.refresh_token"
      end
      # resource path
      local_var_path = '/api/auth/refresh'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(refresh_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RefreshToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.refresh_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#refresh_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register new user (project-based)
    # When the project has **requireEmailVerification** enabled (default), the response is 201 with **requireVerification: true** and **no token**; the user must verify their email then sign in via login. When email verification is disabled, a token and refreshToken are returned. 
    # @param register_local_user_request [RegisterLocalUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RegisterLocalUser201Response]
    def register_local_user(register_local_user_request, opts = {})
      data, _status_code, _headers = register_local_user_with_http_info(register_local_user_request, opts)
      data
    end

    # Register new user (project-based)
    # When the project has **requireEmailVerification** enabled (default), the response is 201 with **requireVerification: true** and **no token**; the user must verify their email then sign in via login. When email verification is disabled, a token and refreshToken are returned. 
    # @param register_local_user_request [RegisterLocalUserRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RegisterLocalUser201Response, Integer, Hash)>] RegisterLocalUser201Response data, response status code and response headers
    def register_local_user_with_http_info(register_local_user_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.register_local_user ...'
      end
      # verify the required parameter 'register_local_user_request' is set
      if @api_client.config.client_side_validation && register_local_user_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_local_user_request' when calling AuthenticationApi.register_local_user"
      end
      # resource path
      local_var_path = '/api/auth/local/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_local_user_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RegisterLocalUser201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.register_local_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#register_local_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register new user
    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResponse]
    def register_user(register_request, opts = {})
      data, _status_code, _headers = register_user_with_http_info(register_request, opts)
      data
    end

    # Register new user
    # @param register_request [RegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResponse, Integer, Hash)>] AuthResponse data, response status code and response headers
    def register_user_with_http_info(register_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.register_user ...'
      end
      # verify the required parameter 'register_request' is set
      if @api_client.config.client_side_validation && register_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_request' when calling AuthenticationApi.register_user"
      end
      # resource path
      local_var_path = '/api/auth/register'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.register_user",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#register_user\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request password reset (project-based, OTP)
    # When projectId is provided, sends a 6-digit OTP to the user's email (project-based reset uses OTP, not link). When projectId is omitted, sends a token link (org/platform local account). Rate limited. 
    # @param request_local_password_reset_request [RequestLocalPasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def request_local_password_reset(request_local_password_reset_request, opts = {})
      data, _status_code, _headers = request_local_password_reset_with_http_info(request_local_password_reset_request, opts)
      data
    end

    # Request password reset (project-based, OTP)
    # When projectId is provided, sends a 6-digit OTP to the user&#39;s email (project-based reset uses OTP, not link). When projectId is omitted, sends a token link (org/platform local account). Rate limited. 
    # @param request_local_password_reset_request [RequestLocalPasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def request_local_password_reset_with_http_info(request_local_password_reset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.request_local_password_reset ...'
      end
      # verify the required parameter 'request_local_password_reset_request' is set
      if @api_client.config.client_side_validation && request_local_password_reset_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_local_password_reset_request' when calling AuthenticationApi.request_local_password_reset"
      end
      # resource path
      local_var_path = '/api/auth/local/password-reset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_local_password_reset_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.request_local_password_reset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#request_local_password_reset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request password reset (organization / platform)
    # Sends a password reset link to the user's email. Use this for organization (platform) accounts. For project-based accounts use POST /api/auth/local/password-reset with projectId (sends OTP instead). 
    # @param request_password_reset_request [RequestPasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def request_password_reset(request_password_reset_request, opts = {})
      data, _status_code, _headers = request_password_reset_with_http_info(request_password_reset_request, opts)
      data
    end

    # Request password reset (organization / platform)
    # Sends a password reset link to the user&#39;s email. Use this for organization (platform) accounts. For project-based accounts use POST /api/auth/local/password-reset with projectId (sends OTP instead). 
    # @param request_password_reset_request [RequestPasswordResetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def request_password_reset_with_http_info(request_password_reset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.request_password_reset ...'
      end
      # verify the required parameter 'request_password_reset_request' is set
      if @api_client.config.client_side_validation && request_password_reset_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_password_reset_request' when calling AuthenticationApi.request_password_reset"
      end
      # resource path
      local_var_path = '/api/auth/password-reset'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_password_reset_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.request_password_reset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#request_password_reset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Resend verification email (no auth)
    # Sends a new verification email to the given email (and optional project). For unauthenticated users who have not verified yet. Rate limited (e.g. 3 per 15 min per IP). 
    # @param resend_verification_auth_request [ResendVerificationAuthRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def resend_verification_auth(resend_verification_auth_request, opts = {})
      data, _status_code, _headers = resend_verification_auth_with_http_info(resend_verification_auth_request, opts)
      data
    end

    # Resend verification email (no auth)
    # Sends a new verification email to the given email (and optional project). For unauthenticated users who have not verified yet. Rate limited (e.g. 3 per 15 min per IP). 
    # @param resend_verification_auth_request [ResendVerificationAuthRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def resend_verification_auth_with_http_info(resend_verification_auth_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.resend_verification_auth ...'
      end
      # verify the required parameter 'resend_verification_auth_request' is set
      if @api_client.config.client_side_validation && resend_verification_auth_request.nil?
        fail ArgumentError, "Missing the required parameter 'resend_verification_auth_request' when calling AuthenticationApi.resend_verification_auth"
      end
      # resource path
      local_var_path = '/api/auth/resend-verification'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(resend_verification_auth_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.resend_verification_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#resend_verification_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset password with token (project-based, legacy)
    # Legacy token-based completion. Prefer OTP flow: use POST .../password-reset/confirm with the OTP sent to email for project-based resets. 
    # @param token [String] 
    # @param reset_local_password_request [ResetLocalPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def reset_local_password(token, reset_local_password_request, opts = {})
      data, _status_code, _headers = reset_local_password_with_http_info(token, reset_local_password_request, opts)
      data
    end

    # Reset password with token (project-based, legacy)
    # Legacy token-based completion. Prefer OTP flow: use POST .../password-reset/confirm with the OTP sent to email for project-based resets. 
    # @param token [String] 
    # @param reset_local_password_request [ResetLocalPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def reset_local_password_with_http_info(token, reset_local_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.reset_local_password ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthenticationApi.reset_local_password"
      end
      # verify the required parameter 'reset_local_password_request' is set
      if @api_client.config.client_side_validation && reset_local_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'reset_local_password_request' when calling AuthenticationApi.reset_local_password"
      end
      # resource path
      local_var_path = '/api/auth/local/password-reset/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reset_local_password_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.reset_local_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#reset_local_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Reset password with token (organization / platform)
    # Set new password using the token from the reset link. Validate the token first with POST /api/auth/password-reset/validate before showing the form. If the user's email was not yet verified, it is marked as verified upon successful reset. 
    # @param token [String] 
    # @param reset_password_request [ResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def reset_password(token, reset_password_request, opts = {})
      data, _status_code, _headers = reset_password_with_http_info(token, reset_password_request, opts)
      data
    end

    # Reset password with token (organization / platform)
    # Set new password using the token from the reset link. Validate the token first with POST /api/auth/password-reset/validate before showing the form. If the user&#39;s email was not yet verified, it is marked as verified upon successful reset. 
    # @param token [String] 
    # @param reset_password_request [ResetPasswordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def reset_password_with_http_info(token, reset_password_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.reset_password ...'
      end
      # verify the required parameter 'token' is set
      if @api_client.config.client_side_validation && token.nil?
        fail ArgumentError, "Missing the required parameter 'token' when calling AuthenticationApi.reset_password"
      end
      # verify the required parameter 'reset_password_request' is set
      if @api_client.config.client_side_validation && reset_password_request.nil?
        fail ArgumentError, "Missing the required parameter 'reset_password_request' when calling AuthenticationApi.reset_password"
      end
      # resource path
      local_var_path = '/api/auth/password-reset/{token}'.sub('{' + 'token' + '}', CGI.escape(token.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(reset_password_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.reset_password",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#reset_password\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send magic link
    # @param magic_link_request [MagicLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def send_magic_link(magic_link_request, opts = {})
      data, _status_code, _headers = send_magic_link_with_http_info(magic_link_request, opts)
      data
    end

    # Send magic link
    # @param magic_link_request [MagicLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def send_magic_link_with_http_info(magic_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.send_magic_link ...'
      end
      # verify the required parameter 'magic_link_request' is set
      if @api_client.config.client_side_validation && magic_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'magic_link_request' when calling AuthenticationApi.send_magic_link"
      end
      # resource path
      local_var_path = '/api/auth/magic-link/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(magic_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.send_magic_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#send_magic_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send OTP code
    # @param otp_send_request [OTPSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def send_otp(otp_send_request, opts = {})
      data, _status_code, _headers = send_otp_with_http_info(otp_send_request, opts)
      data
    end

    # Send OTP code
    # @param otp_send_request [OTPSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def send_otp_with_http_info(otp_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.send_otp ...'
      end
      # verify the required parameter 'otp_send_request' is set
      if @api_client.config.client_side_validation && otp_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'otp_send_request' when calling AuthenticationApi.send_otp"
      end
      # resource path
      local_var_path = '/api/auth/otp/send'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(otp_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.send_otp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#send_otp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Validate password reset token
    # Call before showing the \"set new password\" form. Validates that the token from the reset link is still valid and not expired. Organization (platform) reset only. 
    # @param validate_password_reset_token_request [ValidatePasswordResetTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ValidatePasswordResetToken200Response]
    def validate_password_reset_token(validate_password_reset_token_request, opts = {})
      data, _status_code, _headers = validate_password_reset_token_with_http_info(validate_password_reset_token_request, opts)
      data
    end

    # Validate password reset token
    # Call before showing the \&quot;set new password\&quot; form. Validates that the token from the reset link is still valid and not expired. Organization (platform) reset only. 
    # @param validate_password_reset_token_request [ValidatePasswordResetTokenRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ValidatePasswordResetToken200Response, Integer, Hash)>] ValidatePasswordResetToken200Response data, response status code and response headers
    def validate_password_reset_token_with_http_info(validate_password_reset_token_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.validate_password_reset_token ...'
      end
      # verify the required parameter 'validate_password_reset_token_request' is set
      if @api_client.config.client_side_validation && validate_password_reset_token_request.nil?
        fail ArgumentError, "Missing the required parameter 'validate_password_reset_token_request' when calling AuthenticationApi.validate_password_reset_token"
      end
      # resource path
      local_var_path = '/api/auth/password-reset/validate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(validate_password_reset_token_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ValidatePasswordResetToken200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.validate_password_reset_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#validate_password_reset_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify email address (no auth)
    # Verifies the user's email using the token from the link sent at signup. Use this for both organization and project signups (unauthenticated). Same behavior as POST /api/users/verify-email. 
    # @param verify_email_auth_request [VerifyEmailAuthRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def verify_email_auth(verify_email_auth_request, opts = {})
      data, _status_code, _headers = verify_email_auth_with_http_info(verify_email_auth_request, opts)
      data
    end

    # Verify email address (no auth)
    # Verifies the user&#39;s email using the token from the link sent at signup. Use this for both organization and project signups (unauthenticated). Same behavior as POST /api/users/verify-email. 
    # @param verify_email_auth_request [VerifyEmailAuthRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def verify_email_auth_with_http_info(verify_email_auth_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.verify_email_auth ...'
      end
      # verify the required parameter 'verify_email_auth_request' is set
      if @api_client.config.client_side_validation && verify_email_auth_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_email_auth_request' when calling AuthenticationApi.verify_email_auth"
      end
      # resource path
      local_var_path = '/api/auth/verify-email'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_email_auth_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.verify_email_auth",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#verify_email_auth\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify magic link
    # @param verify_magic_link_request [VerifyMagicLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResponse]
    def verify_magic_link(verify_magic_link_request, opts = {})
      data, _status_code, _headers = verify_magic_link_with_http_info(verify_magic_link_request, opts)
      data
    end

    # Verify magic link
    # @param verify_magic_link_request [VerifyMagicLinkRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResponse, Integer, Hash)>] AuthResponse data, response status code and response headers
    def verify_magic_link_with_http_info(verify_magic_link_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.verify_magic_link ...'
      end
      # verify the required parameter 'verify_magic_link_request' is set
      if @api_client.config.client_side_validation && verify_magic_link_request.nil?
        fail ArgumentError, "Missing the required parameter 'verify_magic_link_request' when calling AuthenticationApi.verify_magic_link"
      end
      # resource path
      local_var_path = '/api/auth/magic-link/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verify_magic_link_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.verify_magic_link",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#verify_magic_link\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify OTP code
    # @param otp_verify_request [OTPVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AuthResponse]
    def verify_otp(otp_verify_request, opts = {})
      data, _status_code, _headers = verify_otp_with_http_info(otp_verify_request, opts)
      data
    end

    # Verify OTP code
    # @param otp_verify_request [OTPVerifyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AuthResponse, Integer, Hash)>] AuthResponse data, response status code and response headers
    def verify_otp_with_http_info(otp_verify_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AuthenticationApi.verify_otp ...'
      end
      # verify the required parameter 'otp_verify_request' is set
      if @api_client.config.client_side_validation && otp_verify_request.nil?
        fail ArgumentError, "Missing the required parameter 'otp_verify_request' when calling AuthenticationApi.verify_otp"
      end
      # resource path
      local_var_path = '/api/auth/otp/verify'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(otp_verify_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AuthResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"AuthenticationApi.verify_otp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AuthenticationApi#verify_otp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
