=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.15
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class BackupsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create project backup
    # Create a backup of project data, optionally including files and wallets. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateBackupRequest] :create_backup_request 
    # @return [CreateBackup201Response]
    def create_backup(project_id, opts = {})
      data, _status_code, _headers = create_backup_with_http_info(project_id, opts)
      data
    end

    # Create project backup
    # Create a backup of project data, optionally including files and wallets. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CreateBackupRequest] :create_backup_request 
    # @return [Array<(CreateBackup201Response, Integer, Hash)>] CreateBackup201Response data, response status code and response headers
    def create_backup_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.create_backup ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BackupsApi.create_backup"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/backups'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_backup_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'CreateBackup201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.create_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#create_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete backup
    # Delete a project backup. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param backup_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteBackup200Response]
    def delete_backup(project_id, backup_id, opts = {})
      data, _status_code, _headers = delete_backup_with_http_info(project_id, backup_id, opts)
      data
    end

    # Delete backup
    # Delete a project backup. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param backup_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteBackup200Response, Integer, Hash)>] DeleteBackup200Response data, response status code and response headers
    def delete_backup_with_http_info(project_id, backup_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.delete_backup ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BackupsApi.delete_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling BackupsApi.delete_backup"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/backups/{backupId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.delete_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#delete_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project backups
    # Get all backups for a project. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListBackups200Response]
    def list_backups(project_id, opts = {})
      data, _status_code, _headers = list_backups_with_http_info(project_id, opts)
      data
    end

    # List project backups
    # Get all backups for a project. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListBackups200Response, Integer, Hash)>] ListBackups200Response data, response status code and response headers
    def list_backups_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.list_backups ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BackupsApi.list_backups"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/backups'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListBackups200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.list_backups",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#list_backups\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore from backup
    # Restore project data from a backup. Supports replace or merge modes. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param backup_id [String] 
    # @param restore_backup_request [RestoreBackupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RestoreBackup200Response]
    def restore_backup(project_id, backup_id, restore_backup_request, opts = {})
      data, _status_code, _headers = restore_backup_with_http_info(project_id, backup_id, restore_backup_request, opts)
      data
    end

    # Restore from backup
    # Restore project data from a backup. Supports replace or merge modes. Supports both JWT Bearer token and API key authentication.
    # @param project_id [String] 
    # @param backup_id [String] 
    # @param restore_backup_request [RestoreBackupRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RestoreBackup200Response, Integer, Hash)>] RestoreBackup200Response data, response status code and response headers
    def restore_backup_with_http_info(project_id, backup_id, restore_backup_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BackupsApi.restore_backup ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BackupsApi.restore_backup"
      end
      # verify the required parameter 'backup_id' is set
      if @api_client.config.client_side_validation && backup_id.nil?
        fail ArgumentError, "Missing the required parameter 'backup_id' when calling BackupsApi.restore_backup"
      end
      # verify the required parameter 'restore_backup_request' is set
      if @api_client.config.client_side_validation && restore_backup_request.nil?
        fail ArgumentError, "Missing the required parameter 'restore_backup_request' when calling BackupsApi.restore_backup"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/backups/{backupId}/restore'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'backupId' + '}', CGI.escape(backup_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(restore_backup_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RestoreBackup200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BackupsApi.restore_backup",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BackupsApi#restore_backup\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
