=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.16
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Cancel subscription
    # @param subscription_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelSubscriptionRequest] :cancel_subscription_request 
    # @return [DeleteRole200Response]
    def cancel_subscription(subscription_id, opts = {})
      data, _status_code, _headers = cancel_subscription_with_http_info(subscription_id, opts)
      data
    end

    # Cancel subscription
    # @param subscription_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [CancelSubscriptionRequest] :cancel_subscription_request 
    # @return [Array<(DeleteRole200Response, Integer, Hash)>] DeleteRole200Response data, response status code and response headers
    def cancel_subscription_with_http_info(subscription_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.cancel_subscription ...'
      end
      # verify the required parameter 'subscription_id' is set
      if @api_client.config.client_side_validation && subscription_id.nil?
        fail ArgumentError, "Missing the required parameter 'subscription_id' when calling BillingApi.cancel_subscription"
      end
      # resource path
      local_var_path = '/api/billing/subscriptions/{subscriptionId}/cancel'.sub('{' + 'subscriptionId' + '}', CGI.escape(subscription_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'cancel_subscription_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.cancel_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#cancel_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check feature access (public)
    # @param project_id [String] 
    # @param email [String] Customer email
    # @param feature [String] Feature slug to check access for
    # @param [Hash] opts the optional parameters
    # @return [CheckFeatureAccess200Response]
    def check_feature_access(project_id, email, feature, opts = {})
      data, _status_code, _headers = check_feature_access_with_http_info(project_id, email, feature, opts)
      data
    end

    # Check feature access (public)
    # @param project_id [String] 
    # @param email [String] Customer email
    # @param feature [String] Feature slug to check access for
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckFeatureAccess200Response, Integer, Hash)>] CheckFeatureAccess200Response data, response status code and response headers
    def check_feature_access_with_http_info(project_id, email, feature, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.check_feature_access ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.check_feature_access"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling BillingApi.check_feature_access"
      end
      # verify the required parameter 'feature' is set
      if @api_client.config.client_side_validation && feature.nil?
        fail ArgumentError, "Missing the required parameter 'feature' when calling BillingApi.check_feature_access"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/feature-access'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email
      query_params[:'feature'] = feature

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckFeatureAccess200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.check_feature_access",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#check_feature_access\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check subscription status (public)
    # @param project_id [String] 
    # @param email [String] Customer email to check subscription for
    # @param [Hash] opts the optional parameters
    # @return [CheckSubscription200Response]
    def check_subscription(project_id, email, opts = {})
      data, _status_code, _headers = check_subscription_with_http_info(project_id, email, opts)
      data
    end

    # Check subscription status (public)
    # @param project_id [String] 
    # @param email [String] Customer email to check subscription for
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckSubscription200Response, Integer, Hash)>] CheckSubscription200Response data, response status code and response headers
    def check_subscription_with_http_info(project_id, email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.check_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.check_subscription"
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling BillingApi.check_subscription"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/subscription'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'email'] = email

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckSubscription200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.check_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#check_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create checkout session (fiat)
    # **Customer subscription flow — Step 2.** Creates a fiat checkout session. Request body must include planId (from GET public plans), billingCycle (monthly|yearly), and customerInfo.email. Redirect the user to **checkoutUrl** (same URL as authorizationUrl). After payment, call verify-payment with **reference** (mudbase_...). Response includes only fiat fields (no paymentAddress, paymentOptions, network, asset, or pmt_ references). 
    # @param project_id [String] Project ID
    # @param create_checkout_session_request [CreateCheckoutSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCheckoutSession200Response]
    def create_checkout_session(project_id, create_checkout_session_request, opts = {})
      data, _status_code, _headers = create_checkout_session_with_http_info(project_id, create_checkout_session_request, opts)
      data
    end

    # Create checkout session (fiat)
    # **Customer subscription flow — Step 2.** Creates a fiat checkout session. Request body must include planId (from GET public plans), billingCycle (monthly|yearly), and customerInfo.email. Redirect the user to **checkoutUrl** (same URL as authorizationUrl). After payment, call verify-payment with **reference** (mudbase_...). Response includes only fiat fields (no paymentAddress, paymentOptions, network, asset, or pmt_ references). 
    # @param project_id [String] Project ID
    # @param create_checkout_session_request [CreateCheckoutSessionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCheckoutSession200Response, Integer, Hash)>] CreateCheckoutSession200Response data, response status code and response headers
    def create_checkout_session_with_http_info(project_id, create_checkout_session_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_checkout_session ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.create_checkout_session"
      end
      # verify the required parameter 'create_checkout_session_request' is set
      if @api_client.config.client_side_validation && create_checkout_session_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_checkout_session_request' when calling BillingApi.create_checkout_session"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/checkout'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_checkout_session_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCheckoutSession200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.create_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create billing plan
    # @param project_id [String] 
    # @param create_plan_request [CreatePlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePlan201Response]
    def create_plan(project_id, create_plan_request, opts = {})
      data, _status_code, _headers = create_plan_with_http_info(project_id, create_plan_request, opts)
      data
    end

    # Create billing plan
    # @param project_id [String] 
    # @param create_plan_request [CreatePlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePlan201Response, Integer, Hash)>] CreatePlan201Response data, response status code and response headers
    def create_plan_with_http_info(project_id, create_plan_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.create_plan ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.create_plan"
      end
      # verify the required parameter 'create_plan_request' is set
      if @api_client.config.client_side_validation && create_plan_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_plan_request' when calling BillingApi.create_plan"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/plans'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_plan_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePlan201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.create_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#create_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete billing plan
    # @param project_id [String] 
    # @param plan_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_plan(project_id, plan_id, opts = {})
      data, _status_code, _headers = delete_plan_with_http_info(project_id, plan_id, opts)
      data
    end

    # Delete billing plan
    # @param project_id [String] 
    # @param plan_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_plan_with_http_info(project_id, plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.delete_plan ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.delete_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling BillingApi.delete_plan"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/plans/{planId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'planId' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.delete_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#delete_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download invoice PDF
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [File]
    def download_invoice(project_id, invoice_id, opts = {})
      data, _status_code, _headers = download_invoice_with_http_info(project_id, invoice_id, opts)
      data
    end

    # Download invoice PDF
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_invoice_with_http_info(project_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.download_invoice ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.download_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling BillingApi.download_invoice"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/invoices/{invoiceId}/download'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/pdf', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.download_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#download_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable payment processing for organization
    # Creates a payment-collection subaccount for the org with the provided bank details. Use USD-capable bank (e.g. country US) for USD settlement. BVN only required when country is NG. Requires owner or admin role.
    # @param org_id [String] 
    # @param enable_payment_processing_request [EnablePaymentProcessingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnablePaymentProcessing200Response]
    def enable_payment_processing(org_id, enable_payment_processing_request, opts = {})
      data, _status_code, _headers = enable_payment_processing_with_http_info(org_id, enable_payment_processing_request, opts)
      data
    end

    # Enable payment processing for organization
    # Creates a payment-collection subaccount for the org with the provided bank details. Use USD-capable bank (e.g. country US) for USD settlement. BVN only required when country is NG. Requires owner or admin role.
    # @param org_id [String] 
    # @param enable_payment_processing_request [EnablePaymentProcessingRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnablePaymentProcessing200Response, Integer, Hash)>] EnablePaymentProcessing200Response data, response status code and response headers
    def enable_payment_processing_with_http_info(org_id, enable_payment_processing_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.enable_payment_processing ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BillingApi.enable_payment_processing"
      end
      # verify the required parameter 'enable_payment_processing_request' is set
      if @api_client.config.client_side_validation && enable_payment_processing_request.nil?
        fail ArgumentError, "Missing the required parameter 'enable_payment_processing_request' when calling BillingApi.enable_payment_processing"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/payment-processing/enable'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(enable_payment_processing_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnablePaymentProcessing200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.enable_payment_processing",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#enable_payment_processing\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export invoice (e.g. PDF URL or file)
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DownloadInvoice200Response]
    def export_invoice(project_id, invoice_id, opts = {})
      data, _status_code, _headers = export_invoice_with_http_info(project_id, invoice_id, opts)
      data
    end

    # Export invoice (e.g. PDF URL or file)
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DownloadInvoice200Response, Integer, Hash)>] DownloadInvoice200Response data, response status code and response headers
    def export_invoice_with_http_info(project_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.export_invoice ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.export_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling BillingApi.export_invoice"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/invoices/{invoiceId}/export'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DownloadInvoice200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.export_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#export_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing estimate and forecast
    # Returns current-month overage estimate and an optional end-of-month forecast for the authenticated organization. Includes spend limit settings (soft/hard) and whether usage is currently blocked. Requires org-level JWT. 
    # @param [Hash] opts the optional parameters
    # @return [GetBillingEstimate200Response]
    def get_billing_estimate(opts = {})
      data, _status_code, _headers = get_billing_estimate_with_http_info(opts)
      data
    end

    # Get billing estimate and forecast
    # Returns current-month overage estimate and an optional end-of-month forecast for the authenticated organization. Includes spend limit settings (soft/hard) and whether usage is currently blocked. Requires org-level JWT. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBillingEstimate200Response, Integer, Hash)>] GetBillingEstimate200Response data, response status code and response headers
    def get_billing_estimate_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_estimate ...'
      end
      # resource path
      local_var_path = '/api/billing/estimate'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBillingEstimate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_billing_estimate",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_estimate\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get checkout payment details (not used for fiat billing)
    # **Fiat-only billing:** checkout is completed on the payment gateway's hosted page; there is no server-side payment intent to poll. The live API returns **404** for this route. Reserved for compatibility; do not rely on a success body for project billing. 
    # @param project_id [String] 
    # @param payment_id [String] Opaque id from checkout (fiat billing does not expose pollable payment state here)
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_checkout_payment(project_id, payment_id, opts = {})
      get_checkout_payment_with_http_info(project_id, payment_id, opts)
      nil
    end

    # Get checkout payment details (not used for fiat billing)
    # **Fiat-only billing:** checkout is completed on the payment gateway&#39;s hosted page; there is no server-side payment intent to poll. The live API returns **404** for this route. Reserved for compatibility; do not rely on a success body for project billing. 
    # @param project_id [String] 
    # @param payment_id [String] Opaque id from checkout (fiat billing does not expose pollable payment state here)
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_checkout_payment_with_http_info(project_id, payment_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_checkout_payment ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_checkout_payment"
      end
      # verify the required parameter 'payment_id' is set
      if @api_client.config.client_side_validation && payment_id.nil?
        fail ArgumentError, "Missing the required parameter 'payment_id' when calling BillingApi.get_checkout_payment"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/checkout/{paymentId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'paymentId' + '}', CGI.escape(payment_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.get_checkout_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_checkout_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing dashboard data
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetDashboard200Response]
    def get_dashboard(project_id, opts = {})
      data, _status_code, _headers = get_dashboard_with_http_info(project_id, opts)
      data
    end

    # Get billing dashboard data
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetDashboard200Response, Integer, Hash)>] GetDashboard200Response data, response status code and response headers
    def get_dashboard_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_dashboard ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_dashboard"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/dashboard'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetDashboard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_dashboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_dashboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get fee breakdown for a given amount
    # Returns orgReceives, platformPercent, platformFixed, processingFee for the given amount (7% + $0.50 platform fee; processing fee absorbed from platform share).
    # @param org_id [String] 
    # @param amount [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency  (default to 'USD')
    # @return [GetFeeBreakdown200Response]
    def get_fee_breakdown(org_id, amount, opts = {})
      data, _status_code, _headers = get_fee_breakdown_with_http_info(org_id, amount, opts)
      data
    end

    # Get fee breakdown for a given amount
    # Returns orgReceives, platformPercent, platformFixed, processingFee for the given amount (7% + $0.50 platform fee; processing fee absorbed from platform share).
    # @param org_id [String] 
    # @param amount [Float] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :currency  (default to 'USD')
    # @return [Array<(GetFeeBreakdown200Response, Integer, Hash)>] GetFeeBreakdown200Response data, response status code and response headers
    def get_fee_breakdown_with_http_info(org_id, amount, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_fee_breakdown ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BillingApi.get_fee_breakdown"
      end
      # verify the required parameter 'amount' is set
      if @api_client.config.client_side_validation && amount.nil?
        fail ArgumentError, "Missing the required parameter 'amount' when calling BillingApi.get_fee_breakdown"
      end
      if @api_client.config.client_side_validation && amount < 0.01
        fail ArgumentError, 'invalid value for "amount" when calling BillingApi.get_fee_breakdown, must be greater than or equal to 0.01.'
      end

      # resource path
      local_var_path = '/api/orgs/{orgId}/payment-processing/fee-breakdown'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'amount'] = amount
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFeeBreakdown200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_fee_breakdown",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_fee_breakdown\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single invoice
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInvoice200Response]
    def get_invoice(project_id, invoice_id, opts = {})
      data, _status_code, _headers = get_invoice_with_http_info(project_id, invoice_id, opts)
      data
    end

    # Get single invoice
    # @param project_id [String] 
    # @param invoice_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInvoice200Response, Integer, Hash)>] GetInvoice200Response data, response status code and response headers
    def get_invoice_with_http_info(project_id, invoice_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_invoice ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_invoice"
      end
      # verify the required parameter 'invoice_id' is set
      if @api_client.config.client_side_validation && invoice_id.nil?
        fail ArgumentError, "Missing the required parameter 'invoice_id' when calling BillingApi.get_invoice"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/invoices/{invoiceId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'invoiceId' + '}', CGI.escape(invoice_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInvoice200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_invoice",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_invoice\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project invoices
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetInvoices200Response]
    def get_invoices(project_id, opts = {})
      data, _status_code, _headers = get_invoices_with_http_info(project_id, opts)
      data
    end

    # List project invoices
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetInvoices200Response, Integer, Hash)>] GetInvoices200Response data, response status code and response headers
    def get_invoices_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_invoices ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_invoices"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/invoices'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetInvoices200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_invoices",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_invoices\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List fiat payment records for organization
    # Paginated list of FiatPaymentRecord for this org (txRef, amount, orgReceives, status, paidAt).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @return [GetPaymentRecords200Response]
    def get_payment_records(org_id, opts = {})
      data, _status_code, _headers = get_payment_records_with_http_info(org_id, opts)
      data
    end

    # List fiat payment records for organization
    # Paginated list of FiatPaymentRecord for this org (txRef, amount, orgReceives, status, paidAt).
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @return [Array<(GetPaymentRecords200Response, Integer, Hash)>] GetPaymentRecords200Response data, response status code and response headers
    def get_payment_records_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_payment_records ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BillingApi.get_payment_records"
      end
      allowable_values = ["pending", "successful", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/payment-processing/records'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPaymentRecords200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_payment_records",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_payment_records\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get billing plans
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPlans200Response]
    def get_plans(project_id, opts = {})
      data, _status_code, _headers = get_plans_with_http_info(project_id, opts)
      data
    end

    # Get billing plans
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPlans200Response, Integer, Hash)>] GetPlans200Response data, response status code and response headers
    def get_plans_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_plans ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_plans"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/plans'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPlans200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_plans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get public plans (no auth required)
    # **Customer subscription flow — Step 1.** Returns all active plans for the project. Use a plan's _id as planId in the checkout request. No authentication required (for pricing/checkout pages). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPublicPlans200Response]
    def get_public_plans(project_id, opts = {})
      data, _status_code, _headers = get_public_plans_with_http_info(project_id, opts)
      data
    end

    # Get public plans (no auth required)
    # **Customer subscription flow — Step 1.** Returns all active plans for the project. Use a plan&#39;s _id as planId in the checkout request. No authentication required (for pricing/checkout pages). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPublicPlans200Response, Integer, Hash)>] GetPublicPlans200Response data, response status code and response headers
    def get_public_plans_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_public_plans ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_public_plans"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/plans'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPublicPlans200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.get_public_plans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_public_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one subscription tier by id
    # Returns a single org-level BaaS plan (free, starter, growth, scale, enterprise). Public; no auth required.
    # @param plan_id [String] Plan id (free, starter, growth, scale, enterprise)
    # @param [Hash] opts the optional parameters
    # @return [GetSubscriptionTierById200Response]
    def get_subscription_tier_by_id(plan_id, opts = {})
      data, _status_code, _headers = get_subscription_tier_by_id_with_http_info(plan_id, opts)
      data
    end

    # Get one subscription tier by id
    # Returns a single org-level BaaS plan (free, starter, growth, scale, enterprise). Public; no auth required.
    # @param plan_id [String] Plan id (free, starter, growth, scale, enterprise)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSubscriptionTierById200Response, Integer, Hash)>] GetSubscriptionTierById200Response data, response status code and response headers
    def get_subscription_tier_by_id_with_http_info(plan_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_subscription_tier_by_id ...'
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling BillingApi.get_subscription_tier_by_id"
      end
      # resource path
      local_var_path = '/api/billing/plans/{planId}'.sub('{' + 'planId' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscriptionTierById200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.get_subscription_tier_by_id",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_subscription_tier_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subscription tiers (org-level BaaS plans)
    # **Org-level BaaS plan catalog** (source of truth in paymentService.js). Returns Free, Starter ($29), Growth ($69), Scale ($199), Enterprise. Use for pricing page and to get plan ids for POST /api/billing/org/checkout. Public; no auth required. Each plan includes id (free|starter|growth|scale|enterprise), name, description, price (cents), priceYearly (cents, 2 months free), currency, limits, overages, enforcement. 
    # @param [Hash] opts the optional parameters
    # @return [GetSubscriptionTiers200Response]
    def get_subscription_tiers(opts = {})
      data, _status_code, _headers = get_subscription_tiers_with_http_info(opts)
      data
    end

    # Get subscription tiers (org-level BaaS plans)
    # **Org-level BaaS plan catalog** (source of truth in paymentService.js). Returns Free, Starter ($29), Growth ($69), Scale ($199), Enterprise. Use for pricing page and to get plan ids for POST /api/billing/org/checkout. Public; no auth required. Each plan includes id (free|starter|growth|scale|enterprise), name, description, price (cents), priceYearly (cents, 2 months free), currency, limits, overages, enforcement. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSubscriptionTiers200Response, Integer, Hash)>] GetSubscriptionTiers200Response data, response status code and response headers
    def get_subscription_tiers_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_subscription_tiers ...'
      end
      # resource path
      local_var_path = '/api/billing/plans'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscriptionTiers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.get_subscription_tiers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_subscription_tiers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get subscriptions
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSubscriptions200Response]
    def get_subscriptions(project_id, opts = {})
      data, _status_code, _headers = get_subscriptions_with_http_info(project_id, opts)
      data
    end

    # Get subscriptions
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSubscriptions200Response, Integer, Hash)>] GetSubscriptions200Response data, response status code and response headers
    def get_subscriptions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_subscriptions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.get_subscriptions"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/subscriptions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubscriptions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize org-level BaaS plan payment (Starter, Growth, Scale)
    # **Org plan payment flow — Step 2.** Creates a payment link for the authenticated org to subscribe to a BaaS plan (starter, growth, scale). Enterprise has no price; use contact-sales flow. Redirect the user to the returned link; after payment, call POST /api/billing/org/verify-payment with the tx_ref from the redirect. Requires org-level JWT. 
    # @param initialize_org_plan_checkout_request [InitializeOrgPlanCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitializeOrgPlanCheckout200Response]
    def initialize_org_plan_checkout(initialize_org_plan_checkout_request, opts = {})
      data, _status_code, _headers = initialize_org_plan_checkout_with_http_info(initialize_org_plan_checkout_request, opts)
      data
    end

    # Initialize org-level BaaS plan payment (Starter, Growth, Scale)
    # **Org plan payment flow — Step 2.** Creates a payment link for the authenticated org to subscribe to a BaaS plan (starter, growth, scale). Enterprise has no price; use contact-sales flow. Redirect the user to the returned link; after payment, call POST /api/billing/org/verify-payment with the tx_ref from the redirect. Requires org-level JWT. 
    # @param initialize_org_plan_checkout_request [InitializeOrgPlanCheckoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitializeOrgPlanCheckout200Response, Integer, Hash)>] InitializeOrgPlanCheckout200Response data, response status code and response headers
    def initialize_org_plan_checkout_with_http_info(initialize_org_plan_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.initialize_org_plan_checkout ...'
      end
      # verify the required parameter 'initialize_org_plan_checkout_request' is set
      if @api_client.config.client_side_validation && initialize_org_plan_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'initialize_org_plan_checkout_request' when calling BillingApi.initialize_org_plan_checkout"
      end
      # resource path
      local_var_path = '/api/billing/org/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initialize_org_plan_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitializeOrgPlanCheckout200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.initialize_org_plan_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#initialize_org_plan_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize fiat payment with split (org subaccount + platform fee)
    # Creates a payment link. Customer pays; org receives (amount - 7% - $0.50) to their subaccount; platform fee (7% + $0.50, minus processing fee) stays on main account or goes to configured platform subaccounts. Requires payment processing enabled for org.
    # @param org_id [String] 
    # @param initialize_payment_request [InitializePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InitializePayment200Response]
    def initialize_payment(org_id, initialize_payment_request, opts = {})
      data, _status_code, _headers = initialize_payment_with_http_info(org_id, initialize_payment_request, opts)
      data
    end

    # Initialize fiat payment with split (org subaccount + platform fee)
    # Creates a payment link. Customer pays; org receives (amount - 7% - $0.50) to their subaccount; platform fee (7% + $0.50, minus processing fee) stays on main account or goes to configured platform subaccounts. Requires payment processing enabled for org.
    # @param org_id [String] 
    # @param initialize_payment_request [InitializePaymentRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitializePayment200Response, Integer, Hash)>] InitializePayment200Response data, response status code and response headers
    def initialize_payment_with_http_info(org_id, initialize_payment_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.initialize_payment ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling BillingApi.initialize_payment"
      end
      # verify the required parameter 'initialize_payment_request' is set
      if @api_client.config.client_side_validation && initialize_payment_request.nil?
        fail ArgumentError, "Missing the required parameter 'initialize_payment_request' when calling BillingApi.initialize_payment"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/payment-processing/initialize-payment'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initialize_payment_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InitializePayment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.initialize_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#initialize_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Initialize fiat payment (project-scoped)
    # Same as org-level initialize-payment; projectId from path is used for scope and tx_ref. Resolves project to org and uses org's payment-processing subaccount.
    # @param project_id [String] 
    # @param initialize_payment_for_project_request [InitializePaymentForProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def initialize_payment_for_project(project_id, initialize_payment_for_project_request, opts = {})
      initialize_payment_for_project_with_http_info(project_id, initialize_payment_for_project_request, opts)
      nil
    end

    # Initialize fiat payment (project-scoped)
    # Same as org-level initialize-payment; projectId from path is used for scope and tx_ref. Resolves project to org and uses org&#39;s payment-processing subaccount.
    # @param project_id [String] 
    # @param initialize_payment_for_project_request [InitializePaymentForProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def initialize_payment_for_project_with_http_info(project_id, initialize_payment_for_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.initialize_payment_for_project ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.initialize_payment_for_project"
      end
      # verify the required parameter 'initialize_payment_for_project_request' is set
      if @api_client.config.client_side_validation && initialize_payment_for_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'initialize_payment_for_project_request' when calling BillingApi.initialize_payment_for_project"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/payment-processing/initialize-payment'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(initialize_payment_for_project_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.initialize_payment_for_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#initialize_payment_for_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Record usage (public)
    # @param project_id [String] 
    # @param record_usage_request [RecordUsageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def record_usage(project_id, record_usage_request, opts = {})
      data, _status_code, _headers = record_usage_with_http_info(project_id, record_usage_request, opts)
      data
    end

    # Record usage (public)
    # @param project_id [String] 
    # @param record_usage_request [RecordUsageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def record_usage_with_http_info(project_id, record_usage_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.record_usage ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.record_usage"
      end
      # verify the required parameter 'record_usage_request' is set
      if @api_client.config.client_side_validation && record_usage_request.nil?
        fail ArgumentError, "Missing the required parameter 'record_usage_request' when calling BillingApi.record_usage"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/usage'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(record_usage_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.record_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#record_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update billing plan
    # @param project_id [String] 
    # @param plan_id [String] 
    # @param update_plan_request [UpdatePlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreatePlan201Response]
    def update_plan(project_id, plan_id, update_plan_request, opts = {})
      data, _status_code, _headers = update_plan_with_http_info(project_id, plan_id, update_plan_request, opts)
      data
    end

    # Update billing plan
    # @param project_id [String] 
    # @param plan_id [String] 
    # @param update_plan_request [UpdatePlanRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreatePlan201Response, Integer, Hash)>] CreatePlan201Response data, response status code and response headers
    def update_plan_with_http_info(project_id, plan_id, update_plan_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.update_plan ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.update_plan"
      end
      # verify the required parameter 'plan_id' is set
      if @api_client.config.client_side_validation && plan_id.nil?
        fail ArgumentError, "Missing the required parameter 'plan_id' when calling BillingApi.update_plan"
      end
      # verify the required parameter 'update_plan_request' is set
      if @api_client.config.client_side_validation && update_plan_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_plan_request' when calling BillingApi.update_plan"
      end
      # resource path
      local_var_path = '/api/billing/projects/{projectId}/plans/{planId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'planId' + '}', CGI.escape(plan_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_plan_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreatePlan201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.update_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#update_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify org-level plan payment
    # **Org plan payment flow — Step 3.** Call after the user completes payment (redirect or webhook). Pass tx_ref (or reference) from the payment redirect. Updates org plan and billing; idempotent. No auth required (redirect callback can call this). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tx_ref Payment reference (mudbase_org_...) from checkout redirect
    # @option opts [String] :reference Alias for tx_ref
    # @return [VerifyOrgPlanPayment200Response]
    def verify_org_plan_payment(opts = {})
      data, _status_code, _headers = verify_org_plan_payment_with_http_info(opts)
      data
    end

    # Verify org-level plan payment
    # **Org plan payment flow — Step 3.** Call after the user completes payment (redirect or webhook). Pass tx_ref (or reference) from the payment redirect. Updates org plan and billing; idempotent. No auth required (redirect callback can call this). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :tx_ref Payment reference (mudbase_org_...) from checkout redirect
    # @option opts [String] :reference Alias for tx_ref
    # @return [Array<(VerifyOrgPlanPayment200Response, Integer, Hash)>] VerifyOrgPlanPayment200Response data, response status code and response headers
    def verify_org_plan_payment_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.verify_org_plan_payment ...'
      end
      # resource path
      local_var_path = '/api/billing/org/verify-payment'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'tx_ref'] = opts[:'tx_ref'] if !opts[:'tx_ref'].nil?
      query_params[:'reference'] = opts[:'reference'] if !opts[:'reference'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyOrgPlanPayment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.verify_org_plan_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#verify_org_plan_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify payment and create subscription
    # **Customer subscription flow — Step 3.** Call after the user completes payment. Pass **reference** as query (?reference=mudbase_...). On success, a subscription is created. No auth required when using the platform gateway (mudbase_ refs). Org-level gateway verification may require JWT. References starting with pmt_ are rejected (crypto billing is not enabled on this API). 
    # @param project_id [String] 
    # @param reference [String] Payment transaction reference (mudbase_...)
    # @param [Hash] opts the optional parameters
    # @return [VerifyPayment200Response]
    def verify_payment(project_id, reference, opts = {})
      data, _status_code, _headers = verify_payment_with_http_info(project_id, reference, opts)
      data
    end

    # Verify payment and create subscription
    # **Customer subscription flow — Step 3.** Call after the user completes payment. Pass **reference** as query (?reference&#x3D;mudbase_...). On success, a subscription is created. No auth required when using the platform gateway (mudbase_ refs). Org-level gateway verification may require JWT. References starting with pmt_ are rejected (crypto billing is not enabled on this API). 
    # @param project_id [String] 
    # @param reference [String] Payment transaction reference (mudbase_...)
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyPayment200Response, Integer, Hash)>] VerifyPayment200Response data, response status code and response headers
    def verify_payment_with_http_info(project_id, reference, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.verify_payment ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling BillingApi.verify_payment"
      end
      # verify the required parameter 'reference' is set
      if @api_client.config.client_side_validation && reference.nil?
        fail ArgumentError, "Missing the required parameter 'reference' when calling BillingApi.verify_payment"
      end
      # resource path
      local_var_path = '/api/billing/public/projects/{projectId}/verify-payment'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'reference'] = reference

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyPayment200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.verify_payment",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#verify_payment\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
