=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.14
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class ChatApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add participant to chat
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param add_participant_request [AddParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddParticipant200Response]
    def add_participant(project_id, chat_id, add_participant_request, opts = {})
      data, _status_code, _headers = add_participant_with_http_info(project_id, chat_id, add_participant_request, opts)
      data
    end

    # Add participant to chat
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param add_participant_request [AddParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddParticipant200Response, Integer, Hash)>] AddParticipant200Response data, response status code and response headers
    def add_participant_with_http_info(project_id, chat_id, add_participant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.add_participant ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.add_participant"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.add_participant"
      end
      # verify the required parameter 'add_participant_request' is set
      if @api_client.config.client_side_validation && add_participant_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_participant_request' when calling ChatApi.add_participant"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/participants'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_participant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddParticipant200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.add_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#add_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Add reaction to message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param add_reaction_request [AddReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AddReaction200Response]
    def add_reaction(project_id, chat_id, message_id, add_reaction_request, opts = {})
      data, _status_code, _headers = add_reaction_with_http_info(project_id, chat_id, message_id, add_reaction_request, opts)
      data
    end

    # Add reaction to message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param add_reaction_request [AddReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddReaction200Response, Integer, Hash)>] AddReaction200Response data, response status code and response headers
    def add_reaction_with_http_info(project_id, chat_id, message_id, add_reaction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.add_reaction ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.add_reaction"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.add_reaction"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling ChatApi.add_reaction"
      end
      # verify the required parameter 'add_reaction_request' is set
      if @api_client.config.client_side_validation && add_reaction_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_reaction_request' when calling ChatApi.add_reaction"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages/{messageId}/reactions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s)).sub('{' + 'messageId' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_reaction_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddReaction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.add_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#add_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create new chat
    # @param project_id [String] 
    # @param create_chat_request [CreateChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateChat201Response]
    def create_chat(project_id, create_chat_request, opts = {})
      data, _status_code, _headers = create_chat_with_http_info(project_id, create_chat_request, opts)
      data
    end

    # Create new chat
    # @param project_id [String] 
    # @param create_chat_request [CreateChatRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateChat201Response, Integer, Hash)>] CreateChat201Response data, response status code and response headers
    def create_chat_with_http_info(project_id, create_chat_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.create_chat ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.create_chat"
      end
      # verify the required parameter 'create_chat_request' is set
      if @api_client.config.client_side_validation && create_chat_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_chat_request' when calling ChatApi.create_chat"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_chat_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateChat201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.create_chat",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#create_chat\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_message(project_id, chat_id, message_id, opts = {})
      data, _status_code, _headers = delete_message_with_http_info(project_id, chat_id, message_id, opts)
      data
    end

    # Delete message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_message_with_http_info(project_id, chat_id, message_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.delete_message ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.delete_message"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.delete_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling ChatApi.delete_message"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages/{messageId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s)).sub('{' + 'messageId' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.delete_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#delete_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Edit message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param edit_message_request [EditMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EditMessage200Response]
    def edit_message(project_id, chat_id, message_id, edit_message_request, opts = {})
      data, _status_code, _headers = edit_message_with_http_info(project_id, chat_id, message_id, edit_message_request, opts)
      data
    end

    # Edit message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param edit_message_request [EditMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EditMessage200Response, Integer, Hash)>] EditMessage200Response data, response status code and response headers
    def edit_message_with_http_info(project_id, chat_id, message_id, edit_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.edit_message ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.edit_message"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.edit_message"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling ChatApi.edit_message"
      end
      # verify the required parameter 'edit_message_request' is set
      if @api_client.config.client_side_validation && edit_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'edit_message_request' when calling ChatApi.edit_message"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages/{messageId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s)).sub('{' + 'messageId' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(edit_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EditMessage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.edit_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#edit_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get chat details
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetChatDetails200Response]
    def get_chat_details(project_id, chat_id, opts = {})
      data, _status_code, _headers = get_chat_details_with_http_info(project_id, chat_id, opts)
      data
    end

    # Get chat details
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetChatDetails200Response, Integer, Hash)>] GetChatDetails200Response data, response status code and response headers
    def get_chat_details_with_http_info(project_id, chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.get_chat_details ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.get_chat_details"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.get_chat_details"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetChatDetails200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.get_chat_details",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#get_chat_details\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List participant E2EE public keys
    # Returns registered identity public keys for users in this chat (for client-side key distribution).
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetChatE2eeParticipantKeys200Response]
    def get_chat_e2ee_participant_keys(project_id, chat_id, opts = {})
      data, _status_code, _headers = get_chat_e2ee_participant_keys_with_http_info(project_id, chat_id, opts)
      data
    end

    # List participant E2EE public keys
    # Returns registered identity public keys for users in this chat (for client-side key distribution).
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetChatE2eeParticipantKeys200Response, Integer, Hash)>] GetChatE2eeParticipantKeys200Response data, response status code and response headers
    def get_chat_e2ee_participant_keys_with_http_info(project_id, chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.get_chat_e2ee_participant_keys ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.get_chat_e2ee_participant_keys"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.get_chat_e2ee_participant_keys"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/e2ee/participant-keys'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetChatE2eeParticipantKeys200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.get_chat_e2ee_participant_keys",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#get_chat_e2ee_participant_keys\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get chat messages
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Time] :before 
    # @option opts [Time] :after 
    # @return [GetChatMessages200Response]
    def get_chat_messages(project_id, chat_id, opts = {})
      data, _status_code, _headers = get_chat_messages_with_http_info(project_id, chat_id, opts)
      data
    end

    # Get chat messages
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Time] :before 
    # @option opts [Time] :after 
    # @return [Array<(GetChatMessages200Response, Integer, Hash)>] GetChatMessages200Response data, response status code and response headers
    def get_chat_messages_with_http_info(project_id, chat_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.get_chat_messages ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.get_chat_messages"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.get_chat_messages"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'before'] = opts[:'before'] if !opts[:'before'].nil?
      query_params[:'after'] = opts[:'after'] if !opts[:'after'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetChatMessages200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.get_chat_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#get_chat_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user chats
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [GetUserChats200Response]
    def get_user_chats(project_id, opts = {})
      data, _status_code, _headers = get_user_chats_with_http_info(project_id, opts)
      data
    end

    # Get user chats
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @return [Array<(GetUserChats200Response, Integer, Hash)>] GetUserChats200Response data, response status code and response headers
    def get_user_chats_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.get_user_chats ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.get_user_chats"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserChats200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.get_user_chats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#get_user_chats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Mark messages as read
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param mark_messages_as_read_request [MarkMessagesAsReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MarkMessagesAsRead200Response]
    def mark_messages_as_read(project_id, chat_id, mark_messages_as_read_request, opts = {})
      data, _status_code, _headers = mark_messages_as_read_with_http_info(project_id, chat_id, mark_messages_as_read_request, opts)
      data
    end

    # Mark messages as read
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param mark_messages_as_read_request [MarkMessagesAsReadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MarkMessagesAsRead200Response, Integer, Hash)>] MarkMessagesAsRead200Response data, response status code and response headers
    def mark_messages_as_read_with_http_info(project_id, chat_id, mark_messages_as_read_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.mark_messages_as_read ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.mark_messages_as_read"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.mark_messages_as_read"
      end
      # verify the required parameter 'mark_messages_as_read_request' is set
      if @api_client.config.client_side_validation && mark_messages_as_read_request.nil?
        fail ArgumentError, "Missing the required parameter 'mark_messages_as_read_request' when calling ChatApi.mark_messages_as_read"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages/read'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(mark_messages_as_read_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MarkMessagesAsRead200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.mark_messages_as_read",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#mark_messages_as_read\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register chat E2EE identity public key
    # Stores your long-term public key for end-to-end encrypted chat (key agreement). Private keys never leave the client. Required for other participants to encrypt to you. 
    # @param project_id [String] 
    # @param put_chat_e2ee_key_request [PutChatE2eeKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PutChatE2eeKey200Response]
    def put_chat_e2ee_key(project_id, put_chat_e2ee_key_request, opts = {})
      data, _status_code, _headers = put_chat_e2ee_key_with_http_info(project_id, put_chat_e2ee_key_request, opts)
      data
    end

    # Register chat E2EE identity public key
    # Stores your long-term public key for end-to-end encrypted chat (key agreement). Private keys never leave the client. Required for other participants to encrypt to you. 
    # @param project_id [String] 
    # @param put_chat_e2ee_key_request [PutChatE2eeKeyRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PutChatE2eeKey200Response, Integer, Hash)>] PutChatE2eeKey200Response data, response status code and response headers
    def put_chat_e2ee_key_with_http_info(project_id, put_chat_e2ee_key_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.put_chat_e2ee_key ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.put_chat_e2ee_key"
      end
      # verify the required parameter 'put_chat_e2ee_key_request' is set
      if @api_client.config.client_side_validation && put_chat_e2ee_key_request.nil?
        fail ArgumentError, "Missing the required parameter 'put_chat_e2ee_key_request' when calling ChatApi.put_chat_e2ee_key"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/me/chat-e2ee-key'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(put_chat_e2ee_key_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PutChatE2eeKey200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.put_chat_e2ee_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#put_chat_e2ee_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove participant from chat
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param remove_participant_request [RemoveParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def remove_participant(project_id, chat_id, remove_participant_request, opts = {})
      data, _status_code, _headers = remove_participant_with_http_info(project_id, chat_id, remove_participant_request, opts)
      data
    end

    # Remove participant from chat
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param remove_participant_request [RemoveParticipantRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def remove_participant_with_http_info(project_id, chat_id, remove_participant_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.remove_participant ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.remove_participant"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.remove_participant"
      end
      # verify the required parameter 'remove_participant_request' is set
      if @api_client.config.client_side_validation && remove_participant_request.nil?
        fail ArgumentError, "Missing the required parameter 'remove_participant_request' when calling ChatApi.remove_participant"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/participants'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(remove_participant_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.remove_participant",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#remove_participant\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove reaction from message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param add_reaction_request [AddReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveReaction200Response]
    def remove_reaction(project_id, chat_id, message_id, add_reaction_request, opts = {})
      data, _status_code, _headers = remove_reaction_with_http_info(project_id, chat_id, message_id, add_reaction_request, opts)
      data
    end

    # Remove reaction from message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param message_id [String] 
    # @param add_reaction_request [AddReactionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveReaction200Response, Integer, Hash)>] RemoveReaction200Response data, response status code and response headers
    def remove_reaction_with_http_info(project_id, chat_id, message_id, add_reaction_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.remove_reaction ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.remove_reaction"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.remove_reaction"
      end
      # verify the required parameter 'message_id' is set
      if @api_client.config.client_side_validation && message_id.nil?
        fail ArgumentError, "Missing the required parameter 'message_id' when calling ChatApi.remove_reaction"
      end
      # verify the required parameter 'add_reaction_request' is set
      if @api_client.config.client_side_validation && add_reaction_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_reaction_request' when calling ChatApi.remove_reaction"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages/{messageId}/reactions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s)).sub('{' + 'messageId' + '}', CGI.escape(message_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_reaction_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveReaction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.remove_reaction",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#remove_reaction\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param send_message_request [SendMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SendMessage201Response]
    def send_message(project_id, chat_id, send_message_request, opts = {})
      data, _status_code, _headers = send_message_with_http_info(project_id, chat_id, send_message_request, opts)
      data
    end

    # Send message
    # @param project_id [String] 
    # @param chat_id [String] 
    # @param send_message_request [SendMessageRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendMessage201Response, Integer, Hash)>] SendMessage201Response data, response status code and response headers
    def send_message_with_http_info(project_id, chat_id, send_message_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChatApi.send_message ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ChatApi.send_message"
      end
      # verify the required parameter 'chat_id' is set
      if @api_client.config.client_side_validation && chat_id.nil?
        fail ArgumentError, "Missing the required parameter 'chat_id' when calling ChatApi.send_message"
      end
      # verify the required parameter 'send_message_request' is set
      if @api_client.config.client_side_validation && send_message_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_message_request' when calling ChatApi.send_message"
      end
      # resource path
      local_var_path = '/api/chat/projects/{projectId}/chats/{chatId}/messages'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'chatId' + '}', CGI.escape(chat_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_message_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendMessage201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ChatApi.send_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChatApi#send_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
