=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.15
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class CollectionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create new collection
    # Create a new collection in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param create_collection_request [CreateCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCollection201Response]
    def create_collection(project_id, create_collection_request, opts = {})
      data, _status_code, _headers = create_collection_with_http_info(project_id, create_collection_request, opts)
      data
    end

    # Create new collection
    # Create a new collection in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param create_collection_request [CreateCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCollection201Response, Integer, Hash)>] CreateCollection201Response data, response status code and response headers
    def create_collection_with_http_info(project_id, create_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.create_collection ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CollectionsApi.create_collection"
      end
      # verify the required parameter 'create_collection_request' is set
      if @api_client.config.client_side_validation && create_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_collection_request' when calling CollectionsApi.create_collection"
      end
      # resource path
      local_var_path = '/api/schemas/projects/{projectId}/collections'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCollection201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.create_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#create_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete collection
    # Delete a collection permanently. This is a destructive operation. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_collection(project_id, collection_id, opts = {})
      data, _status_code, _headers = delete_collection_with_http_info(project_id, collection_id, opts)
      data
    end

    # Delete collection
    # Delete a collection permanently. This is a destructive operation. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_collection_with_http_info(project_id, collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.delete_collection ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CollectionsApi.delete_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CollectionsApi.delete_collection"
      end
      # resource path
      local_var_path = '/api/schemas/projects/{projectId}/collections/{collectionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.delete_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#delete_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single collection
    # Get collection details by ID. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Collection]
    def get_collection(project_id, collection_id, opts = {})
      data, _status_code, _headers = get_collection_with_http_info(project_id, collection_id, opts)
      data
    end

    # Get single collection
    # Get collection details by ID. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Collection, Integer, Hash)>] Collection data, response status code and response headers
    def get_collection_with_http_info(project_id, collection_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.get_collection ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CollectionsApi.get_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CollectionsApi.get_collection"
      end
      # resource path
      local_var_path = '/api/schemas/projects/{projectId}/collections/{collectionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Collection'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.get_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#get_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List collections in project
    # List all collections in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListCollections200Response]
    def list_collections(project_id, opts = {})
      data, _status_code, _headers = list_collections_with_http_info(project_id, opts)
      data
    end

    # List collections in project
    # List all collections in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCollections200Response, Integer, Hash)>] ListCollections200Response data, response status code and response headers
    def list_collections_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.list_collections ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CollectionsApi.list_collections"
      end
      # resource path
      local_var_path = '/api/schemas/projects/{projectId}/collections'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCollections200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.list_collections",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#list_collections\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update collection
    # Update collection configuration (name, fields, permissions). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param update_collection_request [UpdateCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateCollection201Response]
    def update_collection(project_id, collection_id, update_collection_request, opts = {})
      data, _status_code, _headers = update_collection_with_http_info(project_id, collection_id, update_collection_request, opts)
      data
    end

    # Update collection
    # Update collection configuration (name, fields, permissions). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param collection_id [String] 
    # @param update_collection_request [UpdateCollectionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateCollection201Response, Integer, Hash)>] CreateCollection201Response data, response status code and response headers
    def update_collection_with_http_info(project_id, collection_id, update_collection_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollectionsApi.update_collection ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling CollectionsApi.update_collection"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling CollectionsApi.update_collection"
      end
      # verify the required parameter 'update_collection_request' is set
      if @api_client.config.client_side_validation && update_collection_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_request' when calling CollectionsApi.update_collection"
      end
      # resource path
      local_var_path = '/api/schemas/projects/{projectId}/collections/{collectionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateCollection201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"CollectionsApi.update_collection",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollectionsApi#update_collection\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
