=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.13
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class ComplianceApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Erase my personal data (GDPR Art. 17)
    # Anonymizes the subject's PII, revokes sessions/tokens, and anonymizes (never hard-deletes) financial/legal-retention records. Idempotent and self-scoped.  Requires re-proving your current password (skipped only for OAuth-only accounts with no password set) and, if 2FA is enabled, a fresh TOTP code - the same step-up re-authentication already required by the less-destructive `PATCH /api/users/password` and `POST /api/users/2fa/disable`. 
    # @param api_gdpr_erase_post_request [ApiGdprErasePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def api_gdpr_erase_post(api_gdpr_erase_post_request, opts = {})
      data, _status_code, _headers = api_gdpr_erase_post_with_http_info(api_gdpr_erase_post_request, opts)
      data
    end

    # Erase my personal data (GDPR Art. 17)
    # Anonymizes the subject&#39;s PII, revokes sessions/tokens, and anonymizes (never hard-deletes) financial/legal-retention records. Idempotent and self-scoped.  Requires re-proving your current password (skipped only for OAuth-only accounts with no password set) and, if 2FA is enabled, a fresh TOTP code - the same step-up re-authentication already required by the less-destructive &#x60;PATCH /api/users/password&#x60; and &#x60;POST /api/users/2fa/disable&#x60;. 
    # @param api_gdpr_erase_post_request [ApiGdprErasePostRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def api_gdpr_erase_post_with_http_info(api_gdpr_erase_post_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.api_gdpr_erase_post ...'
      end
      # verify the required parameter 'api_gdpr_erase_post_request' is set
      if @api_client.config.client_side_validation && api_gdpr_erase_post_request.nil?
        fail ArgumentError, "Missing the required parameter 'api_gdpr_erase_post_request' when calling ComplianceApi.api_gdpr_erase_post"
      end
      # resource path
      local_var_path = '/api/gdpr/erase'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(api_gdpr_erase_post_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.api_gdpr_erase_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#api_gdpr_erase_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Export my personal data (GDPR Art. 15)
    # Returns the authenticated subject's personal data as a downloadable JSON attachment. Self-scoped — a caller can only export their own data.
    # @param [Hash] opts the optional parameters
    # @return [Object]
    def api_gdpr_export_get(opts = {})
      data, _status_code, _headers = api_gdpr_export_get_with_http_info(opts)
      data
    end

    # Export my personal data (GDPR Art. 15)
    # Returns the authenticated subject&#39;s personal data as a downloadable JSON attachment. Self-scoped — a caller can only export their own data.
    # @param [Hash] opts the optional parameters
    # @return [Array<(Object, Integer, Hash)>] Object data, response status code and response headers
    def api_gdpr_export_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.api_gdpr_export_get ...'
      end
      # resource path
      local_var_path = '/api/gdpr/export'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Object'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.api_gdpr_export_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#api_gdpr_export_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate access review report (SOC 2)
    # Generate access review report for compliance audits (SOC 2, ISO 27001, etc.). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param generate_access_review_request [GenerateAccessReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateAccessReview200Response]
    def generate_access_review(generate_access_review_request, opts = {})
      data, _status_code, _headers = generate_access_review_with_http_info(generate_access_review_request, opts)
      data
    end

    # Generate access review report (SOC 2)
    # Generate access review report for compliance audits (SOC 2, ISO 27001, etc.). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param generate_access_review_request [GenerateAccessReviewRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateAccessReview200Response, Integer, Hash)>] GenerateAccessReview200Response data, response status code and response headers
    def generate_access_review_with_http_info(generate_access_review_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.generate_access_review ...'
      end
      # verify the required parameter 'generate_access_review_request' is set
      if @api_client.config.client_side_validation && generate_access_review_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_access_review_request' when calling ComplianceApi.generate_access_review"
      end
      # resource path
      local_var_path = '/api/compliance/access-review'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_access_review_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateAccessReview200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.generate_access_review",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#generate_access_review\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate data processing record (GDPR Article 30)
    # Generate GDPR Article 30 compliant data processing record
    # @param generate_data_processing_record_request [GenerateDataProcessingRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GenerateDataProcessingRecord200Response]
    def generate_data_processing_record(generate_data_processing_record_request, opts = {})
      data, _status_code, _headers = generate_data_processing_record_with_http_info(generate_data_processing_record_request, opts)
      data
    end

    # Generate data processing record (GDPR Article 30)
    # Generate GDPR Article 30 compliant data processing record
    # @param generate_data_processing_record_request [GenerateDataProcessingRecordRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GenerateDataProcessingRecord200Response, Integer, Hash)>] GenerateDataProcessingRecord200Response data, response status code and response headers
    def generate_data_processing_record_with_http_info(generate_data_processing_record_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.generate_data_processing_record ...'
      end
      # verify the required parameter 'generate_data_processing_record_request' is set
      if @api_client.config.client_side_validation && generate_data_processing_record_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_data_processing_record_request' when calling ComplianceApi.generate_data_processing_record"
      end
      # resource path
      local_var_path = '/api/compliance/data-processing-record'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_data_processing_record_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GenerateDataProcessingRecord200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.generate_data_processing_record",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#generate_data_processing_record\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get compliance summary
    # Get compliance dashboard data (GDPR, SOC 2, security status). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations.
    # @param [Hash] opts the optional parameters
    # @return [GetComplianceSummary200Response]
    def get_compliance_summary(opts = {})
      data, _status_code, _headers = get_compliance_summary_with_http_info(opts)
      data
    end

    # Get compliance summary
    # Get compliance dashboard data (GDPR, SOC 2, security status). Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetComplianceSummary200Response, Integer, Hash)>] GetComplianceSummary200Response data, response status code and response headers
    def get_compliance_summary_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.get_compliance_summary ...'
      end
      # resource path
      local_var_path = '/api/compliance/summary'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetComplianceSummary200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.get_compliance_summary",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#get_compliance_summary\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Log security event
    # Log a security event for compliance and audit purposes
    # @param log_security_event_request [LogSecurityEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [LogSecurityEvent200Response]
    def log_security_event(log_security_event_request, opts = {})
      data, _status_code, _headers = log_security_event_with_http_info(log_security_event_request, opts)
      data
    end

    # Log security event
    # Log a security event for compliance and audit purposes
    # @param log_security_event_request [LogSecurityEventRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(LogSecurityEvent200Response, Integer, Hash)>] LogSecurityEvent200Response data, response status code and response headers
    def log_security_event_with_http_info(log_security_event_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ComplianceApi.log_security_event ...'
      end
      # verify the required parameter 'log_security_event_request' is set
      if @api_client.config.client_side_validation && log_security_event_request.nil?
        fail ArgumentError, "Missing the required parameter 'log_security_event_request' when calling ComplianceApi.log_security_event"
      end
      # resource path
      local_var_path = '/api/compliance/security-event'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(log_security_event_request)

      # return_type
      return_type = opts[:debug_return_type] || 'LogSecurityEvent200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ComplianceApi.log_security_event",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ComplianceApi#log_security_event\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
