=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.14
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class EmailApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Enqueue project email (worker delivery)
    # Queues a transactional email for sending through the email worker and configured provider (platform or per-project SMTP). Provide either `template` (with `data`) or both `subject` and `html`. Returns **202** with `jobId` when accepted. 
    # @param project_id [String] 
    # @param project_email_send_request [ProjectEmailSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [EnqueueProjectEmail202Response]
    def enqueue_project_email(project_id, project_email_send_request, opts = {})
      data, _status_code, _headers = enqueue_project_email_with_http_info(project_id, project_email_send_request, opts)
      data
    end

    # Enqueue project email (worker delivery)
    # Queues a transactional email for sending through the email worker and configured provider (platform or per-project SMTP). Provide either &#x60;template&#x60; (with &#x60;data&#x60;) or both &#x60;subject&#x60; and &#x60;html&#x60;. Returns **202** with &#x60;jobId&#x60; when accepted. 
    # @param project_id [String] 
    # @param project_email_send_request [ProjectEmailSendRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(EnqueueProjectEmail202Response, Integer, Hash)>] EnqueueProjectEmail202Response data, response status code and response headers
    def enqueue_project_email_with_http_info(project_id, project_email_send_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.enqueue_project_email ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.enqueue_project_email"
      end
      # verify the required parameter 'project_email_send_request' is set
      if @api_client.config.client_side_validation && project_email_send_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_email_send_request' when calling EmailApi.enqueue_project_email"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/send'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_email_send_request)

      # return_type
      return_type = opts[:debug_return_type] || 'EnqueueProjectEmail202Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.enqueue_project_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#enqueue_project_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Email analytics for a project
    # Aggregated email log stats for the project. Optional `from` and `to` query params filter by date range (ISO 8601). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [GetProjectEmailAnalytics200Response]
    def get_project_email_analytics(project_id, opts = {})
      data, _status_code, _headers = get_project_email_analytics_with_http_info(project_id, opts)
      data
    end

    # Email analytics for a project
    # Aggregated email log stats for the project. Optional &#x60;from&#x60; and &#x60;to&#x60; query params filter by date range (ISO 8601). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :from 
    # @option opts [Time] :to 
    # @return [Array<(GetProjectEmailAnalytics200Response, Integer, Hash)>] GetProjectEmailAnalytics200Response data, response status code and response headers
    def get_project_email_analytics_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.get_project_email_analytics ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.get_project_email_analytics"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/analytics/email'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectEmailAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.get_project_email_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#get_project_email_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get project SMTP settings (masked)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectEmailSmtp200Response]
    def get_project_email_smtp(project_id, opts = {})
      data, _status_code, _headers = get_project_email_smtp_with_http_info(project_id, opts)
      data
    end

    # Get project SMTP settings (masked)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectEmailSmtp200Response, Integer, Hash)>] GetProjectEmailSmtp200Response data, response status code and response headers
    def get_project_email_smtp_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.get_project_email_smtp ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.get_project_email_smtp"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/smtp'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectEmailSmtp200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.get_project_email_smtp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#get_project_email_smtp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get one email template (effective content)
    # Returns the template body that would be used when sending: project override if present, else global default, else built-in fallback. **`isProjectOverride`** is true only when this project has a stored row; **`effectiveSource`** is `project`, `global`, or `builtin`. 
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectEmailTemplate200Response]
    def get_project_email_template(project_id, name, opts = {})
      data, _status_code, _headers = get_project_email_template_with_http_info(project_id, name, opts)
      data
    end

    # Get one email template (effective content)
    # Returns the template body that would be used when sending: project override if present, else global default, else built-in fallback. **&#x60;isProjectOverride&#x60;** is true only when this project has a stored row; **&#x60;effectiveSource&#x60;** is &#x60;project&#x60;, &#x60;global&#x60;, or &#x60;builtin&#x60;. 
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectEmailTemplate200Response, Integer, Hash)>] GetProjectEmailTemplate200Response data, response status code and response headers
    def get_project_email_template_with_http_info(project_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.get_project_email_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.get_project_email_template"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling EmailApi.get_project_email_template"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/templates/{name}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectEmailTemplate200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.get_project_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#get_project_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List email templates (full catalog for the project)
    # Returns every template name the worker can resolve for this project: **built-in** defaults, **global** platform rows (`project: null` in DB), and **project** overrides. Use **`isCustomized`** to see if this project has its own stored copy; **`effectiveSource`** shows which layer would be used at send time (`project` wins over `global` over `builtin`). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListProjectEmailTemplates200Response]
    def list_project_email_templates(project_id, opts = {})
      data, _status_code, _headers = list_project_email_templates_with_http_info(project_id, opts)
      data
    end

    # List email templates (full catalog for the project)
    # Returns every template name the worker can resolve for this project: **built-in** defaults, **global** platform rows (&#x60;project: null&#x60; in DB), and **project** overrides. Use **&#x60;isCustomized&#x60;** to see if this project has its own stored copy; **&#x60;effectiveSource&#x60;** shows which layer would be used at send time (&#x60;project&#x60; wins over &#x60;global&#x60; over &#x60;builtin&#x60;). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListProjectEmailTemplates200Response, Integer, Hash)>] ListProjectEmailTemplates200Response data, response status code and response headers
    def list_project_email_templates_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.list_project_email_templates ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.list_project_email_templates"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/templates'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProjectEmailTemplates200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.list_project_email_templates",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#list_project_email_templates\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update project SMTP relay (BYO)
    # Set `authPass` in the body to store an encrypted password (never returned on GET). Validates host/user when enabling. 
    # @param project_id [String] 
    # @param project_smtp_patch_request [ProjectSmtpPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectEmailSmtp200Response]
    def patch_project_email_smtp(project_id, project_smtp_patch_request, opts = {})
      data, _status_code, _headers = patch_project_email_smtp_with_http_info(project_id, project_smtp_patch_request, opts)
      data
    end

    # Update project SMTP relay (BYO)
    # Set &#x60;authPass&#x60; in the body to store an encrypted password (never returned on GET). Validates host/user when enabling. 
    # @param project_id [String] 
    # @param project_smtp_patch_request [ProjectSmtpPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectEmailSmtp200Response, Integer, Hash)>] GetProjectEmailSmtp200Response data, response status code and response headers
    def patch_project_email_smtp_with_http_info(project_id, project_smtp_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.patch_project_email_smtp ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.patch_project_email_smtp"
      end
      # verify the required parameter 'project_smtp_patch_request' is set
      if @api_client.config.client_side_validation && project_smtp_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_smtp_patch_request' when calling EmailApi.patch_project_email_smtp"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/smtp'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_smtp_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectEmailSmtp200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.patch_project_email_smtp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#patch_project_email_smtp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Render template preview (sanitized HTML, no send)
    # Body **`sampleData`** is merged with layout defaults; keys should match `{{placeholders}}` in the template (see **Email** tag for the catalog). 
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PreviewProjectEmailTemplateRequest] :preview_project_email_template_request 
    # @return [nil]
    def preview_project_email_template(project_id, name, opts = {})
      preview_project_email_template_with_http_info(project_id, name, opts)
      nil
    end

    # Render template preview (sanitized HTML, no send)
    # Body **&#x60;sampleData&#x60;** is merged with layout defaults; keys should match &#x60;{{placeholders}}&#x60; in the template (see **Email** tag for the catalog). 
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PreviewProjectEmailTemplateRequest] :preview_project_email_template_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def preview_project_email_template_with_http_info(project_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.preview_project_email_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.preview_project_email_template"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling EmailApi.preview_project_email_template"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/templates/{name}/preview'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'preview_project_email_template_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.preview_project_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#preview_project_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Restore from platform global default or remove project override
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def restore_default_project_email_template(project_id, name, opts = {})
      restore_default_project_email_template_with_http_info(project_id, name, opts)
      nil
    end

    # Restore from platform global default or remove project override
    # @param project_id [String] 
    # @param name [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def restore_default_project_email_template_with_http_info(project_id, name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.restore_default_project_email_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.restore_default_project_email_template"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling EmailApi.restore_default_project_email_template"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/templates/{name}/restore-default'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.restore_default_project_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#restore_default_project_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify SMTP and send a test message
    # Rate-limited. With `useSaved: true` (default), uses stored credentials; otherwise pass `host`, `authUser`, `authPass`, etc. 
    # @param project_id [String] 
    # @param project_smtp_test_request [ProjectSmtpTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteFunction200Response]
    def test_project_email_smtp(project_id, project_smtp_test_request, opts = {})
      data, _status_code, _headers = test_project_email_smtp_with_http_info(project_id, project_smtp_test_request, opts)
      data
    end

    # Verify SMTP and send a test message
    # Rate-limited. With &#x60;useSaved: true&#x60; (default), uses stored credentials; otherwise pass &#x60;host&#x60;, &#x60;authUser&#x60;, &#x60;authPass&#x60;, etc. 
    # @param project_id [String] 
    # @param project_smtp_test_request [ProjectSmtpTestRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFunction200Response, Integer, Hash)>] DeleteFunction200Response data, response status code and response headers
    def test_project_email_smtp_with_http_info(project_id, project_smtp_test_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.test_project_email_smtp ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.test_project_email_smtp"
      end
      # verify the required parameter 'project_smtp_test_request' is set
      if @api_client.config.client_side_validation && project_smtp_test_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_smtp_test_request' when calling EmailApi.test_project_email_smtp"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/smtp/test'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_smtp_test_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFunction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.test_project_email_smtp",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#test_project_email_smtp\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upsert project email template (HTML sanitized; variables must cover {{placeholders}})
    # Saves a **project override** for `name`. HTML is sanitized. **`variables`** must list every `{{token}}` used in `subject`, `htmlBody`, and `textBody` (see **Email** tag description for the full placeholder catalog). 
    # @param project_id [String] 
    # @param name [String] 
    # @param upsert_project_email_template_request [UpsertProjectEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def upsert_project_email_template(project_id, name, upsert_project_email_template_request, opts = {})
      upsert_project_email_template_with_http_info(project_id, name, upsert_project_email_template_request, opts)
      nil
    end

    # Upsert project email template (HTML sanitized; variables must cover {{placeholders}})
    # Saves a **project override** for &#x60;name&#x60;. HTML is sanitized. **&#x60;variables&#x60;** must list every &#x60;{{token}}&#x60; used in &#x60;subject&#x60;, &#x60;htmlBody&#x60;, and &#x60;textBody&#x60; (see **Email** tag description for the full placeholder catalog). 
    # @param project_id [String] 
    # @param name [String] 
    # @param upsert_project_email_template_request [UpsertProjectEmailTemplateRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def upsert_project_email_template_with_http_info(project_id, name, upsert_project_email_template_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.upsert_project_email_template ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.upsert_project_email_template"
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling EmailApi.upsert_project_email_template"
      end
      # verify the required parameter 'upsert_project_email_template_request' is set
      if @api_client.config.client_side_validation && upsert_project_email_template_request.nil?
        fail ArgumentError, "Missing the required parameter 'upsert_project_email_template_request' when calling EmailApi.upsert_project_email_template"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/templates/{name}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upsert_project_email_template_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.upsert_project_email_template",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#upsert_project_email_template\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Check DNS (MX + SPF) for sending domain
    # Resolves the domain from `domain`, `fromEmail`, or saved `emailSmtp.fromEmail`. Returns whether MX and SPF TXT exist. With `persist: true` and checks passed, sets `emailSmtp.domainVerifiedAt`. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VerifyProjectEmailSmtpDomainRequest] :verify_project_email_smtp_domain_request 
    # @return [nil]
    def verify_project_email_smtp_domain(project_id, opts = {})
      verify_project_email_smtp_domain_with_http_info(project_id, opts)
      nil
    end

    # Check DNS (MX + SPF) for sending domain
    # Resolves the domain from &#x60;domain&#x60;, &#x60;fromEmail&#x60;, or saved &#x60;emailSmtp.fromEmail&#x60;. Returns whether MX and SPF TXT exist. With &#x60;persist: true&#x60; and checks passed, sets &#x60;emailSmtp.domainVerifiedAt&#x60;. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [VerifyProjectEmailSmtpDomainRequest] :verify_project_email_smtp_domain_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def verify_project_email_smtp_domain_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: EmailApi.verify_project_email_smtp_domain ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling EmailApi.verify_project_email_smtp_domain"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/email/smtp/verify-domain'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'verify_project_email_smtp_domain_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"EmailApi.verify_project_email_smtp_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: EmailApi#verify_project_email_smtp_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
