=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.13
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class FilesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a download URL for a file
    # Returns a URL to download the file. For private files a short-lived signed URL is generated; the lifetime can be tuned per request via the optional expiresIn query parameter (seconds, clamped to a safe server-configured range). For public (public-read) files the permanent world-readable URL is returned with isPublic true and a warning, since signing a public object provides no protection. Accepts a JWT (Bearer) or a project API key.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expires_in Signed-URL lifetime in seconds for private files. Clamped to the server&#39;s min/max range; ignored for public files. Defaults to the server&#39;s configured expiry.
    # @return [ApiFilesDownloadFileIdGet200Response]
    def api_files_download_file_id_get(file_id, opts = {})
      data, _status_code, _headers = api_files_download_file_id_get_with_http_info(file_id, opts)
      data
    end

    # Get a download URL for a file
    # Returns a URL to download the file. For private files a short-lived signed URL is generated; the lifetime can be tuned per request via the optional expiresIn query parameter (seconds, clamped to a safe server-configured range). For public (public-read) files the permanent world-readable URL is returned with isPublic true and a warning, since signing a public object provides no protection. Accepts a JWT (Bearer) or a project API key.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :expires_in Signed-URL lifetime in seconds for private files. Clamped to the server&#39;s min/max range; ignored for public files. Defaults to the server&#39;s configured expiry.
    # @return [Array<(ApiFilesDownloadFileIdGet200Response, Integer, Hash)>] ApiFilesDownloadFileIdGet200Response data, response status code and response headers
    def api_files_download_file_id_get_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.api_files_download_file_id_get ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.api_files_download_file_id_get"
      end
      if @api_client.config.client_side_validation && !opts[:'expires_in'].nil? && opts[:'expires_in'] < 1
        fail ArgumentError, 'invalid value for "opts[:"expires_in"]" when calling FilesApi.api_files_download_file_id_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/files/download/{fileId}'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'expiresIn'] = opts[:'expires_in'] if !opts[:'expires_in'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiFilesDownloadFileIdGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.api_files_download_file_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#api_files_download_file_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redirect to an org/project logo's content
    # Unauthenticated. Logos are always meant to be public branding assets, but the object storage backend has no per-object ACL, so this route (not the bucket) is what actually serves them - the `key` query param is validated against the exact shape logoStorageService.uploadLogo() produces before signing, so this can never be used to fetch an arbitrary storage key. 302-redirects to a short-lived signed GET url.
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_files_logo_redirect_get(key, opts = {})
      api_files_logo_redirect_get_with_http_info(key, opts)
      nil
    end

    # Redirect to an org/project logo&#39;s content
    # Unauthenticated. Logos are always meant to be public branding assets, but the object storage backend has no per-object ACL, so this route (not the bucket) is what actually serves them - the &#x60;key&#x60; query param is validated against the exact shape logoStorageService.uploadLogo() produces before signing, so this can never be used to fetch an arbitrary storage key. 302-redirects to a short-lived signed GET url.
    # @param key [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_files_logo_redirect_get_with_http_info(key, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.api_files_logo_redirect_get ...'
      end
      # verify the required parameter 'key' is set
      if @api_client.config.client_side_validation && key.nil?
        fail ArgumentError, "Missing the required parameter 'key' when calling FilesApi.api_files_logo_redirect_get"
      end
      # resource path
      local_var_path = '/api/files/logo-redirect'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'key'] = key

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.api_files_logo_redirect_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#api_files_logo_redirect_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Redirect to a public file's content
    # Unauthenticated. Only serves files with isPublic=true whose upload has been confirmed and whose virus scan came back clean - the object storage backend has no per-object ACL, so this route (not the storage bucket) is what actually decides whether a \"public\" file's bytes are reachable. 302-redirects to a fresh, short-lived (60s) signed GET url so the actual bytes are still served straight off the storage edge.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_files_public_file_id_get(file_id, opts = {})
      api_files_public_file_id_get_with_http_info(file_id, opts)
      nil
    end

    # Redirect to a public file&#39;s content
    # Unauthenticated. Only serves files with isPublic&#x3D;true whose upload has been confirmed and whose virus scan came back clean - the object storage backend has no per-object ACL, so this route (not the storage bucket) is what actually decides whether a \&quot;public\&quot; file&#39;s bytes are reachable. 302-redirects to a fresh, short-lived (60s) signed GET url so the actual bytes are still served straight off the storage edge.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_files_public_file_id_get_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.api_files_public_file_id_get ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.api_files_public_file_id_get"
      end
      # resource path
      local_var_path = '/api/files/public/{fileId}'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.api_files_public_file_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#api_files_public_file_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Confirm direct upload (scan + finalize metadata)
    # After a client uploads directly to object storage using the presigned PUT URL, call this endpoint to have the server scan the object, create the File record, and optionally quarantine if infected.
    # @param confirm_direct_upload_request [ConfirmDirectUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfirmUploadResponse]
    def confirm_direct_upload(confirm_direct_upload_request, opts = {})
      data, _status_code, _headers = confirm_direct_upload_with_http_info(confirm_direct_upload_request, opts)
      data
    end

    # Confirm direct upload (scan + finalize metadata)
    # After a client uploads directly to object storage using the presigned PUT URL, call this endpoint to have the server scan the object, create the File record, and optionally quarantine if infected.
    # @param confirm_direct_upload_request [ConfirmDirectUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmUploadResponse, Integer, Hash)>] ConfirmUploadResponse data, response status code and response headers
    def confirm_direct_upload_with_http_info(confirm_direct_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.confirm_direct_upload ...'
      end
      # verify the required parameter 'confirm_direct_upload_request' is set
      if @api_client.config.client_side_validation && confirm_direct_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_direct_upload_request' when calling FilesApi.confirm_direct_upload"
      end
      # resource path
      local_var_path = '/api/files/upload/confirm'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_direct_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfirmUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.confirm_direct_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#confirm_direct_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete file
    # Delete a file from a bucket permanently. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_file(project_id, bucket_id, file_id, opts = {})
      data, _status_code, _headers = delete_file_with_http_info(project_id, bucket_id, file_id, opts)
      data
    end

    # Delete file
    # Delete a file from a bucket permanently. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_file_with_http_info(project_id, bucket_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.delete_file ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FilesApi.delete_file"
      end
      # verify the required parameter 'bucket_id' is set
      if @api_client.config.client_side_validation && bucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_id' when calling FilesApi.delete_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.delete_file"
      end
      # resource path
      local_var_path = '/api/bucket/projects/{projectId}/buckets/{bucketId}/files/{fileId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketId' + '}', CGI.escape(bucket_id.to_s)).sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.delete_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#delete_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Download file from bucket
    # Download a file from a bucket. For public files, no authentication is required. For private files, a download token (obtained via signed URL endpoint) is required in the query parameter. Accepts: Token-based authentication via query parameter (for private files), or no authentication (for public files). 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token 
    # @return [File]
    def download_bucket_file(file_id, opts = {})
      data, _status_code, _headers = download_bucket_file_with_http_info(file_id, opts)
      data
    end

    # Download file from bucket
    # Download a file from a bucket. For public files, no authentication is required. For private files, a download token (obtained via signed URL endpoint) is required in the query parameter. Accepts: Token-based authentication via query parameter (for private files), or no authentication (for public files). 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token 
    # @return [Array<(File, Integer, Hash)>] File data, response status code and response headers
    def download_bucket_file_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.download_bucket_file ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.download_bucket_file"
      end
      # resource path
      local_var_path = '/api/bucket/files/{fileId}/download'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/octet-stream', 'application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'File'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FilesApi.download_bucket_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#download_bucket_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a presigned URL for downloading a file
    # Returns a time-limited provider-signed URL for direct download. Server enforces RBAC before issuing the URL.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token 
    # @return [SignedUrlResponse]
    def download_file(file_id, opts = {})
      data, _status_code, _headers = download_file_with_http_info(file_id, opts)
      data
    end

    # Generate a presigned URL for downloading a file
    # Returns a time-limited provider-signed URL for direct download. Server enforces RBAC before issuing the URL.
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token 
    # @return [Array<(SignedUrlResponse, Integer, Hash)>] SignedUrlResponse data, response status code and response headers
    def download_file_with_http_info(file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.download_file ...'
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.download_file"
      end
      # resource path
      local_var_path = '/api/files/{fileId}/download'.sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SignedUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.download_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#download_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate a presigned PUT URL for direct browser upload
    # Issue a presigned PUT URL for clients to upload directly to object storage. The server stores the issued key with expiry and RBAC is enforced. PUT (not POST) is used because the object storage backend does not implement a POST-based upload API. The client must PUT the file body to `url` with the exact `headers` returned (a Content-Type mismatch fails with SignatureDoesNotMatch). `maxFileUploadBytes` is enforced server-side by `/api/files/upload/confirm` after the upload, not by the presigned URL itself. 
    # @param generate_presigned_upload_request [GeneratePresignedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PresignedPostResponse]
    def generate_presigned_upload(generate_presigned_upload_request, opts = {})
      data, _status_code, _headers = generate_presigned_upload_with_http_info(generate_presigned_upload_request, opts)
      data
    end

    # Generate a presigned PUT URL for direct browser upload
    # Issue a presigned PUT URL for clients to upload directly to object storage. The server stores the issued key with expiry and RBAC is enforced. PUT (not POST) is used because the object storage backend does not implement a POST-based upload API. The client must PUT the file body to &#x60;url&#x60; with the exact &#x60;headers&#x60; returned (a Content-Type mismatch fails with SignatureDoesNotMatch). &#x60;maxFileUploadBytes&#x60; is enforced server-side by &#x60;/api/files/upload/confirm&#x60; after the upload, not by the presigned URL itself. 
    # @param generate_presigned_upload_request [GeneratePresignedUploadRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PresignedPostResponse, Integer, Hash)>] PresignedPostResponse data, response status code and response headers
    def generate_presigned_upload_with_http_info(generate_presigned_upload_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.generate_presigned_upload ...'
      end
      # verify the required parameter 'generate_presigned_upload_request' is set
      if @api_client.config.client_side_validation && generate_presigned_upload_request.nil?
        fail ArgumentError, "Missing the required parameter 'generate_presigned_upload_request' when calling FilesApi.generate_presigned_upload"
      end
      # resource path
      local_var_path = '/api/files/upload/presigned'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(generate_presigned_upload_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PresignedPostResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.generate_presigned_upload",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#generate_presigned_upload\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Generate signed URL for file
    # Generate a time-limited signed URL for downloading a private file. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GenerateSignedUrlRequest] :generate_signed_url_request 
    # @return [SignedUrlResponse]
    def generate_signed_url(project_id, bucket_id, file_id, opts = {})
      data, _status_code, _headers = generate_signed_url_with_http_info(project_id, bucket_id, file_id, opts)
      data
    end

    # Generate signed URL for file
    # Generate a time-limited signed URL for downloading a private file. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [GenerateSignedUrlRequest] :generate_signed_url_request 
    # @return [Array<(SignedUrlResponse, Integer, Hash)>] SignedUrlResponse data, response status code and response headers
    def generate_signed_url_with_http_info(project_id, bucket_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.generate_signed_url ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FilesApi.generate_signed_url"
      end
      # verify the required parameter 'bucket_id' is set
      if @api_client.config.client_side_validation && bucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_id' when calling FilesApi.generate_signed_url"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.generate_signed_url"
      end
      # resource path
      local_var_path = '/api/bucket/projects/{projectId}/buckets/{bucketId}/files/{fileId}/signed-url'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketId' + '}', CGI.escape(bucket_id.to_s)).sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'generate_signed_url_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'SignedUrlResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.generate_signed_url",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#generate_signed_url\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get file metadata
    # Get metadata for a specific file in a bucket. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FileResponse]
    def get_file(project_id, bucket_id, file_id, opts = {})
      data, _status_code, _headers = get_file_with_http_info(project_id, bucket_id, file_id, opts)
      data
    end

    # Get file metadata
    # Get metadata for a specific file in a bucket. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param file_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileResponse, Integer, Hash)>] FileResponse data, response status code and response headers
    def get_file_with_http_info(project_id, bucket_id, file_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.get_file ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FilesApi.get_file"
      end
      # verify the required parameter 'bucket_id' is set
      if @api_client.config.client_side_validation && bucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_id' when calling FilesApi.get_file"
      end
      # verify the required parameter 'file_id' is set
      if @api_client.config.client_side_validation && file_id.nil?
        fail ArgumentError, "Missing the required parameter 'file_id' when calling FilesApi.get_file"
      end
      # resource path
      local_var_path = '/api/bucket/projects/{projectId}/buckets/{bucketId}/files/{fileId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketId' + '}', CGI.escape(bucket_id.to_s)).sub('{' + 'fileId' + '}', CGI.escape(file_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.get_file",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#get_file\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List files in bucket
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :search 
    # @option opts [String] :type 
    # @return [FileListResponse]
    def list_files(project_id, bucket_id, opts = {})
      data, _status_code, _headers = list_files_with_http_info(project_id, bucket_id, opts)
      data
    end

    # List files in bucket
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :search 
    # @option opts [String] :type 
    # @return [Array<(FileListResponse, Integer, Hash)>] FileListResponse data, response status code and response headers
    def list_files_with_http_info(project_id, bucket_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.list_files ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FilesApi.list_files"
      end
      # verify the required parameter 'bucket_id' is set
      if @api_client.config.client_side_validation && bucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_id' when calling FilesApi.list_files"
      end
      # resource path
      local_var_path = '/api/bucket/projects/{projectId}/buckets/{bucketId}/files'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketId' + '}', CGI.escape(bucket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.list_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#list_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload files to bucket
    # Upload one or more files to a storage bucket using multipart/form-data. Per-file size is limited by the org plan (`maxFileUploadBytes`) and bucket `maxFileSize`, whichever is stricter. Exceeding the limit returns **413**. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param files [Array<File>] 
    # @param [Hash] opts the optional parameters
    # @return [FileUploadResponse]
    def upload_files(project_id, bucket_id, files, opts = {})
      data, _status_code, _headers = upload_files_with_http_info(project_id, bucket_id, files, opts)
      data
    end

    # Upload files to bucket
    # Upload one or more files to a storage bucket using multipart/form-data. Per-file size is limited by the org plan (&#x60;maxFileUploadBytes&#x60;) and bucket &#x60;maxFileSize&#x60;, whichever is stricter. Exceeding the limit returns **413**. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param bucket_id [String] 
    # @param files [Array<File>] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FileUploadResponse, Integer, Hash)>] FileUploadResponse data, response status code and response headers
    def upload_files_with_http_info(project_id, bucket_id, files, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FilesApi.upload_files ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FilesApi.upload_files"
      end
      # verify the required parameter 'bucket_id' is set
      if @api_client.config.client_side_validation && bucket_id.nil?
        fail ArgumentError, "Missing the required parameter 'bucket_id' when calling FilesApi.upload_files"
      end
      # verify the required parameter 'files' is set
      if @api_client.config.client_side_validation && files.nil?
        fail ArgumentError, "Missing the required parameter 'files' when calling FilesApi.upload_files"
      end
      # resource path
      local_var_path = '/api/bucket/projects/{projectId}/buckets/{bucketId}/files'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'bucketId' + '}', CGI.escape(bucket_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['files'] = @api_client.build_collection_param(files, :multi)

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FileUploadResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FilesApi.upload_files",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FilesApi#upload_files\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
