=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.15
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class FunctionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Activate function
    # Activate a deactivated function. Active functions can be triggered.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionResponse]
    def activate_function(project_id, function_id, opts = {})
      data, _status_code, _headers = activate_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Activate function
    # Activate a deactivated function. Active functions can be triggered.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def activate_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.activate_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.activate_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.activate_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/activate'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.activate_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#activate_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create function
    # Create a new serverless function. Trigger types: http, document, file, webhook, cron, messaging. Sandbox globals available today: `payload`, `context`, `env`, `console`. Function code runs in an isolated worker with no ambient network or database access — it can only read its trigger payload, the `env` vars you configure, and return a JSON-serializable result; it cannot yet call back into your project's database, storage, or messaging APIs from inside the function body. If you need to read or write project data from a function, call the regular REST API (with your own API key) from your own backend in response to the function's returned result, rather than from within the function's own code. 
    # @param project_id [String] 
    # @param create_function_request [CreateFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionResponse]
    def create_function(project_id, create_function_request, opts = {})
      data, _status_code, _headers = create_function_with_http_info(project_id, create_function_request, opts)
      data
    end

    # Create function
    # Create a new serverless function. Trigger types: http, document, file, webhook, cron, messaging. Sandbox globals available today: &#x60;payload&#x60;, &#x60;context&#x60;, &#x60;env&#x60;, &#x60;console&#x60;. Function code runs in an isolated worker with no ambient network or database access — it can only read its trigger payload, the &#x60;env&#x60; vars you configure, and return a JSON-serializable result; it cannot yet call back into your project&#39;s database, storage, or messaging APIs from inside the function body. If you need to read or write project data from a function, call the regular REST API (with your own API key) from your own backend in response to the function&#39;s returned result, rather than from within the function&#39;s own code. 
    # @param project_id [String] 
    # @param create_function_request [CreateFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def create_function_with_http_info(project_id, create_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.create_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.create_function"
      end
      # verify the required parameter 'create_function_request' is set
      if @api_client.config.client_side_validation && create_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_function_request' when calling FunctionsApi.create_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.create_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#create_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deactivate function
    # Deactivate a function. Deactivated functions will not be triggered.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionResponse]
    def deactivate_function(project_id, function_id, opts = {})
      data, _status_code, _headers = deactivate_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Deactivate function
    # Deactivate a function. Deactivated functions will not be triggered.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def deactivate_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.deactivate_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.deactivate_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.deactivate_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/deactivate'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.deactivate_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#deactivate_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete function
    # Delete a function permanently. This is a destructive operation.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteFunction200Response]
    def delete_function(project_id, function_id, opts = {})
      data, _status_code, _headers = delete_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Delete function
    # Delete a function permanently. This is a destructive operation.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteFunction200Response, Integer, Hash)>] DeleteFunction200Response data, response status code and response headers
    def delete_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.delete_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.delete_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.delete_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteFunction200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.delete_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#delete_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Execute function
    # Manually execute a function with custom payload. Payload is merged with auto-injected trigger context. Rate limited (data mutation rate limiter). Enforces maxExecutionsPerMinute/maxExecutionsPerHour.  This endpoint is asynchronous: it returns 202 immediately with an `executionId`, before the function has necessarily finished running. Poll `GET /api/functions/projects/{projectId}/functions/{functionId}/executions/{executionId}` until `status` leaves `queued`/`running` to get the real result, error, and duration. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExecuteFunctionRequest] :execute_function_request 
    # @return [FunctionExecutionResponse]
    def execute_function(project_id, function_id, opts = {})
      data, _status_code, _headers = execute_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Execute function
    # Manually execute a function with custom payload. Payload is merged with auto-injected trigger context. Rate limited (data mutation rate limiter). Enforces maxExecutionsPerMinute/maxExecutionsPerHour.  This endpoint is asynchronous: it returns 202 immediately with an &#x60;executionId&#x60;, before the function has necessarily finished running. Poll &#x60;GET /api/functions/projects/{projectId}/functions/{functionId}/executions/{executionId}&#x60; until &#x60;status&#x60; leaves &#x60;queued&#x60;/&#x60;running&#x60; to get the real result, error, and duration. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ExecuteFunctionRequest] :execute_function_request 
    # @return [Array<(FunctionExecutionResponse, Integer, Hash)>] FunctionExecutionResponse data, response status code and response headers
    def execute_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.execute_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.execute_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.execute_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/execute'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'execute_function_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.execute_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#execute_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get function
    # Get function details by ID including createdBy/updatedBy.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionResponse]
    def get_function(project_id, function_id, opts = {})
      data, _status_code, _headers = get_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Get function
    # Get function details by ID including createdBy/updatedBy.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def get_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.get_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get execution status
    # Poll this after Execute function or Simulate trigger to get the real outcome — both of those endpoints return 202 immediately and do not carry the result themselves. `status` is one of `queued`, `provisioning`, `running`, `success`, `failed`, `timeout`; `result`/`error`/`durationMs`/`logs` are only populated once `status` leaves `queued`/`running`. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionExecutionStatusResponse]
    def get_function_execution(project_id, function_id, execution_id, opts = {})
      data, _status_code, _headers = get_function_execution_with_http_info(project_id, function_id, execution_id, opts)
      data
    end

    # Get execution status
    # Poll this after Execute function or Simulate trigger to get the real outcome — both of those endpoints return 202 immediately and do not carry the result themselves. &#x60;status&#x60; is one of &#x60;queued&#x60;, &#x60;provisioning&#x60;, &#x60;running&#x60;, &#x60;success&#x60;, &#x60;failed&#x60;, &#x60;timeout&#x60;; &#x60;result&#x60;/&#x60;error&#x60;/&#x60;durationMs&#x60;/&#x60;logs&#x60; are only populated once &#x60;status&#x60; leaves &#x60;queued&#x60;/&#x60;running&#x60;. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param execution_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionExecutionStatusResponse, Integer, Hash)>] FunctionExecutionStatusResponse data, response status code and response headers
    def get_function_execution_with_http_info(project_id, function_id, execution_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function_execution ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.get_function_execution"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function_execution"
      end
      # verify the required parameter 'execution_id' is set
      if @api_client.config.client_side_validation && execution_id.nil?
        fail ArgumentError, "Missing the required parameter 'execution_id' when calling FunctionsApi.get_function_execution"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/executions/{executionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'executionId' + '}', CGI.escape(execution_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionExecutionStatusResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get function execution logs
    # Get execution logs with pagination. Includes stats (totalExecutions, successful, failed, successRate, avgExecutionTime, lastRun).
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [FunctionLogsResponse]
    def get_function_logs(project_id, function_id, opts = {})
      data, _status_code, _headers = get_function_logs_with_http_info(project_id, function_id, opts)
      data
    end

    # Get function execution logs
    # Get execution logs with pagination. Includes stats (totalExecutions, successful, failed, successRate, avgExecutionTime, lastRun).
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 50)
    # @option opts [Integer] :offset  (default to 0)
    # @return [Array<(FunctionLogsResponse, Integer, Hash)>] FunctionLogsResponse data, response status code and response headers
    def get_function_logs_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function_logs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.get_function_logs"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function_logs"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/logs'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionLogsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get function versions
    # List all code versions for a function. Used for rollback.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFunctionVersions200Response]
    def get_function_versions(project_id, function_id, opts = {})
      data, _status_code, _headers = get_function_versions_with_http_info(project_id, function_id, opts)
      data
    end

    # Get function versions
    # List all code versions for a function. Used for rollback.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFunctionVersions200Response, Integer, Hash)>] GetFunctionVersions200Response data, response status code and response headers
    def get_function_versions_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.get_function_versions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.get_function_versions"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.get_function_versions"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/versions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFunctionVersions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.get_function_versions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#get_function_versions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List functions
    # List serverless functions in a project with optional search and filters. Supports trigger types: http, event, document, file, webhook, cron, messaging. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :search Search by name or description
    # @option opts [String] :trigger_type Filter by trigger type
    # @option opts [Boolean] :is_active Filter by active status (true/false)
    # @return [FunctionListResponse]
    def list_functions(project_id, opts = {})
      data, _status_code, _headers = list_functions_with_http_info(project_id, opts)
      data
    end

    # List functions
    # List serverless functions in a project with optional search and filters. Supports trigger types: http, event, document, file, webhook, cron, messaging. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :search Search by name or description
    # @option opts [String] :trigger_type Filter by trigger type
    # @option opts [Boolean] :is_active Filter by active status (true/false)
    # @return [Array<(FunctionListResponse, Integer, Hash)>] FunctionListResponse data, response status code and response headers
    def list_functions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.list_functions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.list_functions"
      end
      allowable_values = ["http", "event", "document", "file", "webhook", "cron", "messaging"]
      if @api_client.config.client_side_validation && opts[:'trigger_type'] && !allowable_values.include?(opts[:'trigger_type'])
        fail ArgumentError, "invalid value for \"trigger_type\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'search'] = opts[:'search'] if !opts[:'search'].nil?
      query_params[:'triggerType'] = opts[:'trigger_type'] if !opts[:'trigger_type'].nil?
      query_params[:'isActive'] = opts[:'is_active'] if !opts[:'is_active'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.list_functions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#list_functions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry failed execution
    # Retry a failed execution by its index (0-based) in the logs. Cannot retry successful executions.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param execution_index [Integer] 0-based index of the execution in logs
    # @param [Hash] opts the optional parameters
    # @return [FunctionExecutionResponse]
    def retry_function_execution(project_id, function_id, execution_index, opts = {})
      data, _status_code, _headers = retry_function_execution_with_http_info(project_id, function_id, execution_index, opts)
      data
    end

    # Retry failed execution
    # Retry a failed execution by its index (0-based) in the logs. Cannot retry successful executions.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param execution_index [Integer] 0-based index of the execution in logs
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionExecutionResponse, Integer, Hash)>] FunctionExecutionResponse data, response status code and response headers
    def retry_function_execution_with_http_info(project_id, function_id, execution_index, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.retry_function_execution ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.retry_function_execution"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.retry_function_execution"
      end
      # verify the required parameter 'execution_index' is set
      if @api_client.config.client_side_validation && execution_index.nil?
        fail ArgumentError, "Missing the required parameter 'execution_index' when calling FunctionsApi.retry_function_execution"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/retry/{executionIndex}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s)).sub('{' + 'executionIndex' + '}', CGI.escape(execution_index.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.retry_function_execution",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#retry_function_execution\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rollback to previous version
    # Rollback function code to a previous version. Version number is required.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param rollback_function_request [RollbackFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [FunctionResponse]
    def rollback_function(project_id, function_id, rollback_function_request, opts = {})
      data, _status_code, _headers = rollback_function_with_http_info(project_id, function_id, rollback_function_request, opts)
      data
    end

    # Rollback to previous version
    # Rollback function code to a previous version. Version number is required.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param rollback_function_request [RollbackFunctionRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def rollback_function_with_http_info(project_id, function_id, rollback_function_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.rollback_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.rollback_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.rollback_function"
      end
      # verify the required parameter 'rollback_function_request' is set
      if @api_client.config.client_side_validation && rollback_function_request.nil?
        fail ArgumentError, "Missing the required parameter 'rollback_function_request' when calling FunctionsApi.rollback_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/rollback'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(rollback_function_request)

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.rollback_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#rollback_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulate trigger
    # Test a function with simulated trigger context. Use to verify document, file, webhook, or cron payloads. Executes the function with the provided eventContext merged into the payload.  Asynchronous, same pattern as Execute function: returns 202 immediately with an `executionId`. Poll `GET /api/functions/projects/{projectId}/functions/{functionId}/executions/{executionId}` for the real result. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SimulateFunctionTriggerRequest] :simulate_function_trigger_request 
    # @return [FunctionExecutionResponse]
    def simulate_function_trigger(project_id, function_id, opts = {})
      data, _status_code, _headers = simulate_function_trigger_with_http_info(project_id, function_id, opts)
      data
    end

    # Simulate trigger
    # Test a function with simulated trigger context. Use to verify document, file, webhook, or cron payloads. Executes the function with the provided eventContext merged into the payload.  Asynchronous, same pattern as Execute function: returns 202 immediately with an &#x60;executionId&#x60;. Poll &#x60;GET /api/functions/projects/{projectId}/functions/{functionId}/executions/{executionId}&#x60; for the real result. 
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [SimulateFunctionTriggerRequest] :simulate_function_trigger_request 
    # @return [Array<(FunctionExecutionResponse, Integer, Hash)>] FunctionExecutionResponse data, response status code and response headers
    def simulate_function_trigger_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.simulate_function_trigger ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.simulate_function_trigger"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.simulate_function_trigger"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}/simulate'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'simulate_function_trigger_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionExecutionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.simulate_function_trigger",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#simulate_function_trigger\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Trigger webhook functions
    # Public endpoint for external services to trigger functions with `trigger.type: webhook`. No authentication required. Optionally verify using `X-Webhook-Secret` header (configure per project or via FUNCTION_WEBHOOK_SECRET). Rate limited to 120 requests per 15 minutes per IP (per-org adjustable). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_webhook_secret Optional webhook secret for verification
    # @option opts [Object] :body 
    # @return [TriggerFunctionWebhook200Response]
    def trigger_function_webhook(project_id, opts = {})
      data, _status_code, _headers = trigger_function_webhook_with_http_info(project_id, opts)
      data
    end

    # Trigger webhook functions
    # Public endpoint for external services to trigger functions with &#x60;trigger.type: webhook&#x60;. No authentication required. Optionally verify using &#x60;X-Webhook-Secret&#x60; header (configure per project or via FUNCTION_WEBHOOK_SECRET). Rate limited to 120 requests per 15 minutes per IP (per-org adjustable). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_webhook_secret Optional webhook secret for verification
    # @option opts [Object] :body 
    # @return [Array<(TriggerFunctionWebhook200Response, Integer, Hash)>] TriggerFunctionWebhook200Response data, response status code and response headers
    def trigger_function_webhook_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.trigger_function_webhook ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.trigger_function_webhook"
      end
      # resource path
      local_var_path = '/api/functions/webhook/{projectId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json', 'application/x-www-form-urlencoded', 'text/plain'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Webhook-Secret'] = opts[:'x_webhook_secret'] if !opts[:'x_webhook_secret'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'body'])

      # return_type
      return_type = opts[:debug_return_type] || 'TriggerFunctionWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"FunctionsApi.trigger_function_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#trigger_function_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update function
    # Update function configuration. Code changes are versioned automatically.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateFunctionRequest] :update_function_request 
    # @return [FunctionResponse]
    def update_function(project_id, function_id, opts = {})
      data, _status_code, _headers = update_function_with_http_info(project_id, function_id, opts)
      data
    end

    # Update function
    # Update function configuration. Code changes are versioned automatically.
    # @param project_id [String] 
    # @param function_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateFunctionRequest] :update_function_request 
    # @return [Array<(FunctionResponse, Integer, Hash)>] FunctionResponse data, response status code and response headers
    def update_function_with_http_info(project_id, function_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: FunctionsApi.update_function ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling FunctionsApi.update_function"
      end
      # verify the required parameter 'function_id' is set
      if @api_client.config.client_side_validation && function_id.nil?
        fail ArgumentError, "Missing the required parameter 'function_id' when calling FunctionsApi.update_function"
      end
      # resource path
      local_var_path = '/api/functions/projects/{projectId}/functions/{functionId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'functionId' + '}', CGI.escape(function_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_function_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'FunctionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"FunctionsApi.update_function",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: FunctionsApi#update_function\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
