=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.13
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class KYCApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List recent compliance webhook deliveries
    # Audit trail of compliance webhook events received for this organization and whether Mudbase forwarded each one to the organization's own endpoint. Owner, admin, and developer roles.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of events to return. (default to 25)
    # @return [nil]
    def api_kyc_events_get(opts = {})
      api_kyc_events_get_with_http_info(opts)
      nil
    end

    # List recent compliance webhook deliveries
    # Audit trail of compliance webhook events received for this organization and whether Mudbase forwarded each one to the organization&#39;s own endpoint. Owner, admin, and developer roles.
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Maximum number of events to return. (default to 25)
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_kyc_events_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_events_get ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 100
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KYCApi.api_kyc_events_get, must be smaller than or equal to 100.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling KYCApi.api_kyc_events_get, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/kyc/events'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_events_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_events_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a platform KYC session
    # Creates a verification session for the caller's organization. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [ApiKycSessionsPostRequest] :api_kyc_sessions_post_request 
    # @return [nil]
    def api_kyc_sessions_post(opts = {})
      api_kyc_sessions_post_with_http_info(opts)
      nil
    end

    # Start a platform KYC session
    # Creates a verification session for the caller&#39;s organization. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [ApiKycSessionsPostRequest] :api_kyc_sessions_post_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_kyc_sessions_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_sessions_post ...'
      end
      # resource path
      local_var_path = '/api/kyc/sessions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'api_kyc_sessions_post_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_sessions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_sessions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the organization's platform KYC status
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_kyc_status_get(opts = {})
      api_kyc_status_get_with_http_info(opts)
      nil
    end

    # Get the organization&#39;s platform KYC status
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_kyc_status_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_status_get ...'
      end
      # resource path
      local_var_path = '/api/kyc/status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_status_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_status_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a single KYC verification record
    # @param id [String] Verification record id.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def api_kyc_verifications_id_get(id, opts = {})
      api_kyc_verifications_id_get_with_http_info(id, opts)
      nil
    end

    # Get a single KYC verification record
    # @param id [String] Verification record id.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_kyc_verifications_id_get_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_verifications_id_get ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling KYCApi.api_kyc_verifications_id_get"
      end
      # resource path
      local_var_path = '/api/kyc/verifications/{id}'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_verifications_id_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_verifications_id_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get white-label KYC webhook config
    # Returns the destination URL where the organization's own system receives KYC results and whether a signing secret is set. The secret value itself is never returned. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [ApiKycWebhookConfigGet200Response]
    def api_kyc_webhook_config_get(opts = {})
      data, _status_code, _headers = api_kyc_webhook_config_get_with_http_info(opts)
      data
    end

    # Get white-label KYC webhook config
    # Returns the destination URL where the organization&#39;s own system receives KYC results and whether a signing secret is set. The secret value itself is never returned. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKycWebhookConfigGet200Response, Integer, Hash)>] ApiKycWebhookConfigGet200Response data, response status code and response headers
    def api_kyc_webhook_config_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_webhook_config_get ...'
      end
      # resource path
      local_var_path = '/api/kyc/webhook-config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKycWebhookConfigGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_webhook_config_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_webhook_config_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set white-label KYC webhook config
    # Updates the destination URL and/or signing secret used to deliver KYC results to the organization's own system. The outbound URL is SSRF-validated. When generateSecret is true a new secret is created and returned once. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [ApiKycWebhookConfigPutRequest] :api_kyc_webhook_config_put_request 
    # @return [ApiKycWebhookConfigPut200Response]
    def api_kyc_webhook_config_put(opts = {})
      data, _status_code, _headers = api_kyc_webhook_config_put_with_http_info(opts)
      data
    end

    # Set white-label KYC webhook config
    # Updates the destination URL and/or signing secret used to deliver KYC results to the organization&#39;s own system. The outbound URL is SSRF-validated. When generateSecret is true a new secret is created and returned once. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @option opts [ApiKycWebhookConfigPutRequest] :api_kyc_webhook_config_put_request 
    # @return [Array<(ApiKycWebhookConfigPut200Response, Integer, Hash)>] ApiKycWebhookConfigPut200Response data, response status code and response headers
    def api_kyc_webhook_config_put_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_webhook_config_put ...'
      end
      # resource path
      local_var_path = '/api/kyc/webhook-config'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'api_kyc_webhook_config_put_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKycWebhookConfigPut200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_webhook_config_put",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_webhook_config_put\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a signed test event to the configured webhook endpoint
    # Delivers a sample `kyc.test` payload, signed exactly like a real event, so you can confirm your receiver and signature verification work. Ignores your event subscription. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [ApiKycWebhookConfigTestPost200Response]
    def api_kyc_webhook_config_test_post(opts = {})
      data, _status_code, _headers = api_kyc_webhook_config_test_post_with_http_info(opts)
      data
    end

    # Send a signed test event to the configured webhook endpoint
    # Delivers a sample &#x60;kyc.test&#x60; payload, signed exactly like a real event, so you can confirm your receiver and signature verification work. Ignores your event subscription. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKycWebhookConfigTestPost200Response, Integer, Hash)>] ApiKycWebhookConfigTestPost200Response data, response status code and response headers
    def api_kyc_webhook_config_test_post_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_webhook_config_test_post ...'
      end
      # resource path
      local_var_path = '/api/kyc/webhook-config/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKycWebhookConfigTestPost200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_webhook_config_test_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_webhook_config_test_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List available verification workflows
    # Returns the verification workflows configured on this Mudbase account, split into kyc (individual identity) and kyb (business verification). Used to choose a default workflow in the console instead of pasting a workflow UUID. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [ApiKycWorkflowsGet200Response]
    def api_kyc_workflows_get(opts = {})
      data, _status_code, _headers = api_kyc_workflows_get_with_http_info(opts)
      data
    end

    # List available verification workflows
    # Returns the verification workflows configured on this Mudbase account, split into kyc (individual identity) and kyb (business verification). Used to choose a default workflow in the console instead of pasting a workflow UUID. Owner/admin only.
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApiKycWorkflowsGet200Response, Integer, Hash)>] ApiKycWorkflowsGet200Response data, response status code and response headers
    def api_kyc_workflows_get_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_kyc_workflows_get ...'
      end
      # resource path
      local_var_path = '/api/kyc/workflows'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ApiKycWorkflowsGet200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_kyc_workflows_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_kyc_workflows_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Start a business verification (KYB) session for one of your business customers
    # Creates a KYB session scoped to your project. The workflow is resolved from the request, then the organization's configured default KYB workflow, then the platform default. Results arrive at your configured KYC webhook as `kyb.completed`.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApiProjectsProjectIdKybSessionsPostRequest] :api_projects_project_id_kyb_sessions_post_request 
    # @return [nil]
    def api_projects_project_id_kyb_sessions_post(project_id, opts = {})
      api_projects_project_id_kyb_sessions_post_with_http_info(project_id, opts)
      nil
    end

    # Start a business verification (KYB) session for one of your business customers
    # Creates a KYB session scoped to your project. The workflow is resolved from the request, then the organization&#39;s configured default KYB workflow, then the platform default. Results arrive at your configured KYC webhook as &#x60;kyb.completed&#x60;.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ApiProjectsProjectIdKybSessionsPostRequest] :api_projects_project_id_kyb_sessions_post_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def api_projects_project_id_kyb_sessions_post_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: KYCApi.api_projects_project_id_kyb_sessions_post ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling KYCApi.api_projects_project_id_kyb_sessions_post"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/kyb/sessions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'api_projects_project_id_kyb_sessions_post_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"KYCApi.api_projects_project_id_kyb_sessions_post",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: KYCApi#api_projects_project_id_kyb_sessions_post\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
