=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.16
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class MessagingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get message history
    # Get message history (push, email, SMS) with filtering and pagination. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @return [MessageHistoryResponse]
    def get_message_history(project_id, opts = {})
      data, _status_code, _headers = get_message_history_with_http_info(project_id, opts)
      data
    end

    # Get message history
    # Get message history (push, email, SMS) with filtering and pagination. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :type 
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @return [Array<(MessageHistoryResponse, Integer, Hash)>] MessageHistoryResponse data, response status code and response headers
    def get_message_history_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_message_history ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_message_history"
      end
      allowable_values = ["push", "email", "sms"]
      if @api_client.config.client_side_validation && opts[:'type'] && !allowable_values.include?(opts[:'type'])
        fail ArgumentError, "invalid value for \"type\", must be one of #{allowable_values}"
      end
      allowable_values = ["sent", "failed", "pending"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/history'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'type'] = opts[:'type'] if !opts[:'type'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageHistoryResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_message_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_message_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get message statistics
    # Get messaging statistics including total messages, success rates, and breakdown by type (push, email, SMS). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @return [MessageStatsResponse]
    def get_message_stats(project_id, opts = {})
      data, _status_code, _headers = get_message_stats_with_http_info(project_id, opts)
      data
    end

    # Get message statistics
    # Get messaging statistics including total messages, success rates, and breakdown by type (push, email, SMS). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @return [Array<(MessageStatsResponse, Integer, Hash)>] MessageStatsResponse data, response status code and response headers
    def get_message_stats_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_message_stats ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_message_stats"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/stats'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_message_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_message_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get bring-your-own push credentials status (masked)
    # Returns whether this project has its own push provider credentials stored (encrypted). This is an optional, advanced override - push works out of the box with platform-managed credentials, so when no per-project credentials are stored, push is sent with the platform-managed credentials.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectFcmConfig200Response]
    def get_project_fcm_config(project_id, opts = {})
      data, _status_code, _headers = get_project_fcm_config_with_http_info(project_id, opts)
      data
    end

    # Get bring-your-own push credentials status (masked)
    # Returns whether this project has its own push provider credentials stored (encrypted). This is an optional, advanced override - push works out of the box with platform-managed credentials, so when no per-project credentials are stored, push is sent with the platform-managed credentials.
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectFcmConfig200Response, Integer, Hash)>] GetProjectFcmConfig200Response data, response status code and response headers
    def get_project_fcm_config_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_project_fcm_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_project_fcm_config"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/push-config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectFcmConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_project_fcm_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_project_fcm_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get BYO SMS provider configuration (masked)
    # Returns enabled flag, provider kind, default sender, and whether credentials are stored. Secrets are never returned. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectSmsByo200Response]
    def get_project_sms_byo(project_id, opts = {})
      data, _status_code, _headers = get_project_sms_byo_with_http_info(project_id, opts)
      data
    end

    # Get BYO SMS provider configuration (masked)
    # Returns enabled flag, provider kind, default sender, and whether credentials are stored. Secrets are never returned. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectSmsByo200Response, Integer, Hash)>] GetProjectSmsByo200Response data, response status code and response headers
    def get_project_sms_byo_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_project_sms_byo ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_project_sms_byo"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/sms-provider'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectSmsByo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_project_sms_byo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_project_sms_byo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the Web Push public key (public)
    # Public read of the VAPID application-server public key a browser needs to subscribe with `pushManager.subscribe({ applicationServerKey })`. This is the one Web Push route that needs no authentication - the public key is designed to be exposed to browser clients. It returns only this project's own key.  When the project has not enabled native Web Push, `enabled` is `false` and `publicKey` is `null`. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushPublicKeyResponse]
    def get_project_vapid_public_key(project_id, opts = {})
      data, _status_code, _headers = get_project_vapid_public_key_with_http_info(project_id, opts)
      data
    end

    # Get the Web Push public key (public)
    # Public read of the VAPID application-server public key a browser needs to subscribe with &#x60;pushManager.subscribe({ applicationServerKey })&#x60;. This is the one Web Push route that needs no authentication - the public key is designed to be exposed to browser clients. It returns only this project&#39;s own key.  When the project has not enabled native Web Push, &#x60;enabled&#x60; is &#x60;false&#x60; and &#x60;publicKey&#x60; is &#x60;null&#x60;. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushPublicKeyResponse, Integer, Hash)>] WebPushPublicKeyResponse data, response status code and response headers
    def get_project_vapid_public_key_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_project_vapid_public_key ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_project_vapid_public_key"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push/public-key'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushPublicKeyResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MessagingApi.get_project_vapid_public_key",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_project_vapid_public_key\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get native Web Push (VAPID) configuration
    # Read this project's native Web Push configuration. Native Web Push delivers browser push directly from Mudbase using the VAPID application-server key - no per-project push provider account is required. This returns whether native Web Push is enabled, whether a VAPID keypair has been provisioned, the public application-server key (when enabled), the RFC 8292 contact subject, and when the current keypair was generated. The private key is never returned.  Native Web Push is off until you enable it (`PATCH` this endpoint). It sits alongside the device-token push path - a project can use either or both.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushConfigResponse]
    def get_project_web_push_config(project_id, opts = {})
      data, _status_code, _headers = get_project_web_push_config_with_http_info(project_id, opts)
      data
    end

    # Get native Web Push (VAPID) configuration
    # Read this project&#39;s native Web Push configuration. Native Web Push delivers browser push directly from Mudbase using the VAPID application-server key - no per-project push provider account is required. This returns whether native Web Push is enabled, whether a VAPID keypair has been provisioned, the public application-server key (when enabled), the RFC 8292 contact subject, and when the current keypair was generated. The private key is never returned.  Native Web Push is off until you enable it (&#x60;PATCH&#x60; this endpoint). It sits alongside the device-token push path - a project can use either or both.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushConfigResponse, Integer, Hash)>] WebPushConfigResponse data, response status code and response headers
    def get_project_web_push_config_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_project_web_push_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.get_project_web_push_config"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push-config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_project_web_push_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_project_web_push_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List registered device tokens
    # List the device push tokens registered to a project, most-recently-seen first.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceListResponse]
    def list_device_tokens(project_id, opts = {})
      data, _status_code, _headers = list_device_tokens_with_http_info(project_id, opts)
      data
    end

    # List registered device tokens
    # List the device push tokens registered to a project, most-recently-seen first.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceListResponse, Integer, Hash)>] DeviceListResponse data, response status code and response headers
    def list_device_tokens_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.list_device_tokens ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.list_device_tokens"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/devices'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.list_device_tokens",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#list_device_tokens\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List registered Web Push subscriptions
    # List the browser Web Push subscriptions registered to a project, most-recently-seen first. The encryption keys are never returned - only the endpoint and metadata.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushSubscriptionListResponse]
    def list_web_push_subscriptions(project_id, opts = {})
      data, _status_code, _headers = list_web_push_subscriptions_with_http_info(project_id, opts)
      data
    end

    # List registered Web Push subscriptions
    # List the browser Web Push subscriptions registered to a project, most-recently-seen first. The encryption keys are never returned - only the endpoint and metadata.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushSubscriptionListResponse, Integer, Hash)>] WebPushSubscriptionListResponse data, response status code and response headers
    def list_web_push_subscriptions_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.list_web_push_subscriptions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.list_web_push_subscriptions"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push/subscriptions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushSubscriptionListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.list_web_push_subscriptions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#list_web_push_subscriptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set or clear your own push service account (optional)
    # Optional advanced step - push works out of the box with platform-managed credentials, so most projects never call this. Use it only to deliver push from your own push provider account. Body `serviceAccountJson` is the Firebase service account JSON you download from your own Firebase project (stored encrypted). Send `clear: true` to remove it and go back to the platform-managed credentials. 
    # @param project_id [String] 
    # @param patch_project_fcm_config_request [PatchProjectFcmConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def patch_project_fcm_config(project_id, patch_project_fcm_config_request, opts = {})
      patch_project_fcm_config_with_http_info(project_id, patch_project_fcm_config_request, opts)
      nil
    end

    # Set or clear your own push service account (optional)
    # Optional advanced step - push works out of the box with platform-managed credentials, so most projects never call this. Use it only to deliver push from your own push provider account. Body &#x60;serviceAccountJson&#x60; is the Firebase service account JSON you download from your own Firebase project (stored encrypted). Send &#x60;clear: true&#x60; to remove it and go back to the platform-managed credentials. 
    # @param project_id [String] 
    # @param patch_project_fcm_config_request [PatchProjectFcmConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def patch_project_fcm_config_with_http_info(project_id, patch_project_fcm_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.patch_project_fcm_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.patch_project_fcm_config"
      end
      # verify the required parameter 'patch_project_fcm_config_request' is set
      if @api_client.config.client_side_validation && patch_project_fcm_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'patch_project_fcm_config_request' when calling MessagingApi.patch_project_fcm_config"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/push-config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(patch_project_fcm_config_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.patch_project_fcm_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#patch_project_fcm_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update BYO SMS provider credentials
    # Body `config` is provider-specific JSON stored encrypted per organization: - **twilio** — `accountSid`, `authToken` (required). Optional `from` sender override used if the send request does not specify `from` and `defaultFrom` is empty. - **termii** — `apiKey` (required). Optional `from` sender name (e.g. brand label). - **africastalking** — `username`, `apiKey` (both required). Optional `from` shortcode or sender ID. On enable, the API validates credentials with a lightweight ping (no SMS sent). See request body **Examples** for sample payloads. 
    # @param project_id [String] 
    # @param project_sms_byo_patch_request [ProjectSmsByoPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectSmsByo200Response]
    def patch_project_sms_byo(project_id, project_sms_byo_patch_request, opts = {})
      data, _status_code, _headers = patch_project_sms_byo_with_http_info(project_id, project_sms_byo_patch_request, opts)
      data
    end

    # Update BYO SMS provider credentials
    # Body &#x60;config&#x60; is provider-specific JSON stored encrypted per organization: - **twilio** — &#x60;accountSid&#x60;, &#x60;authToken&#x60; (required). Optional &#x60;from&#x60; sender override used if the send request does not specify &#x60;from&#x60; and &#x60;defaultFrom&#x60; is empty. - **termii** — &#x60;apiKey&#x60; (required). Optional &#x60;from&#x60; sender name (e.g. brand label). - **africastalking** — &#x60;username&#x60;, &#x60;apiKey&#x60; (both required). Optional &#x60;from&#x60; shortcode or sender ID. On enable, the API validates credentials with a lightweight ping (no SMS sent). See request body **Examples** for sample payloads. 
    # @param project_id [String] 
    # @param project_sms_byo_patch_request [ProjectSmsByoPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectSmsByo200Response, Integer, Hash)>] GetProjectSmsByo200Response data, response status code and response headers
    def patch_project_sms_byo_with_http_info(project_id, project_sms_byo_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.patch_project_sms_byo ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.patch_project_sms_byo"
      end
      # verify the required parameter 'project_sms_byo_patch_request' is set
      if @api_client.config.client_side_validation && project_sms_byo_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'project_sms_byo_patch_request' when calling MessagingApi.patch_project_sms_byo"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/sms-provider'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(project_sms_byo_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectSmsByo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.patch_project_sms_byo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#patch_project_sms_byo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update native Web Push (VAPID) configuration
    # Enable or disable native Web Push, rotate the VAPID keypair, or set the contact subject.  - `enabled: true` turns native Web Push on and provisions a VAPID keypair the first time, so the public-key read path has a key to hand clients immediately. `enabled: false` turns it off. - `rotateKeys: true` regenerates the keypair. This invalidates existing browser subscriptions - clients must re-fetch the new public key and re-subscribe. - `subject` sets the RFC 8292 contact URI - a `mailto:` address or an `https` URL.  Returns the same shape as `GET`. The private key is never returned.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_config_patch_request [WebPushConfigPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushConfigResponse]
    def patch_project_web_push_config(project_id, web_push_config_patch_request, opts = {})
      data, _status_code, _headers = patch_project_web_push_config_with_http_info(project_id, web_push_config_patch_request, opts)
      data
    end

    # Update native Web Push (VAPID) configuration
    # Enable or disable native Web Push, rotate the VAPID keypair, or set the contact subject.  - &#x60;enabled: true&#x60; turns native Web Push on and provisions a VAPID keypair the first time, so the public-key read path has a key to hand clients immediately. &#x60;enabled: false&#x60; turns it off. - &#x60;rotateKeys: true&#x60; regenerates the keypair. This invalidates existing browser subscriptions - clients must re-fetch the new public key and re-subscribe. - &#x60;subject&#x60; sets the RFC 8292 contact URI - a &#x60;mailto:&#x60; address or an &#x60;https&#x60; URL.  Returns the same shape as &#x60;GET&#x60;. The private key is never returned.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_config_patch_request [WebPushConfigPatchRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushConfigResponse, Integer, Hash)>] WebPushConfigResponse data, response status code and response headers
    def patch_project_web_push_config_with_http_info(project_id, web_push_config_patch_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.patch_project_web_push_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.patch_project_web_push_config"
      end
      # verify the required parameter 'web_push_config_patch_request' is set
      if @api_client.config.client_side_validation && web_push_config_patch_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_push_config_patch_request' when calling MessagingApi.patch_project_web_push_config"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push-config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_push_config_patch_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushConfigResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.patch_project_web_push_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#patch_project_web_push_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a device push token
    # Register a device's push token with a project so it can receive push notifications. A client registers its token here first; the send endpoint (`/messaging/push`) only delivers to tokens that are registered to the project, so a caller cannot push to arbitrary or other-tenant tokens.  Registration is idempotent - re-registering a token that already exists just refreshes it (updates `platform` and `lastSeenAt`) instead of creating a duplicate. Each project has a cap on the number of registered tokens; when the cap is reached, the least-recently-seen tokens are evicted to make room, so a register-on-launch call never fails.  Push works out of the box with platform-managed credentials - no provider setup is required to start registering tokens and sending push.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param device_register_request [DeviceRegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceRegisteredResponse]
    def register_device_token(project_id, device_register_request, opts = {})
      data, _status_code, _headers = register_device_token_with_http_info(project_id, device_register_request, opts)
      data
    end

    # Register a device push token
    # Register a device&#39;s push token with a project so it can receive push notifications. A client registers its token here first; the send endpoint (&#x60;/messaging/push&#x60;) only delivers to tokens that are registered to the project, so a caller cannot push to arbitrary or other-tenant tokens.  Registration is idempotent - re-registering a token that already exists just refreshes it (updates &#x60;platform&#x60; and &#x60;lastSeenAt&#x60;) instead of creating a duplicate. Each project has a cap on the number of registered tokens; when the cap is reached, the least-recently-seen tokens are evicted to make room, so a register-on-launch call never fails.  Push works out of the box with platform-managed credentials - no provider setup is required to start registering tokens and sending push.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param device_register_request [DeviceRegisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceRegisteredResponse, Integer, Hash)>] DeviceRegisteredResponse data, response status code and response headers
    def register_device_token_with_http_info(project_id, device_register_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.register_device_token ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.register_device_token"
      end
      # verify the required parameter 'device_register_request' is set
      if @api_client.config.client_side_validation && device_register_request.nil?
        fail ArgumentError, "Missing the required parameter 'device_register_request' when calling MessagingApi.register_device_token"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/devices'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(device_register_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceRegisteredResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.register_device_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#register_device_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a browser Web Push subscription
    # Register a browser `PushSubscription` (the `endpoint` plus the `p256dh` / `auth` keys returned by `pushManager.subscribe()`) so it becomes eligible to receive native Web Push. The send endpoint (`/messaging/push`) only delivers to subscriptions registered to the project, so a caller cannot push to arbitrary or other-tenant endpoints.  Registration is idempotent - re-registering the same endpoint updates the existing row (keys rotate, `lastSeenAt` bumps) instead of creating a duplicate. Each project has a cap on the number of registered subscriptions; when the cap is reached, the least-recently-seen subscriptions are evicted to make room. Optionally associate the subscription with a `userId` (your end-user id, for targeted sends) and a `deviceId`.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_subscribe_request [WebPushSubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushSubscribeResponse]
    def register_web_push_subscription(project_id, web_push_subscribe_request, opts = {})
      data, _status_code, _headers = register_web_push_subscription_with_http_info(project_id, web_push_subscribe_request, opts)
      data
    end

    # Register a browser Web Push subscription
    # Register a browser &#x60;PushSubscription&#x60; (the &#x60;endpoint&#x60; plus the &#x60;p256dh&#x60; / &#x60;auth&#x60; keys returned by &#x60;pushManager.subscribe()&#x60;) so it becomes eligible to receive native Web Push. The send endpoint (&#x60;/messaging/push&#x60;) only delivers to subscriptions registered to the project, so a caller cannot push to arbitrary or other-tenant endpoints.  Registration is idempotent - re-registering the same endpoint updates the existing row (keys rotate, &#x60;lastSeenAt&#x60; bumps) instead of creating a duplicate. Each project has a cap on the number of registered subscriptions; when the cap is reached, the least-recently-seen subscriptions are evicted to make room. Optionally associate the subscription with a &#x60;userId&#x60; (your end-user id, for targeted sends) and a &#x60;deviceId&#x60;.  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_subscribe_request [WebPushSubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushSubscribeResponse, Integer, Hash)>] WebPushSubscribeResponse data, response status code and response headers
    def register_web_push_subscription_with_http_info(project_id, web_push_subscribe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.register_web_push_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.register_web_push_subscription"
      end
      # verify the required parameter 'web_push_subscribe_request' is set
      if @api_client.config.client_side_validation && web_push_subscribe_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_push_subscribe_request' when calling MessagingApi.register_web_push_subscription"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push/subscriptions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_push_subscribe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushSubscribeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.register_web_push_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#register_web_push_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unregister a Web Push subscription
    # Remove a browser Web Push subscription - call this on unsubscribe or logout, so the send endpoint stops delivering to it. The subscription is identified by its `endpoint`, sent in the request body. Removing an endpoint that is not registered is a no-op and still returns 200 (with `removed: false`).  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_unsubscribe_request [WebPushUnsubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [WebPushUnsubscribeResponse]
    def remove_web_push_subscription(project_id, web_push_unsubscribe_request, opts = {})
      data, _status_code, _headers = remove_web_push_subscription_with_http_info(project_id, web_push_unsubscribe_request, opts)
      data
    end

    # Unregister a Web Push subscription
    # Remove a browser Web Push subscription - call this on unsubscribe or logout, so the send endpoint stops delivering to it. The subscription is identified by its &#x60;endpoint&#x60;, sent in the request body. Removing an endpoint that is not registered is a no-op and still returns 200 (with &#x60;removed: false&#x60;).  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param web_push_unsubscribe_request [WebPushUnsubscribeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(WebPushUnsubscribeResponse, Integer, Hash)>] WebPushUnsubscribeResponse data, response status code and response headers
    def remove_web_push_subscription_with_http_info(project_id, web_push_unsubscribe_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.remove_web_push_subscription ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.remove_web_push_subscription"
      end
      # verify the required parameter 'web_push_unsubscribe_request' is set
      if @api_client.config.client_side_validation && web_push_unsubscribe_request.nil?
        fail ArgumentError, "Missing the required parameter 'web_push_unsubscribe_request' when calling MessagingApi.remove_web_push_subscription"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/web-push/subscriptions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(web_push_unsubscribe_request)

      # return_type
      return_type = opts[:debug_return_type] || 'WebPushUnsubscribeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.remove_web_push_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#remove_web_push_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send email
    # Send an email message to one or more recipients. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param email_request [EmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageSentResponse]
    def send_email(project_id, email_request, opts = {})
      data, _status_code, _headers = send_email_with_http_info(project_id, email_request, opts)
      data
    end

    # Send email
    # Send an email message to one or more recipients. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param email_request [EmailRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageSentResponse, Integer, Hash)>] MessageSentResponse data, response status code and response headers
    def send_email_with_http_info(project_id, email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_email ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.send_email"
      end
      # verify the required parameter 'email_request' is set
      if @api_client.config.client_side_validation && email_request.nil?
        fail ArgumentError, "Missing the required parameter 'email_request' when calling MessagingApi.send_email"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/email'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageSentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send push notification
    # Send a push notification to one or more devices. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param push_notification_request [PushNotificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [PushSentResponse]
    def send_push_notification(project_id, push_notification_request, opts = {})
      data, _status_code, _headers = send_push_notification_with_http_info(project_id, push_notification_request, opts)
      data
    end

    # Send push notification
    # Send a push notification to one or more devices. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param push_notification_request [PushNotificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(PushSentResponse, Integer, Hash)>] PushSentResponse data, response status code and response headers
    def send_push_notification_with_http_info(project_id, push_notification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_push_notification ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.send_push_notification"
      end
      # verify the required parameter 'push_notification_request' is set
      if @api_client.config.client_side_validation && push_notification_request.nil?
        fail ArgumentError, "Missing the required parameter 'push_notification_request' when calling MessagingApi.send_push_notification"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/push'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(push_notification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'PushSentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_push_notification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_push_notification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send SMS
    # Send an SMS message to one or more phone numbers. Uses project BYO SMS when configured; otherwise the platform SMS provider if set. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param sms_request [SMSRequest] 
    # @param [Hash] opts the optional parameters
    # @return [MessageSentResponse]
    def send_sms(project_id, sms_request, opts = {})
      data, _status_code, _headers = send_sms_with_http_info(project_id, sms_request, opts)
      data
    end

    # Send SMS
    # Send an SMS message to one or more phone numbers. Uses project BYO SMS when configured; otherwise the platform SMS provider if set. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param sms_request [SMSRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageSentResponse, Integer, Hash)>] MessageSentResponse data, response status code and response headers
    def send_sms_with_http_info(project_id, sms_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_sms ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.send_sms"
      end
      # verify the required parameter 'sms_request' is set
      if @api_client.config.client_side_validation && sms_request.nil?
        fail ArgumentError, "Missing the required parameter 'sms_request' when calling MessagingApi.send_sms"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/sms'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(sms_request)

      # return_type
      return_type = opts[:debug_return_type] || 'MessageSentResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_sms",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_sms\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Unregister a device push token
    # Remove a device push token from a project - call this on logout or when a token rotates, so the send endpoint stops delivering to it.  The token to remove is sent in the request body. Removing a token that is not registered is a no-op and still returns 200 (with `removed: false`).  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param device_unregister_request [DeviceUnregisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [DeviceUnregisteredResponse]
    def unregister_device_token(project_id, device_unregister_request, opts = {})
      data, _status_code, _headers = unregister_device_token_with_http_info(project_id, device_unregister_request, opts)
      data
    end

    # Unregister a device push token
    # Remove a device push token from a project - call this on logout or when a token rotates, so the send endpoint stops delivering to it.  The token to remove is sent in the request body. Removing a token that is not registered is a no-op and still returns 200 (with &#x60;removed: false&#x60;).  Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). 
    # @param project_id [String] 
    # @param device_unregister_request [DeviceUnregisterRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeviceUnregisteredResponse, Integer, Hash)>] DeviceUnregisteredResponse data, response status code and response headers
    def unregister_device_token_with_http_info(project_id, device_unregister_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.unregister_device_token ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MessagingApi.unregister_device_token"
      end
      # verify the required parameter 'device_unregister_request' is set
      if @api_client.config.client_side_validation && device_unregister_request.nil?
        fail ArgumentError, "Missing the required parameter 'device_unregister_request' when calling MessagingApi.unregister_device_token"
      end
      # resource path
      local_var_path = '/api/messaging/projects/{projectId}/messaging/devices'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(device_unregister_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DeviceUnregisteredResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.unregister_device_token",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#unregister_device_token\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
