=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.16
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class MonitoringApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create monitoring alert
    # Create a monitoring alert (plan limit alertsPerProject enforced).
    # @param create_monitoring_alert_request [CreateMonitoringAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_monitoring_alert(create_monitoring_alert_request, opts = {})
      create_monitoring_alert_with_http_info(create_monitoring_alert_request, opts)
      nil
    end

    # Create monitoring alert
    # Create a monitoring alert (plan limit alertsPerProject enforced).
    # @param create_monitoring_alert_request [CreateMonitoringAlertRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_monitoring_alert_with_http_info(create_monitoring_alert_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.create_monitoring_alert ...'
      end
      # verify the required parameter 'create_monitoring_alert_request' is set
      if @api_client.config.client_side_validation && create_monitoring_alert_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_monitoring_alert_request' when calling MonitoringApi.create_monitoring_alert"
      end
      # resource path
      local_var_path = '/api/monitoring/alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_monitoring_alert_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.create_monitoring_alert",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#create_monitoring_alert\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get usage analytics (time series)
    # Aggregates UsageStat by day/week/month. Optional **projectId** scopes to one project. Query **days** (1–90) for a rolling window (e.g. **days=14**); when set, overrides **period**. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :period  (default to 'month')
    # @option opts [String] :granularity  (default to 'day')
    # @option opts [Integer] :days Rolling window in days (1–90); when set, period becomes last_N_days
    # @return [MonitoringAnalyticsResponse]
    def get_monitoring_analytics(opts = {})
      data, _status_code, _headers = get_monitoring_analytics_with_http_info(opts)
      data
    end

    # Get usage analytics (time series)
    # Aggregates UsageStat by day/week/month. Optional **projectId** scopes to one project. Query **days** (1–90) for a rolling window (e.g. **days&#x3D;14**); when set, overrides **period**. 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :period  (default to 'month')
    # @option opts [String] :granularity  (default to 'day')
    # @option opts [Integer] :days Rolling window in days (1–90); when set, period becomes last_N_days
    # @return [Array<(MonitoringAnalyticsResponse, Integer, Hash)>] MonitoringAnalyticsResponse data, response status code and response headers
    def get_monitoring_analytics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_analytics ...'
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      allowable_values = ["day", "week", "month"]
      if @api_client.config.client_side_validation && opts[:'granularity'] && !allowable_values.include?(opts[:'granularity'])
        fail ArgumentError, "invalid value for \"granularity\", must be one of #{allowable_values}"
      end
      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] > 90
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling MonitoringApi.get_monitoring_analytics, must be smaller than or equal to 90.'
      end

      if @api_client.config.client_side_validation && !opts[:'days'].nil? && opts[:'days'] < 1
        fail ArgumentError, 'invalid value for "opts[:"days"]" when calling MonitoringApi.get_monitoring_analytics, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/monitoring/analytics'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?
      query_params[:'granularity'] = opts[:'granularity'] if !opts[:'granularity'].nil?
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MonitoringAnalyticsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get error logs
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_monitoring_errors(opts = {})
      get_monitoring_errors_with_http_info(opts)
      nil
    end

    # Get error logs
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_monitoring_errors_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_errors ...'
      end
      # resource path
      local_var_path = '/api/monitoring/errors'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_errors",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_errors\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Latency insights (route templates, percentiles, impact scores)
    # Per-process snapshot: normalized **routeKey** (METHOD + path template), **p50/p95/p99**, 4xx/5xx counts, **impactScore**, **alertsSuggested**, **rps**, **inFlight**, **eventLoopLagP99Ms**. One buffer per server instance. 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_monitoring_latency_insights(opts = {})
      get_monitoring_latency_insights_with_http_info(opts)
      nil
    end

    # Latency insights (route templates, percentiles, impact scores)
    # Per-process snapshot: normalized **routeKey** (METHOD + path template), **p50/p95/p99**, 4xx/5xx counts, **impactScore**, **alertsSuggested**, **rps**, **inFlight**, **eventLoopLagP99Ms**. One buffer per server instance. 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_monitoring_latency_insights_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_latency_insights ...'
      end
      # resource path
      local_var_path = '/api/monitoring/latency-insights'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_latency_insights",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_latency_insights\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get audit logs
    # Paginated audit trail for the org. Use **projectId** to scope to one project; **level=all** or **audit** for full activity feed. Each entry includes **activityTitle** and **activityDetail** for dashboard copy. Requires monitoring read permission. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :project_id Filter to this project (must belong to org)
    # @option opts [String] :user_id Filter to this user&#39;s audit entries
    # @option opts [String] :level error|security|all|audit|low|medium|high|critical (default to 'error')
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @option opts [String] :action 
    # @option opts [String] :resource 
    # @return [MonitoringLogsResponse]
    def get_monitoring_logs(opts = {})
      data, _status_code, _headers = get_monitoring_logs_with_http_info(opts)
      data
    end

    # Get audit logs
    # Paginated audit trail for the org. Use **projectId** to scope to one project; **level&#x3D;all** or **audit** for full activity feed. Each entry includes **activityTitle** and **activityDetail** for dashboard copy. Requires monitoring read permission. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :project_id Filter to this project (must belong to org)
    # @option opts [String] :user_id Filter to this user&#39;s audit entries
    # @option opts [String] :level error|security|all|audit|low|medium|high|critical (default to 'error')
    # @option opts [Time] :start_date 
    # @option opts [Time] :end_date 
    # @option opts [String] :action 
    # @option opts [String] :resource 
    # @return [Array<(MonitoringLogsResponse, Integer, Hash)>] MonitoringLogsResponse data, response status code and response headers
    def get_monitoring_logs_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_logs ...'
      end
      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 500
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling MonitoringApi.get_monitoring_logs, must be smaller than or equal to 500.'
      end

      # resource path
      local_var_path = '/api/monitoring/logs'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'userId'] = opts[:'user_id'] if !opts[:'user_id'].nil?
      query_params[:'level'] = opts[:'level'] if !opts[:'level'].nil?
      query_params[:'startDate'] = opts[:'start_date'] if !opts[:'start_date'].nil?
      query_params[:'endDate'] = opts[:'end_date'] if !opts[:'end_date'].nil?
      query_params[:'action'] = opts[:'action'] if !opts[:'action'].nil?
      query_params[:'resource'] = opts[:'resource'] if !opts[:'resource'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MonitoringLogsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get performance metrics
    # Response time stats from AuditLog where available. With **projectId**, falls back to UsageStat latency averages when audit data is sparse (**latencySource** may be **usage_stat**). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :period  (default to 'hour')
    # @return [MonitoringPerformanceResponse]
    def get_monitoring_performance(opts = {})
      data, _status_code, _headers = get_monitoring_performance_with_http_info(opts)
      data
    end

    # Get performance metrics
    # Response time stats from AuditLog where available. With **projectId**, falls back to UsageStat latency averages when audit data is sparse (**latencySource** may be **usage_stat**). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id 
    # @option opts [String] :period  (default to 'hour')
    # @return [Array<(MonitoringPerformanceResponse, Integer, Hash)>] MonitoringPerformanceResponse data, response status code and response headers
    def get_monitoring_performance_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_performance ...'
      end
      allowable_values = ["hour", "day", "week"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/monitoring/performance'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MonitoringPerformanceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_performance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_performance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Usage metering queue job counts
    # BullMQ **usage-events** queue counts when `USE_METERING_QUEUE` and `REDIS_URL` are set.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def get_monitoring_queue_metrics(opts = {})
      get_monitoring_queue_metrics_with_http_info(opts)
      nil
    end

    # Usage metering queue job counts
    # BullMQ **usage-events** queue counts when &#x60;USE_METERING_QUEUE&#x60; and &#x60;REDIS_URL&#x60; are set.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def get_monitoring_queue_metrics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.get_monitoring_queue_metrics ...'
      end
      # resource path
      local_var_path = '/api/monitoring/queue-metrics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.get_monitoring_queue_metrics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#get_monitoring_queue_metrics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List monitoring alerts
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def list_monitoring_alerts(opts = {})
      list_monitoring_alerts_with_http_info(opts)
      nil
    end

    # List monitoring alerts
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def list_monitoring_alerts_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MonitoringApi.list_monitoring_alerts ...'
      end
      # resource path
      local_var_path = '/api/monitoring/alerts'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"MonitoringApi.list_monitoring_alerts",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MonitoringApi#list_monitoring_alerts\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
