=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.16
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class MultiRoleFeatureApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add custom role
    # Add a custom role to a project with specific permissions and signup endpoint. Optional **`featurePermissions`** must align with app JWT gates — see `components/schemas/AppRoleFeaturePermissions` and `services/appRoleFeatureMap.js`. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param add_custom_role_request [AddCustomRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def add_custom_role(project_id, add_custom_role_request, opts = {})
      data, _status_code, _headers = add_custom_role_with_http_info(project_id, add_custom_role_request, opts)
      data
    end

    # Add custom role
    # Add a custom role to a project with specific permissions and signup endpoint. Optional **&#x60;featurePermissions&#x60;** must align with app JWT gates — see &#x60;components/schemas/AppRoleFeaturePermissions&#x60; and &#x60;services/appRoleFeatureMap.js&#x60;. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param add_custom_role_request [AddCustomRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def add_custom_role_with_http_info(project_id, add_custom_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.add_custom_role ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.add_custom_role"
      end
      # verify the required parameter 'add_custom_role_request' is set
      if @api_client.config.client_side_validation && add_custom_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_custom_role_request' when calling MultiRoleFeatureApi.add_custom_role"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_custom_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.add_custom_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#add_custom_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Apply Admin / User / Viewer feature permission preset
    # Sets `featurePermissions` on the role from a bundled preset (`admin`, `user`, `viewer`). Does not change collection CRUD or `dataScope`; use collection permission APIs for those. 
    # @param project_id [String] 
    # @param role_slug [String] 
    # @param apply_role_feature_preset_request [ApplyRoleFeaturePresetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def apply_role_feature_preset(project_id, role_slug, apply_role_feature_preset_request, opts = {})
      data, _status_code, _headers = apply_role_feature_preset_with_http_info(project_id, role_slug, apply_role_feature_preset_request, opts)
      data
    end

    # Apply Admin / User / Viewer feature permission preset
    # Sets &#x60;featurePermissions&#x60; on the role from a bundled preset (&#x60;admin&#x60;, &#x60;user&#x60;, &#x60;viewer&#x60;). Does not change collection CRUD or &#x60;dataScope&#x60;; use collection permission APIs for those. 
    # @param project_id [String] 
    # @param role_slug [String] 
    # @param apply_role_feature_preset_request [ApplyRoleFeaturePresetRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def apply_role_feature_preset_with_http_info(project_id, role_slug, apply_role_feature_preset_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.apply_role_feature_preset ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.apply_role_feature_preset"
      end
      # verify the required parameter 'role_slug' is set
      if @api_client.config.client_side_validation && role_slug.nil?
        fail ArgumentError, "Missing the required parameter 'role_slug' when calling MultiRoleFeatureApi.apply_role_feature_preset"
      end
      # verify the required parameter 'apply_role_feature_preset_request' is set
      if @api_client.config.client_side_validation && apply_role_feature_preset_request.nil?
        fail ArgumentError, "Missing the required parameter 'apply_role_feature_preset_request' when calling MultiRoleFeatureApi.apply_role_feature_preset"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles/{roleSlug}/apply-preset'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'roleSlug' + '}', CGI.escape(role_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(apply_role_feature_preset_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.apply_role_feature_preset",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#apply_role_feature_preset\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get available roles for signup
    # Get all available roles for user signup in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetAvailableRoles200Response]
    def get_available_roles(project_id, opts = {})
      data, _status_code, _headers = get_available_roles_with_http_info(project_id, opts)
      data
    end

    # Get available roles for signup
    # Get all available roles for user signup in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetAvailableRoles200Response, Integer, Hash)>] GetAvailableRoles200Response data, response status code and response headers
    def get_available_roles_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.get_available_roles ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.get_available_roles"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles/available'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetAvailableRoles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.get_available_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#get_available_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get multi-role feature configuration
    # Returns project app roles (default one editable `customer` starter until you add more) and settings
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetMultiRoleConfig200Response]
    def get_multi_role_config(project_id, opts = {})
      data, _status_code, _headers = get_multi_role_config_with_http_info(project_id, opts)
      data
    end

    # Get multi-role feature configuration
    # Returns project app roles (default one editable &#x60;customer&#x60; starter until you add more) and settings
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetMultiRoleConfig200Response, Integer, Hash)>] GetMultiRoleConfig200Response data, response status code and response headers
    def get_multi_role_config_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.get_multi_role_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.get_multi_role_config"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetMultiRoleConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.get_multi_role_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#get_multi_role_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get permissions matrix (collections + featurePermissions)
    # Dashboard helper: per-collection permission rows (role actions, `dataScope`, conditions) and a per-role `featurePermissions` snapshot used by app-role feature gates (messaging, integrations, storage, etc.). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetPermissionsMatrix200Response]
    def get_permissions_matrix(project_id, opts = {})
      data, _status_code, _headers = get_permissions_matrix_with_http_info(project_id, opts)
      data
    end

    # Get permissions matrix (collections + featurePermissions)
    # Dashboard helper: per-collection permission rows (role actions, &#x60;dataScope&#x60;, conditions) and a per-role &#x60;featurePermissions&#x60; snapshot used by app-role feature gates (messaging, integrations, storage, etc.). 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPermissionsMatrix200Response, Integer, Hash)>] GetPermissionsMatrix200Response data, response status code and response headers
    def get_permissions_matrix_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.get_permissions_matrix ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.get_permissions_matrix"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/permissions-matrix'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPermissionsMatrix200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.get_permissions_matrix",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#get_permissions_matrix\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # OAuth signup with specific role
    # Public endpoint that initiates OAuth signup flow with a specific role assigned during registration. The OAuth provider must be configured and enabled for the project first. The role must be available for signup in the project's multi-role configuration. After successful OAuth authentication, the user will be created with the specified role. No authentication required - this is a public signup endpoint. 
    # @param role [String] Path segment must match the role&#39;s &#x60;signupEndpoint&#x60; (default &#x60;customer&#x60;; use each role&#39;s configured endpoint).
    # @param provider [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication
    # @return [nil]
    def oauth_signup_with_role(role, provider, project_id, opts = {})
      oauth_signup_with_role_with_http_info(role, provider, project_id, opts)
      nil
    end

    # OAuth signup with specific role
    # Public endpoint that initiates OAuth signup flow with a specific role assigned during registration. The OAuth provider must be configured and enabled for the project first. The role must be available for signup in the project&#39;s multi-role configuration. After successful OAuth authentication, the user will be created with the specified role. No authentication required - this is a public signup endpoint. 
    # @param role [String] Path segment must match the role&#39;s &#x60;signupEndpoint&#x60; (default &#x60;customer&#x60;; use each role&#39;s configured endpoint).
    # @param provider [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :redirect_url The URL to redirect to after authentication
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def oauth_signup_with_role_with_http_info(role, provider, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.oauth_signup_with_role ...'
      end
      # verify the required parameter 'role' is set
      if @api_client.config.client_side_validation && role.nil?
        fail ArgumentError, "Missing the required parameter 'role' when calling MultiRoleFeatureApi.oauth_signup_with_role"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling MultiRoleFeatureApi.oauth_signup_with_role"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "apple", "twitter", "discord", "linkedin", "dropbox", "slack", "reddit", "twitch", "figma", "zoom", "bitbucket", "salesforce", "shopify", "line", "spotify", "strava", "paypal", "asana", "trello", "okta", "gitea", "yandex", "yahoo", "vk", "meetup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.oauth_signup_with_role"
      end
      # resource path
      local_var_path = '/api/auth/oauth/signup/{role}/{provider}/{projectId}'.sub('{' + 'role' + '}', CGI.escape(role.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'redirect_url'] = opts[:'redirect_url'] if !opts[:'redirect_url'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.oauth_signup_with_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#oauth_signup_with_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register user with specific role (Local Auth)
    # Public endpoint for user registration with a specific role. The path segment must match a role's `signupEndpoint` (default starter is `customer`; add more roles via multi-role API). No authentication required - this is a public signup endpoint. 
    # @param role [String] Must match the role&#39;s &#x60;signupEndpoint&#x60; (default &#x60;customer&#x60;; other values for roles you add).
    # @param register_with_role_request [RegisterWithRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RegisterWithRole201Response]
    def register_with_role(role, register_with_role_request, opts = {})
      data, _status_code, _headers = register_with_role_with_http_info(role, register_with_role_request, opts)
      data
    end

    # Register user with specific role (Local Auth)
    # Public endpoint for user registration with a specific role. The path segment must match a role&#39;s &#x60;signupEndpoint&#x60; (default starter is &#x60;customer&#x60;; add more roles via multi-role API). No authentication required - this is a public signup endpoint. 
    # @param role [String] Must match the role&#39;s &#x60;signupEndpoint&#x60; (default &#x60;customer&#x60;; other values for roles you add).
    # @param register_with_role_request [RegisterWithRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RegisterWithRole201Response, Integer, Hash)>] RegisterWithRole201Response data, response status code and response headers
    def register_with_role_with_http_info(role, register_with_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.register_with_role ...'
      end
      # verify the required parameter 'role' is set
      if @api_client.config.client_side_validation && role.nil?
        fail ArgumentError, "Missing the required parameter 'role' when calling MultiRoleFeatureApi.register_with_role"
      end
      # verify the required parameter 'register_with_role_request' is set
      if @api_client.config.client_side_validation && register_with_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'register_with_role_request' when calling MultiRoleFeatureApi.register_with_role"
      end
      # resource path
      local_var_path = '/api/auth/local/signup/{role}'.sub('{' + 'role' + '}', CGI.escape(role.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(register_with_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RegisterWithRole201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.register_with_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#register_with_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Simulate app-role feature permission for a path
    # Dashboard-only. Given an app role slug and either an OpenAPI `operationId` **or** HTTP method + pathname, returns whether the role's `featurePermissions` would allow the operation for paths that have a feature gate. Unmapped paths or unknown operation IDs return `allowed: true` with reason `no_feature_gate_for_path` or `no_feature_gate_for_operation_id`. 
    # @param project_id [String] 
    # @param simulate_app_permissions_request [SimulateAppPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [SimulateAppPermissions200Response]
    def simulate_app_permissions(project_id, simulate_app_permissions_request, opts = {})
      data, _status_code, _headers = simulate_app_permissions_with_http_info(project_id, simulate_app_permissions_request, opts)
      data
    end

    # Simulate app-role feature permission for a path
    # Dashboard-only. Given an app role slug and either an OpenAPI &#x60;operationId&#x60; **or** HTTP method + pathname, returns whether the role&#39;s &#x60;featurePermissions&#x60; would allow the operation for paths that have a feature gate. Unmapped paths or unknown operation IDs return &#x60;allowed: true&#x60; with reason &#x60;no_feature_gate_for_path&#x60; or &#x60;no_feature_gate_for_operation_id&#x60;. 
    # @param project_id [String] 
    # @param simulate_app_permissions_request [SimulateAppPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(SimulateAppPermissions200Response, Integer, Hash)>] SimulateAppPermissions200Response data, response status code and response headers
    def simulate_app_permissions_with_http_info(project_id, simulate_app_permissions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.simulate_app_permissions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.simulate_app_permissions"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/simulate-permissions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(simulate_app_permissions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SimulateAppPermissions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.simulate_app_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#simulate_app_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Toggle role on/off
    # @param project_id [String] 
    # @param role_slug [String] Role slug to toggle (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param toggle_role_request [ToggleRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def toggle_role(project_id, role_slug, toggle_role_request, opts = {})
      data, _status_code, _headers = toggle_role_with_http_info(project_id, role_slug, toggle_role_request, opts)
      data
    end

    # Toggle role on/off
    # @param project_id [String] 
    # @param role_slug [String] Role slug to toggle (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param toggle_role_request [ToggleRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def toggle_role_with_http_info(project_id, role_slug, toggle_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.toggle_role ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.toggle_role"
      end
      # verify the required parameter 'role_slug' is set
      if @api_client.config.client_side_validation && role_slug.nil?
        fail ArgumentError, "Missing the required parameter 'role_slug' when calling MultiRoleFeatureApi.toggle_role"
      end
      # verify the required parameter 'toggle_role_request' is set
      if @api_client.config.client_side_validation && toggle_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'toggle_role_request' when calling MultiRoleFeatureApi.toggle_role"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles/{roleSlug}/toggle'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'roleSlug' + '}', CGI.escape(role_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(toggle_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.toggle_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#toggle_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update collection permissions for a role
    # Update collection-specific permissions for a role in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param role_slug [String] Role slug (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param collection_id [String] 
    # @param update_collection_permissions_request [UpdateCollectionPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def update_collection_permissions(project_id, role_slug, collection_id, update_collection_permissions_request, opts = {})
      data, _status_code, _headers = update_collection_permissions_with_http_info(project_id, role_slug, collection_id, update_collection_permissions_request, opts)
      data
    end

    # Update collection permissions for a role
    # Update collection-specific permissions for a role in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param role_slug [String] Role slug (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param collection_id [String] 
    # @param update_collection_permissions_request [UpdateCollectionPermissionsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def update_collection_permissions_with_http_info(project_id, role_slug, collection_id, update_collection_permissions_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.update_collection_permissions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.update_collection_permissions"
      end
      # verify the required parameter 'role_slug' is set
      if @api_client.config.client_side_validation && role_slug.nil?
        fail ArgumentError, "Missing the required parameter 'role_slug' when calling MultiRoleFeatureApi.update_collection_permissions"
      end
      # verify the required parameter 'collection_id' is set
      if @api_client.config.client_side_validation && collection_id.nil?
        fail ArgumentError, "Missing the required parameter 'collection_id' when calling MultiRoleFeatureApi.update_collection_permissions"
      end
      # verify the required parameter 'update_collection_permissions_request' is set
      if @api_client.config.client_side_validation && update_collection_permissions_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_collection_permissions_request' when calling MultiRoleFeatureApi.update_collection_permissions"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles/{roleSlug}/collections/{collectionId}/permissions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'roleSlug' + '}', CGI.escape(role_slug.to_s)).sub('{' + 'collectionId' + '}', CGI.escape(collection_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_collection_permissions_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.update_collection_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#update_collection_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update multi-role feature settings
    # Update multi-role feature settings for a project: enable/disable the feature, set which app role is the default at signup, and tune `settings` (`allowMultipleRoles`, `requireRoleSelection`, `autoAssignDefault`). This endpoint does **not** edit role definitions or permissions — use `POST/PATCH .../multi-role/roles` for that (same shape as **Add custom role**). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param update_multi_role_settings_request [UpdateMultiRoleSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateMultiRoleSettings200Response]
    def update_multi_role_settings(project_id, update_multi_role_settings_request, opts = {})
      data, _status_code, _headers = update_multi_role_settings_with_http_info(project_id, update_multi_role_settings_request, opts)
      data
    end

    # Update multi-role feature settings
    # Update multi-role feature settings for a project: enable/disable the feature, set which app role is the default at signup, and tune &#x60;settings&#x60; (&#x60;allowMultipleRoles&#x60;, &#x60;requireRoleSelection&#x60;, &#x60;autoAssignDefault&#x60;). This endpoint does **not** edit role definitions or permissions — use &#x60;POST/PATCH .../multi-role/roles&#x60; for that (same shape as **Add custom role**). Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param update_multi_role_settings_request [UpdateMultiRoleSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateMultiRoleSettings200Response, Integer, Hash)>] UpdateMultiRoleSettings200Response data, response status code and response headers
    def update_multi_role_settings_with_http_info(project_id, update_multi_role_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.update_multi_role_settings ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.update_multi_role_settings"
      end
      # verify the required parameter 'update_multi_role_settings_request' is set
      if @api_client.config.client_side_validation && update_multi_role_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_multi_role_settings_request' when calling MultiRoleFeatureApi.update_multi_role_settings"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/settings'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_multi_role_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateMultiRoleSettings200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.update_multi_role_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#update_multi_role_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update role configuration
    # Partial update of an app role. **`featurePermissions`** keys must match the app-role gate map (`services/appRoleFeatureMap.js`); schema: `components/schemas/AppRoleFeaturePermissions`. 
    # @param project_id [String] 
    # @param role_slug [String] Role slug to update (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param update_project_role_request [UpdateProjectRoleRequest] Same fields as **Add custom role** — send only fields you want to change. &#x60;defaultPermissions&#x60; / &#x60;collectionPermissions&#x60; are normalized the same way as on create. **&#x60;featurePermissions&#x60;:** &#x60;components/schemas/AppRoleFeaturePermissions&#x60; (aligned with &#x60;services/appRoleFeatureMap.js&#x60;). 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def update_project_role(project_id, role_slug, update_project_role_request, opts = {})
      data, _status_code, _headers = update_project_role_with_http_info(project_id, role_slug, update_project_role_request, opts)
      data
    end

    # Update role configuration
    # Partial update of an app role. **&#x60;featurePermissions&#x60;** keys must match the app-role gate map (&#x60;services/appRoleFeatureMap.js&#x60;); schema: &#x60;components/schemas/AppRoleFeaturePermissions&#x60;. 
    # @param project_id [String] 
    # @param role_slug [String] Role slug to update (e.g. starter &#x60;customer&#x60; or a role you added).
    # @param update_project_role_request [UpdateProjectRoleRequest] Same fields as **Add custom role** — send only fields you want to change. &#x60;defaultPermissions&#x60; / &#x60;collectionPermissions&#x60; are normalized the same way as on create. **&#x60;featurePermissions&#x60;:** &#x60;components/schemas/AppRoleFeaturePermissions&#x60; (aligned with &#x60;services/appRoleFeatureMap.js&#x60;). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def update_project_role_with_http_info(project_id, role_slug, update_project_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MultiRoleFeatureApi.update_project_role ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling MultiRoleFeatureApi.update_project_role"
      end
      # verify the required parameter 'role_slug' is set
      if @api_client.config.client_side_validation && role_slug.nil?
        fail ArgumentError, "Missing the required parameter 'role_slug' when calling MultiRoleFeatureApi.update_project_role"
      end
      # verify the required parameter 'update_project_role_request' is set
      if @api_client.config.client_side_validation && update_project_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_project_role_request' when calling MultiRoleFeatureApi.update_project_role"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/multi-role/roles/{roleSlug}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'roleSlug' + '}', CGI.escape(role_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_project_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"MultiRoleFeatureApi.update_project_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MultiRoleFeatureApi#update_project_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
