=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.14
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class OrganizationsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add a custom domain
    # Creates a pending domain row; the response **`domain`** uses the compact **`OrgDomainEntryOrgConsole`** shape (**`dnsRecords`** includes the Mudbase ownership TXT). **`dnsRecords`** may include the Mudbase TXT and routing CNAME only until the Mudbase TXT succeeds and the managed certificate is provisioned. **`flyCertificateStatus`** is typically omitted until certificate provisioning runs after the first successful **`verify-dns`**. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param add_org_domain_request [AddOrgDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [OrgAddDomainResponse]
    def add_org_custom_domain(org_id, project_id, add_org_domain_request, opts = {})
      data, _status_code, _headers = add_org_custom_domain_with_http_info(org_id, project_id, add_org_domain_request, opts)
      data
    end

    # Add a custom domain
    # Creates a pending domain row; the response **&#x60;domain&#x60;** uses the compact **&#x60;OrgDomainEntryOrgConsole&#x60;** shape (**&#x60;dnsRecords&#x60;** includes the Mudbase ownership TXT). **&#x60;dnsRecords&#x60;** may include the Mudbase TXT and routing CNAME only until the Mudbase TXT succeeds and the managed certificate is provisioned. **&#x60;flyCertificateStatus&#x60;** is typically omitted until certificate provisioning runs after the first successful **&#x60;verify-dns&#x60;**. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param add_org_domain_request [AddOrgDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgAddDomainResponse, Integer, Hash)>] OrgAddDomainResponse data, response status code and response headers
    def add_org_custom_domain_with_http_info(org_id, project_id, add_org_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.add_org_custom_domain ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.add_org_custom_domain"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.add_org_custom_domain"
      end
      # verify the required parameter 'add_org_domain_request' is set
      if @api_client.config.client_side_validation && add_org_domain_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_org_domain_request' when calling OrganizationsApi.add_org_custom_domain"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_org_domain_request)

      # return_type
      return_type = opts[:debug_return_type] || 'OrgAddDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.add_org_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#add_org_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Create new organization~~ (disabled)
    # ~~Create a new organization.~~ This endpoint is disabled and kept only for backward compatibility in documentation. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param create_organization_request [CreateOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def create_organization(create_organization_request, opts = {})
      create_organization_with_http_info(create_organization_request, opts)
      nil
    end

    # ~~Create new organization~~ (disabled)
    # ~~Create a new organization.~~ This endpoint is disabled and kept only for backward compatibility in documentation. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param create_organization_request [CreateOrganizationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def create_organization_with_http_info(create_organization_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.create_organization ...'
      end
      # verify the required parameter 'create_organization_request' is set
      if @api_client.config.client_side_validation && create_organization_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_organization_request' when calling OrganizationsApi.create_organization"
      end
      # resource path
      local_var_path = '/api/orgs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_organization_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.create_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#create_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove a custom domain
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_org_custom_domain(org_id, project_id, hostname, opts = {})
      delete_org_custom_domain_with_http_info(org_id, project_id, hostname, opts)
      nil
    end

    # Remove a custom domain
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_org_custom_domain_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.delete_org_custom_domain ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.delete_org_custom_domain"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.delete_org_custom_domain"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.delete_org_custom_domain"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.delete_org_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#delete_org_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete organization
    # Delete an organization permanently. This is a destructive operation. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteOrganization200Response]
    def delete_organization(org_id, opts = {})
      data, _status_code, _headers = delete_organization_with_http_info(org_id, opts)
      data
    end

    # Delete organization
    # Delete an organization permanently. This is a destructive operation. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteOrganization200Response, Integer, Hash)>] DeleteOrganization200Response data, response status code and response headers
    def delete_organization_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.delete_organization ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.delete_organization"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteOrganization200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.delete_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#delete_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Delete sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteSubOrganization200Response]
    def delete_sub_organization(org_id, suborg_id, opts = {})
      data, _status_code, _headers = delete_sub_organization_with_http_info(org_id, suborg_id, opts)
      data
    end

    # ~~Delete sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteSubOrganization200Response, Integer, Hash)>] DeleteSubOrganization200Response data, response status code and response headers
    def delete_sub_organization_with_http_info(org_id, suborg_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.delete_sub_organization ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.delete_sub_organization"
      end
      # verify the required parameter 'suborg_id' is set
      if @api_client.config.client_side_validation && suborg_id.nil?
        fail ArgumentError, "Missing the required parameter 'suborg_id' when calling OrganizationsApi.delete_sub_organization"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/suborgs/{suborgId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'suborgId' + '}', CGI.escape(suborg_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteSubOrganization200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.delete_sub_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#delete_sub_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get DNS TXT record instructions for one hostname
    # Returns the same shape as list/add for one hostname (URL-encode `hostname` in the path), including **`dnsRecords`** and **`flyCertificateStatus`** when applicable. See **`listOrgCustomDomains`** for how managed certificate provisioning affects those fields. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrgDnsInstructionsResponse]
    def get_org_custom_domain_dns_instructions(org_id, project_id, hostname, opts = {})
      data, _status_code, _headers = get_org_custom_domain_dns_instructions_with_http_info(org_id, project_id, hostname, opts)
      data
    end

    # Get DNS TXT record instructions for one hostname
    # Returns the same shape as list/add for one hostname (URL-encode &#x60;hostname&#x60; in the path), including **&#x60;dnsRecords&#x60;** and **&#x60;flyCertificateStatus&#x60;** when applicable. See **&#x60;listOrgCustomDomains&#x60;** for how managed certificate provisioning affects those fields. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgDnsInstructionsResponse, Integer, Hash)>] OrgDnsInstructionsResponse data, response status code and response headers
    def get_org_custom_domain_dns_instructions_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_org_custom_domain_dns_instructions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_org_custom_domain_dns_instructions"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.get_org_custom_domain_dns_instructions"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.get_org_custom_domain_dns_instructions"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/dns-instructions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgDnsInstructionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_org_custom_domain_dns_instructions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_org_custom_domain_dns_instructions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get organization details by ID
    # Get organization details by ID. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Organization]
    def get_organization(org_id, opts = {})
      data, _status_code, _headers = get_organization_with_http_info(org_id, opts)
      data
    end

    # Get organization details by ID
    # Get organization details by ID. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Organization, Integer, Hash)>] Organization data, response status code and response headers
    def get_organization_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_organization ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_organization"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Organization'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_organization",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_organization\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get organization members
    # Get all members of an organization. Requires organization-level authentication (JWT Bearer token). API keys are not supported for this endpoint. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetOrganizationMembers200Response]
    def get_organization_members(org_id, opts = {})
      data, _status_code, _headers = get_organization_members_with_http_info(org_id, opts)
      data
    end

    # Get organization members
    # Get all members of an organization. Requires organization-level authentication (JWT Bearer token). API keys are not supported for this endpoint. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrganizationMembers200Response, Integer, Hash)>] GetOrganizationMembers200Response data, response status code and response headers
    def get_organization_members_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_organization_members ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_organization_members"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/members'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrganizationMembers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_organization_members",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_organization_members\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get organization usage and billing
    # Get usage statistics and billing information for an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetOrganizationUsage200Response]
    def get_organization_usage(org_id, opts = {})
      data, _status_code, _headers = get_organization_usage_with_http_info(org_id, opts)
      data
    end

    # Get organization usage and billing
    # Get usage statistics and billing information for an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOrganizationUsage200Response, Integer, Hash)>] GetOrganizationUsage200Response data, response status code and response headers
    def get_organization_usage_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_organization_usage ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_organization_usage"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/usage'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrganizationUsage200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_organization_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_organization_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List organization users with metadata
    # Get all users in the organization with metadata (email, full name, role, accountStatus, phone, lastLogin, etc.). Optional query `status` filters by accountStatus (pending, active, suspended). Requires organization access and owner or admin role. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by account status (pending, active, suspended)
    # @return [GetOrganizationUsers200Response]
    def get_organization_users(org_id, opts = {})
      data, _status_code, _headers = get_organization_users_with_http_info(org_id, opts)
      data
    end

    # List organization users with metadata
    # Get all users in the organization with metadata (email, full name, role, accountStatus, phone, lastLogin, etc.). Optional query &#x60;status&#x60; filters by accountStatus (pending, active, suspended). Requires organization access and owner or admin role. 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by account status (pending, active, suspended)
    # @return [Array<(GetOrganizationUsers200Response, Integer, Hash)>] GetOrganizationUsers200Response data, response status code and response headers
    def get_organization_users_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_organization_users ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_organization_users"
      end
      allowable_values = ["pending", "active", "suspended"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOrganizationUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_organization_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_organization_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List project users with metadata
    # Get all users in a project with metadata (email, full name, role, accountStatus, etc.). Optional query `status` filters by accountStatus. Project must belong to the organization. Requires owner or admin role. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by account status (pending, active, suspended)
    # @return [GetProjectUsers200Response]
    def get_project_users(org_id, project_id, opts = {})
      data, _status_code, _headers = get_project_users_with_http_info(org_id, project_id, opts)
      data
    end

    # List project users with metadata
    # Get all users in a project with metadata (email, full name, role, accountStatus, etc.). Optional query &#x60;status&#x60; filters by accountStatus. Project must belong to the organization. Requires owner or admin role. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status Filter by account status (pending, active, suspended)
    # @return [Array<(GetProjectUsers200Response, Integer, Hash)>] GetProjectUsers200Response data, response status code and response headers
    def get_project_users_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_project_users ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_project_users"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.get_project_users"
      end
      allowable_values = ["pending", "active", "suspended"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/users'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_project_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_project_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get sub-organizations~~ (deprecated)
    # Get all sub-organizations under a parent organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetSubOrganizations200Response]
    def get_sub_organizations(org_id, opts = {})
      data, _status_code, _headers = get_sub_organizations_with_http_info(org_id, opts)
      data
    end

    # ~~Get sub-organizations~~ (deprecated)
    # Get all sub-organizations under a parent organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetSubOrganizations200Response, Integer, Hash)>] GetSubOrganizations200Response data, response status code and response headers
    def get_sub_organizations_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_sub_organizations ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_sub_organizations"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/suborgs'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSubOrganizations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_sub_organizations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_sub_organizations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get user overview and data footprint
    # Get a user's profile plus footprint (files count/size, sessions, API keys, collections in project). Use for dashboard to see everything tied to the user. Requires owner or admin role. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUserOverview200Response]
    def get_user_overview(org_id, user_id, opts = {})
      data, _status_code, _headers = get_user_overview_with_http_info(org_id, user_id, opts)
      data
    end

    # Get user overview and data footprint
    # Get a user&#39;s profile plus footprint (files count/size, sessions, API keys, collections in project). Use for dashboard to see everything tied to the user. Requires owner or admin role. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUserOverview200Response, Integer, Hash)>] GetUserOverview200Response data, response status code and response headers
    def get_user_overview_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.get_user_overview ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.get_user_overview"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling OrganizationsApi.get_user_overview"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users/{userId}/overview'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUserOverview200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.get_user_overview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#get_user_overview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enable/disable Growth/Scale custom domain add-on (internal)
    # @param internal_custom_domain_addon_request [InternalCustomDomainAddonRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_custom_domain_addon(internal_custom_domain_addon_request, opts = {})
      internal_custom_domain_addon_with_http_info(internal_custom_domain_addon_request, opts)
      nil
    end

    # Enable/disable Growth/Scale custom domain add-on (internal)
    # @param internal_custom_domain_addon_request [InternalCustomDomainAddonRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_custom_domain_addon_with_http_info(internal_custom_domain_addon_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.internal_custom_domain_addon ...'
      end
      # verify the required parameter 'internal_custom_domain_addon_request' is set
      if @api_client.config.client_side_validation && internal_custom_domain_addon_request.nil?
        fail ArgumentError, "Missing the required parameter 'internal_custom_domain_addon_request' when calling OrganizationsApi.internal_custom_domain_addon"
      end
      # resource path
      local_var_path = '/internal/org/custom-domain-addon'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(internal_custom_domain_addon_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalApiKey']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.internal_custom_domain_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#internal_custom_domain_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom domain background sweep status (internal)
    # Returns the last automated custom-domain sweep (TXT recheck + certificate provisioning retry), job env flags, and deploy troubleshooting hints when the proxy reports the app is not listening on 0.0.0.0:PORT. Requires header `X-Internal-Api-Key` (same as other /internal routes).
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_custom_domain_sweep_status(opts = {})
      internal_custom_domain_sweep_status_with_http_info(opts)
      nil
    end

    # Custom domain background sweep status (internal)
    # Returns the last automated custom-domain sweep (TXT recheck + certificate provisioning retry), job env flags, and deploy troubleshooting hints when the proxy reports the app is not listening on 0.0.0.0:PORT. Requires header &#x60;X-Internal-Api-Key&#x60; (same as other /internal routes).
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_custom_domain_sweep_status_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.internal_custom_domain_sweep_status ...'
      end
      # resource path
      local_var_path = '/internal/custom-domain/sweep-status'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalApiKey']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.internal_custom_domain_sweep_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#internal_custom_domain_sweep_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Batch DNS re-verification for drift (internal)
    # @param [Hash] opts the optional parameters
    # @option opts [InternalDomainDnsRecheckBatchRequest] :internal_domain_dns_recheck_batch_request 
    # @return [nil]
    def internal_domain_dns_recheck_batch(opts = {})
      internal_domain_dns_recheck_batch_with_http_info(opts)
      nil
    end

    # Batch DNS re-verification for drift (internal)
    # @param [Hash] opts the optional parameters
    # @option opts [InternalDomainDnsRecheckBatchRequest] :internal_domain_dns_recheck_batch_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_domain_dns_recheck_batch_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.internal_domain_dns_recheck_batch ...'
      end
      # resource path
      local_var_path = '/internal/domain-dns/recheck-batch'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'internal_domain_dns_recheck_batch_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalApiKey']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.internal_domain_dns_recheck_batch",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#internal_domain_dns_recheck_batch\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Provision enterprise dedicated API/DB (internal)
    # @param provision_enterprise_request [ProvisionEnterpriseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def internal_provision_enterprise(provision_enterprise_request, opts = {})
      internal_provision_enterprise_with_http_info(provision_enterprise_request, opts)
      nil
    end

    # Provision enterprise dedicated API/DB (internal)
    # @param provision_enterprise_request [ProvisionEnterpriseRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def internal_provision_enterprise_with_http_info(provision_enterprise_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.internal_provision_enterprise ...'
      end
      # verify the required parameter 'provision_enterprise_request' is set
      if @api_client.config.client_side_validation && provision_enterprise_request.nil?
        fail ArgumentError, "Missing the required parameter 'provision_enterprise_request' when calling OrganizationsApi.internal_provision_enterprise"
      end
      # resource path
      local_var_path = '/internal/provision-enterprise'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(provision_enterprise_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalApiKey']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.internal_provision_enterprise",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#internal_provision_enterprise\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Invite member to sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param invite_member_request [InviteMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InviteSubOrganizationMember200Response]
    def invite_sub_organization_member(org_id, suborg_id, invite_member_request, opts = {})
      data, _status_code, _headers = invite_sub_organization_member_with_http_info(org_id, suborg_id, invite_member_request, opts)
      data
    end

    # ~~Invite member to sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param invite_member_request [InviteMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InviteSubOrganizationMember200Response, Integer, Hash)>] InviteSubOrganizationMember200Response data, response status code and response headers
    def invite_sub_organization_member_with_http_info(org_id, suborg_id, invite_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.invite_sub_organization_member ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.invite_sub_organization_member"
      end
      # verify the required parameter 'suborg_id' is set
      if @api_client.config.client_side_validation && suborg_id.nil?
        fail ArgumentError, "Missing the required parameter 'suborg_id' when calling OrganizationsApi.invite_sub_organization_member"
      end
      # verify the required parameter 'invite_member_request' is set
      if @api_client.config.client_side_validation && invite_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'invite_member_request' when calling OrganizationsApi.invite_sub_organization_member"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/suborgs/{suborgId}/invite'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'suborgId' + '}', CGI.escape(suborg_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invite_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InviteSubOrganizationMember200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.invite_sub_organization_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#invite_sub_organization_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Invite team member to organization
    # Send an invitation to a user to join the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param invite_member_request [InviteMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [InviteTeamMember200Response]
    def invite_team_member(org_id, invite_member_request, opts = {})
      data, _status_code, _headers = invite_team_member_with_http_info(org_id, invite_member_request, opts)
      data
    end

    # Invite team member to organization
    # Send an invitation to a user to join the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param invite_member_request [InviteMemberRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InviteTeamMember200Response, Integer, Hash)>] InviteTeamMember200Response data, response status code and response headers
    def invite_team_member_with_http_info(org_id, invite_member_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.invite_team_member ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.invite_team_member"
      end
      # verify the required parameter 'invite_member_request' is set
      if @api_client.config.client_side_validation && invite_member_request.nil?
        fail ArgumentError, "Missing the required parameter 'invite_member_request' when calling OrganizationsApi.invite_team_member"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/invite'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(invite_member_request)

      # return_type
      return_type = opts[:debug_return_type] || 'InviteTeamMember200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.invite_team_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#invite_team_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List custom domains and DNS verification hints
    # Returns allowed hostnames for **this project**, primary hostname (per project), API base URL, and per-domain DNS guidance.  Each row uses **`dnsRecords`** for the Mudbase ownership TXT (purpose **`mudbase_ownership`**) and the routing **CNAME** target that Mudbase provisions for the hostname (else the platform default target). Once the ownership TXT has passed at least once, Mudbase provisions and manages the TLS certificate for the hostname automatically and may add further checklist rows (for example `acme_challenge`) needed to complete certificate issuance. The certificate status field mirrors the managed certificate’s state during issuance (e.g. `pending_validation`, `active`).  Managed edge TLS details are present only on deployments that serve managed edge certificates.  Requires Growth, Scale, or Enterprise plan (custom domains included in plan features). 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrgDomainsListResponse]
    def list_org_custom_domains(org_id, project_id, opts = {})
      data, _status_code, _headers = list_org_custom_domains_with_http_info(org_id, project_id, opts)
      data
    end

    # List custom domains and DNS verification hints
    # Returns allowed hostnames for **this project**, primary hostname (per project), API base URL, and per-domain DNS guidance.  Each row uses **&#x60;dnsRecords&#x60;** for the Mudbase ownership TXT (purpose **&#x60;mudbase_ownership&#x60;**) and the routing **CNAME** target that Mudbase provisions for the hostname (else the platform default target). Once the ownership TXT has passed at least once, Mudbase provisions and manages the TLS certificate for the hostname automatically and may add further checklist rows (for example &#x60;acme_challenge&#x60;) needed to complete certificate issuance. The certificate status field mirrors the managed certificate’s state during issuance (e.g. &#x60;pending_validation&#x60;, &#x60;active&#x60;).  Managed edge TLS details are present only on deployments that serve managed edge certificates.  Requires Growth, Scale, or Enterprise plan (custom domains included in plan features). 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgDomainsListResponse, Integer, Hash)>] OrgDomainsListResponse data, response status code and response headers
    def list_org_custom_domains_with_http_info(org_id, project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.list_org_custom_domains ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.list_org_custom_domains"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.list_org_custom_domains"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgDomainsListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.list_org_custom_domains",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#list_org_custom_domains\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get all organizations for user
    # Get all organizations the authenticated user belongs to. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param [Hash] opts the optional parameters
    # @return [ListOrganizations200Response]
    def list_organizations(opts = {})
      data, _status_code, _headers = list_organizations_with_http_info(opts)
      data
    end

    # Get all organizations for user
    # Get all organizations the authenticated user belongs to. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListOrganizations200Response, Integer, Hash)>] ListOrganizations200Response data, response status code and response headers
    def list_organizations_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.list_organizations ...'
      end
      # resource path
      local_var_path = '/api/orgs'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListOrganizations200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.list_organizations",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#list_organizations\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Notify platform ops that hosting or edge work is ready (email)
    # Legacy optional ping: ops are emailed automatically on first successful Mudbase TXT verify. Use this only for an extra nudge. Sends an email to ops while the domain is in platform setup (after Mudbase TXT verification through later pipeline states). Recipients default to `admin@mudhaxkservices.com` and `admin@mudbase.dev` when `CUSTOM_DOMAIN_OPS_NOTIFY_EMAILS` is unset; override with that env (comma/space-separated). Returns **503** `email_provider_not_configured` if the platform email provider is not configured. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrgCustomDomainPlatformReadyRequest] :org_custom_domain_platform_ready_request 
    # @return [nil]
    def org_custom_domain_platform_ready(org_id, project_id, hostname, opts = {})
      org_custom_domain_platform_ready_with_http_info(org_id, project_id, hostname, opts)
      nil
    end

    # Notify platform ops that hosting or edge work is ready (email)
    # Legacy optional ping: ops are emailed automatically on first successful Mudbase TXT verify. Use this only for an extra nudge. Sends an email to ops while the domain is in platform setup (after Mudbase TXT verification through later pipeline states). Recipients default to &#x60;admin@mudhaxkservices.com&#x60; and &#x60;admin@mudbase.dev&#x60; when &#x60;CUSTOM_DOMAIN_OPS_NOTIFY_EMAILS&#x60; is unset; override with that env (comma/space-separated). Returns **503** &#x60;email_provider_not_configured&#x60; if the platform email provider is not configured. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [OrgCustomDomainPlatformReadyRequest] :org_custom_domain_platform_ready_request 
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def org_custom_domain_platform_ready_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.org_custom_domain_platform_ready ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.org_custom_domain_platform_ready"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.org_custom_domain_platform_ready"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.org_custom_domain_platform_ready"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/platform-ready'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'org_custom_domain_platform_ready_request'])

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.org_custom_domain_platform_ready",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#org_custom_domain_platform_ready\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom domain step 2 (optional): org confirms routing CNAME was added
    # Usually unnecessary. With automated certificate provisioning, the Mudbase TXT verify may already set `cname_approved`. Legacy pipelines may queue `cname_pending_staff` until staff **`approve-cname`**. Use **`routingCnameTarget`** from **`GET .../projects/{projectId}/domains`** (the managed routing CNAME target when provisioned, else the platform default target). 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrgPatchDomainResponse]
    def org_custom_domain_submit_cname(org_id, project_id, hostname, opts = {})
      data, _status_code, _headers = org_custom_domain_submit_cname_with_http_info(org_id, project_id, hostname, opts)
      data
    end

    # Custom domain step 2 (optional): org confirms routing CNAME was added
    # Usually unnecessary. With automated certificate provisioning, the Mudbase TXT verify may already set &#x60;cname_approved&#x60;. Legacy pipelines may queue &#x60;cname_pending_staff&#x60; until staff **&#x60;approve-cname&#x60;**. Use **&#x60;routingCnameTarget&#x60;** from **&#x60;GET .../projects/{projectId}/domains&#x60;** (the managed routing CNAME target when provisioned, else the platform default target). 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgPatchDomainResponse, Integer, Hash)>] OrgPatchDomainResponse data, response status code and response headers
    def org_custom_domain_submit_cname_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.org_custom_domain_submit_cname ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.org_custom_domain_submit_cname"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.org_custom_domain_submit_cname"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.org_custom_domain_submit_cname"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/submit-cname'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgPatchDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.org_custom_domain_submit_cname",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#org_custom_domain_submit_cname\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Deprecated — use POST .../verify-platform-dns
    # Deprecated alias of **`orgCustomDomainVerifyPlatformDns`** (same behavior: manual TXT and/or automated certificate provisioning per deployment).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrgPatchDomainResponse]
    def org_custom_domain_submit_platform_dns_verification_deprecated(org_id, project_id, hostname, opts = {})
      data, _status_code, _headers = org_custom_domain_submit_platform_dns_verification_deprecated_with_http_info(org_id, project_id, hostname, opts)
      data
    end

    # Deprecated — use POST .../verify-platform-dns
    # Deprecated alias of **&#x60;orgCustomDomainVerifyPlatformDns&#x60;** (same behavior: manual TXT and/or automated certificate provisioning per deployment).
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgPatchDomainResponse, Integer, Hash)>] OrgPatchDomainResponse data, response status code and response headers
    def org_custom_domain_submit_platform_dns_verification_deprecated_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.org_custom_domain_submit_platform_dns_verification_deprecated ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.org_custom_domain_submit_platform_dns_verification_deprecated"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.org_custom_domain_submit_platform_dns_verification_deprecated"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.org_custom_domain_submit_platform_dns_verification_deprecated"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/submit-platform-dns-verification'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgPatchDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.org_custom_domain_submit_platform_dns_verification_deprecated",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#org_custom_domain_submit_platform_dns_verification_deprecated\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Custom domain step 3: verify platform DNS (manual TXT or managed certificate readiness)
    # **Manual path:** After staff **`PATCH .../platform-dns-verification`**, the org adds the published TXT and calls this endpoint. The API resolves public TXT at **`platformDnsVerification.recordName`** and matches **`recordValue`**. On success, `status` → **`platform_dns_pending_review`** until staff **`POST .../activate`**.  **Automated path (default):** When automated certificate provisioning is in effect, the org calls this after the Mudbase TXT and the certificate DNS rows are in place (status typically **`cname_approved`** from automated verify-dns). The API checks the managed certificate with bounded retries. On success, `status` → **`active`** and the org may receive the activation email, with no staff **`approve-cname`** or **`activate`** required.  **Legacy path:** In the legacy staff pipeline, staff **`approve-cname`** may be required first; after the managed certificate is ready, **`status`** becomes **`active`** on auto-activation, else **`platform_dns_pending_review`** until staff **`activate`**.  **`platform_dns_verification_failed`** may include **`details.flyStatus`** / **`details.flyError`** with provisioning error context. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [OrgPatchDomainResponse]
    def org_custom_domain_verify_platform_dns(org_id, project_id, hostname, opts = {})
      data, _status_code, _headers = org_custom_domain_verify_platform_dns_with_http_info(org_id, project_id, hostname, opts)
      data
    end

    # Custom domain step 3: verify platform DNS (manual TXT or managed certificate readiness)
    # **Manual path:** After staff **&#x60;PATCH .../platform-dns-verification&#x60;**, the org adds the published TXT and calls this endpoint. The API resolves public TXT at **&#x60;platformDnsVerification.recordName&#x60;** and matches **&#x60;recordValue&#x60;**. On success, &#x60;status&#x60; → **&#x60;platform_dns_pending_review&#x60;** until staff **&#x60;POST .../activate&#x60;**.  **Automated path (default):** When automated certificate provisioning is in effect, the org calls this after the Mudbase TXT and the certificate DNS rows are in place (status typically **&#x60;cname_approved&#x60;** from automated verify-dns). The API checks the managed certificate with bounded retries. On success, &#x60;status&#x60; → **&#x60;active&#x60;** and the org may receive the activation email, with no staff **&#x60;approve-cname&#x60;** or **&#x60;activate&#x60;** required.  **Legacy path:** In the legacy staff pipeline, staff **&#x60;approve-cname&#x60;** may be required first; after the managed certificate is ready, **&#x60;status&#x60;** becomes **&#x60;active&#x60;** on auto-activation, else **&#x60;platform_dns_pending_review&#x60;** until staff **&#x60;activate&#x60;**.  **&#x60;platform_dns_verification_failed&#x60;** may include **&#x60;details.flyStatus&#x60;** / **&#x60;details.flyError&#x60;** with provisioning error context. 
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(OrgPatchDomainResponse, Integer, Hash)>] OrgPatchDomainResponse data, response status code and response headers
    def org_custom_domain_verify_platform_dns_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.org_custom_domain_verify_platform_dns ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.org_custom_domain_verify_platform_dns"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.org_custom_domain_verify_platform_dns"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.org_custom_domain_verify_platform_dns"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}/verify-platform-dns'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'OrgPatchDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.org_custom_domain_verify_platform_dns",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#org_custom_domain_verify_platform_dns\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update domain status or regenerate verification token
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchOrgDomainRequest] :patch_org_domain_request 
    # @return [OrgPatchDomainResponse]
    def patch_org_custom_domain(org_id, project_id, hostname, opts = {})
      data, _status_code, _headers = patch_org_custom_domain_with_http_info(org_id, project_id, hostname, opts)
      data
    end

    # Update domain status or regenerate verification token
    # @param org_id [String] 
    # @param project_id [String] 
    # @param hostname [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [PatchOrgDomainRequest] :patch_org_domain_request 
    # @return [Array<(OrgPatchDomainResponse, Integer, Hash)>] OrgPatchDomainResponse data, response status code and response headers
    def patch_org_custom_domain_with_http_info(org_id, project_id, hostname, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.patch_org_custom_domain ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.patch_org_custom_domain"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling OrganizationsApi.patch_org_custom_domain"
      end
      # verify the required parameter 'hostname' is set
      if @api_client.config.client_side_validation && hostname.nil?
        fail ArgumentError, "Missing the required parameter 'hostname' when calling OrganizationsApi.patch_org_custom_domain"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/projects/{projectId}/domains/{hostname}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'hostname' + '}', CGI.escape(hostname.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'patch_org_domain_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'OrgPatchDomainResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.patch_org_custom_domain",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#patch_org_custom_domain\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Remove member from sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveTeamMember200Response]
    def remove_sub_organization_member(org_id, suborg_id, user_id, opts = {})
      data, _status_code, _headers = remove_sub_organization_member_with_http_info(org_id, suborg_id, user_id, opts)
      data
    end

    # ~~Remove member from sub-organization~~ (deprecated)
    # @param org_id [String] 
    # @param suborg_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveTeamMember200Response, Integer, Hash)>] RemoveTeamMember200Response data, response status code and response headers
    def remove_sub_organization_member_with_http_info(org_id, suborg_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.remove_sub_organization_member ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.remove_sub_organization_member"
      end
      # verify the required parameter 'suborg_id' is set
      if @api_client.config.client_side_validation && suborg_id.nil?
        fail ArgumentError, "Missing the required parameter 'suborg_id' when calling OrganizationsApi.remove_sub_organization_member"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling OrganizationsApi.remove_sub_organization_member"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/suborgs/{suborgId}/members/{userId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'suborgId' + '}', CGI.escape(suborg_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveTeamMember200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.remove_sub_organization_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#remove_sub_organization_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove team member from organization
    # Remove a user from the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [RemoveTeamMember200Response]
    def remove_team_member(org_id, user_id, opts = {})
      data, _status_code, _headers = remove_team_member_with_http_info(org_id, user_id, opts)
      data
    end

    # Remove team member from organization
    # Remove a user from the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RemoveTeamMember200Response, Integer, Hash)>] RemoveTeamMember200Response data, response status code and response headers
    def remove_team_member_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.remove_team_member ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.remove_team_member"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling OrganizationsApi.remove_team_member"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/members/{userId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RemoveTeamMember200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"OrganizationsApi.remove_team_member",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OrganizationsApi#remove_team_member\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set primary custom domain
    # @param org_id [String] 
    # @param project_id [String] 
    # @param set_org_primary_domain_request [SetOrgPrimaryDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def set_org_primary_domain(org_id, project_id, set_org_primary_domain_request, opts = {})
      set_org_primary_domain_with_http_info(org_id, project_id, set_org_primary_domain_request, opts)
      nil
    end

    # Set primary custom domain
    # @param org_id [String] 
    # @param project_id [String] 
    # @param set_org_primary_domain_request [SetOrgPrimaryDomainRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def set_org_primary_domain_with_http_info(org_id, project_id, set_org_primary_domain_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OrganizationsApi.set_org_primary_domain ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling OrganizationsApi.set_org_primary_domain"
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
[...]
