=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.16
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class ProjectFeesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ~~Confirm address verification~~ (deprecated)
    # Confirm address verification by providing the transaction hash of the test transaction sent to the payout address. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param confirm_address_verification_request [ConfirmAddressVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfirmAddressVerification200Response]
    def confirm_address_verification(project_id, currency, confirm_address_verification_request, opts = {})
      data, _status_code, _headers = confirm_address_verification_with_http_info(project_id, currency, confirm_address_verification_request, opts)
      data
    end

    # ~~Confirm address verification~~ (deprecated)
    # Confirm address verification by providing the transaction hash of the test transaction sent to the payout address. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param confirm_address_verification_request [ConfirmAddressVerificationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfirmAddressVerification200Response, Integer, Hash)>] ConfirmAddressVerification200Response data, response status code and response headers
    def confirm_address_verification_with_http_info(project_id, currency, confirm_address_verification_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.confirm_address_verification ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.confirm_address_verification"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling ProjectFeesApi.confirm_address_verification"
      end
      # verify the required parameter 'confirm_address_verification_request' is set
      if @api_client.config.client_side_validation && confirm_address_verification_request.nil?
        fail ArgumentError, "Missing the required parameter 'confirm_address_verification_request' when calling ProjectFeesApi.confirm_address_verification"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-settings/{currency}/confirm-verification'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(confirm_address_verification_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfirmAddressVerification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.confirm_address_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#confirm_address_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Create or update project fee settings~~ (deprecated)
    # Create or update fee settings for a project. Configure transaction fees, payout addresses, and thresholds for supported cryptocurrencies. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param create_or_update_fee_settings_request [CreateOrUpdateFeeSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def create_or_update_fee_settings(project_id, create_or_update_fee_settings_request, opts = {})
      data, _status_code, _headers = create_or_update_fee_settings_with_http_info(project_id, create_or_update_fee_settings_request, opts)
      data
    end

    # ~~Create or update project fee settings~~ (deprecated)
    # Create or update fee settings for a project. Configure transaction fees, payout addresses, and thresholds for supported cryptocurrencies. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param create_or_update_fee_settings_request [CreateOrUpdateFeeSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def create_or_update_fee_settings_with_http_info(project_id, create_or_update_fee_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.create_or_update_fee_settings ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.create_or_update_fee_settings"
      end
      # verify the required parameter 'create_or_update_fee_settings_request' is set
      if @api_client.config.client_side_validation && create_or_update_fee_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_or_update_fee_settings_request' when calling ProjectFeesApi.create_or_update_fee_settings"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-settings'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_or_update_fee_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.create_or_update_fee_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#create_or_update_fee_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get currency fee balance~~ (deprecated)
    # Get fee balance for a specific cryptocurrency in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetCurrencyFeeBalance200Response]
    def get_currency_fee_balance(project_id, currency, opts = {})
      data, _status_code, _headers = get_currency_fee_balance_with_http_info(project_id, currency, opts)
      data
    end

    # ~~Get currency fee balance~~ (deprecated)
    # Get fee balance for a specific cryptocurrency in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCurrencyFeeBalance200Response, Integer, Hash)>] GetCurrencyFeeBalance200Response data, response status code and response headers
    def get_currency_fee_balance_with_http_info(project_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.get_currency_fee_balance ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.get_currency_fee_balance"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling ProjectFeesApi.get_currency_fee_balance"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-balances/{currency}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCurrencyFeeBalance200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.get_currency_fee_balance",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#get_currency_fee_balance\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get all fee balances~~ (deprecated)
    # Get fee balances for all currencies in a project, including collected amounts, thresholds, and payout status. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetFeeBalances200Response]
    def get_fee_balances(project_id, opts = {})
      data, _status_code, _headers = get_fee_balances_with_http_info(project_id, opts)
      data
    end

    # ~~Get all fee balances~~ (deprecated)
    # Get fee balances for all currencies in a project, including collected amounts, thresholds, and payout status. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetFeeBalances200Response, Integer, Hash)>] GetFeeBalances200Response data, response status code and response headers
    def get_fee_balances_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.get_fee_balances ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.get_fee_balances"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-balances'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetFeeBalances200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.get_fee_balances",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#get_fee_balances\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get project fee settings~~ (deprecated)
    # Get all fee settings configured for a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [TestIntegration200Response]
    def get_fee_settings(project_id, opts = {})
      data, _status_code, _headers = get_fee_settings_with_http_info(project_id, opts)
      data
    end

    # ~~Get project fee settings~~ (deprecated)
    # Get all fee settings configured for a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestIntegration200Response, Integer, Hash)>] TestIntegration200Response data, response status code and response headers
    def get_fee_settings_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.get_fee_settings ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.get_fee_settings"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-settings'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'TestIntegration200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.get_fee_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#get_fee_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get payout history~~ (deprecated)
    # Get historical payout records for a project with pagination. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :currency 
    # @option opts [String] :status 
    # @return [GetPayoutHistory200Response]
    def get_payout_history(project_id, opts = {})
      data, _status_code, _headers = get_payout_history_with_http_info(project_id, opts)
      data
    end

    # ~~Get payout history~~ (deprecated)
    # Get historical payout records for a project with pagination. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @option opts [String] :currency 
    # @option opts [String] :status 
    # @return [Array<(GetPayoutHistory200Response, Integer, Hash)>] GetPayoutHistory200Response data, response status code and response headers
    def get_payout_history_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.get_payout_history ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.get_payout_history"
      end
      allowable_values = ["scheduled", "processing", "completed", "failed", "requires_attention"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/payout-history'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'currency'] = opts[:'currency'] if !opts[:'currency'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPayoutHistory200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.get_payout_history",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#get_payout_history\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get fee dashboard~~ (deprecated)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectFeeDashboard200Response]
    def get_project_fee_dashboard(project_id, opts = {})
      data, _status_code, _headers = get_project_fee_dashboard_with_http_info(project_id, opts)
      data
    end

    # ~~Get fee dashboard~~ (deprecated)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectFeeDashboard200Response, Integer, Hash)>] GetProjectFeeDashboard200Response data, response status code and response headers
    def get_project_fee_dashboard_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.get_project_fee_dashboard ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.get_project_fee_dashboard"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-dashboard'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectFeeDashboard200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.get_project_fee_dashboard",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#get_project_fee_dashboard\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Initiate address verification~~ (deprecated)
    # Initiate verification process for a payout address. Requires sending a small test transaction to verify ownership. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param [Hash] opts the optional parameters
    # @return [InitiateAddressVerification200Response]
    def initiate_address_verification(project_id, currency, opts = {})
      data, _status_code, _headers = initiate_address_verification_with_http_info(project_id, currency, opts)
      data
    end

    # ~~Initiate address verification~~ (deprecated)
    # Initiate verification process for a payout address. Requires sending a small test transaction to verify ownership. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(InitiateAddressVerification200Response, Integer, Hash)>] InitiateAddressVerification200Response data, response status code and response headers
    def initiate_address_verification_with_http_info(project_id, currency, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.initiate_address_verification ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.initiate_address_verification"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling ProjectFeesApi.initiate_address_verification"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-settings/{currency}/verify-address'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'InitiateAddressVerification200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.initiate_address_verification",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#initiate_address_verification\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Request manual payout~~ (deprecated)
    # Request a manual payout for collected fees. Requires sufficient balance above the threshold. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param request_manual_payout_request [RequestManualPayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def request_manual_payout(project_id, request_manual_payout_request, opts = {})
      data, _status_code, _headers = request_manual_payout_with_http_info(project_id, request_manual_payout_request, opts)
      data
    end

    # ~~Request manual payout~~ (deprecated)
    # Request a manual payout for collected fees. Requires sufficient balance above the threshold. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param request_manual_payout_request [RequestManualPayoutRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def request_manual_payout_with_http_info(project_id, request_manual_payout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.request_manual_payout ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.request_manual_payout"
      end
      # verify the required parameter 'request_manual_payout_request' is set
      if @api_client.config.client_side_validation && request_manual_payout_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_manual_payout_request' when calling ProjectFeesApi.request_manual_payout"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/payouts/request-manual'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_manual_payout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.request_manual_payout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#request_manual_payout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Update currency fee settings~~ (deprecated)
    # Update fee settings for a specific cryptocurrency in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param update_currency_fee_settings_request [UpdateCurrencyFeeSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApplyRoleFeaturePreset200Response]
    def update_currency_fee_settings(project_id, currency, update_currency_fee_settings_request, opts = {})
      data, _status_code, _headers = update_currency_fee_settings_with_http_info(project_id, currency, update_currency_fee_settings_request, opts)
      data
    end

    # ~~Update currency fee settings~~ (deprecated)
    # Update fee settings for a specific cryptocurrency in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param currency [String] 
    # @param update_currency_fee_settings_request [UpdateCurrencyFeeSettingsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApplyRoleFeaturePreset200Response, Integer, Hash)>] ApplyRoleFeaturePreset200Response data, response status code and response headers
    def update_currency_fee_settings_with_http_info(project_id, currency, update_currency_fee_settings_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectFeesApi.update_currency_fee_settings ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectFeesApi.update_currency_fee_settings"
      end
      # verify the required parameter 'currency' is set
      if @api_client.config.client_side_validation && currency.nil?
        fail ArgumentError, "Missing the required parameter 'currency' when calling ProjectFeesApi.update_currency_fee_settings"
      end
      # verify enum value
      allowable_values = ["BTC", "ETH", "BNB", "LTC", "SOL", "TRX", "USDT-ETH", "USDT-BSC", "USDT-TRX", "USDT-SOL"]
      if @api_client.config.client_side_validation && !allowable_values.include?(currency)
        fail ArgumentError, "invalid value for \"currency\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'update_currency_fee_settings_request' is set
      if @api_client.config.client_side_validation && update_currency_fee_settings_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_currency_fee_settings_request' when calling ProjectFeesApi.update_currency_fee_settings"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/fee-settings/{currency}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'currency' + '}', CGI.escape(currency.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_currency_fee_settings_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApplyRoleFeaturePreset200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectFeesApi.update_currency_fee_settings",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectFeesApi#update_currency_fee_settings\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
