=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.12
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class ProjectsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Configure OAuth provider for a project
    # Creates or updates the configuration for an OAuth provider for the specified project
    # @param project_id [String] 
    # @param provider [String] 
    # @param configure_o_auth_provider_request [ConfigureOAuthProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigureOAuthProvider200Response]
    def configure_o_auth_provider(project_id, provider, configure_o_auth_provider_request, opts = {})
      data, _status_code, _headers = configure_o_auth_provider_with_http_info(project_id, provider, configure_o_auth_provider_request, opts)
      data
    end

    # Configure OAuth provider for a project
    # Creates or updates the configuration for an OAuth provider for the specified project
    # @param project_id [String] 
    # @param provider [String] 
    # @param configure_o_auth_provider_request [ConfigureOAuthProviderRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigureOAuthProvider200Response, Integer, Hash)>] ConfigureOAuthProvider200Response data, response status code and response headers
    def configure_o_auth_provider_with_http_info(project_id, provider, configure_o_auth_provider_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.configure_o_auth_provider ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.configure_o_auth_provider"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectsApi.configure_o_auth_provider"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "apple", "twitter", "discord", "linkedin", "dropbox", "slack", "reddit", "twitch", "figma", "zoom", "bitbucket", "salesforce", "shopify", "line", "spotify", "strava", "paypal", "asana", "trello", "okta", "gitea", "yandex", "yahoo", "vk", "meetup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'configure_o_auth_provider_request' is set
      if @api_client.config.client_side_validation && configure_o_auth_provider_request.nil?
        fail ArgumentError, "Missing the required parameter 'configure_o_auth_provider_request' when calling ProjectsApi.configure_o_auth_provider"
      end
      # resource path
      local_var_path = '/api/auth/oauth/projects/{projectId}/providers/{provider}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(configure_o_auth_provider_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigureOAuthProvider200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.configure_o_auth_provider",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#configure_o_auth_provider\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Create new project
    # Create a new project in an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] Organization ID
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateProject201Response]
    def create_project(org_id, create_project_request, opts = {})
      data, _status_code, _headers = create_project_with_http_info(org_id, create_project_request, opts)
      data
    end

    # Create new project
    # Create a new project in an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] Organization ID
    # @param create_project_request [CreateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateProject201Response, Integer, Hash)>] CreateProject201Response data, response status code and response headers
    def create_project_with_http_info(org_id, create_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.create_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.create_project"
      end
      # verify the required parameter 'create_project_request' is set
      if @api_client.config.client_side_validation && create_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_project_request' when calling ProjectsApi.create_project"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateProject201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.create_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#create_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete project
    # Delete a project permanently. This is a destructive operation. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [MessageResponse]
    def delete_project(org_id, id, opts = {})
      data, _status_code, _headers = delete_project_with_http_info(org_id, id, opts)
      data
    end

    # Delete project
    # Delete a project permanently. This is a destructive operation. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(MessageResponse, Integer, Hash)>] MessageResponse data, response status code and response headers
    def delete_project_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.delete_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.delete_project"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.delete_project"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'MessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.delete_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#delete_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get OAuth provider configuration
    # Returns the configuration for a specific OAuth provider for the project (without sensitive data)
    # @param project_id [String] 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetOAuthProviderConfig200Response]
    def get_o_auth_provider_config(project_id, provider, opts = {})
      data, _status_code, _headers = get_o_auth_provider_config_with_http_info(project_id, provider, opts)
      data
    end

    # Get OAuth provider configuration
    # Returns the configuration for a specific OAuth provider for the project (without sensitive data)
    # @param project_id [String] 
    # @param provider [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetOAuthProviderConfig200Response, Integer, Hash)>] GetOAuthProviderConfig200Response data, response status code and response headers
    def get_o_auth_provider_config_with_http_info(project_id, provider, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_o_auth_provider_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.get_o_auth_provider_config"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectsApi.get_o_auth_provider_config"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "apple", "twitter", "discord", "linkedin", "dropbox", "slack", "reddit", "twitch", "figma", "zoom", "bitbucket", "salesforce", "shopify", "line", "spotify", "strava", "paypal", "asana", "trello", "okta", "gitea", "yandex", "yahoo", "vk", "meetup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/auth/oauth/projects/{projectId}/providers/{provider}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetOAuthProviderConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_o_auth_provider_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_o_auth_provider_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get single project
    # Get project details by ID. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Project]
    def get_project(org_id, id, opts = {})
      data, _status_code, _headers = get_project_with_http_info(org_id, id, opts)
      data
    end

    # Get single project
    # Get project details by ID. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Project, Integer, Hash)>] Project data, response status code and response headers
    def get_project_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.get_project"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.get_project"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Project'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get project CAPTCHA configuration
    # Get CAPTCHA configuration for a project. This is a public endpoint that returns the site key  and settings needed for frontend integration. Secret key is never returned. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [GetProjectCaptchaConfig200Response]
    def get_project_captcha_config(org_id, id, opts = {})
      data, _status_code, _headers = get_project_captcha_config_with_http_info(org_id, id, opts)
      data
    end

    # Get project CAPTCHA configuration
    # Get CAPTCHA configuration for a project. This is a public endpoint that returns the site key  and settings needed for frontend integration. Secret key is never returned. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectCaptchaConfig200Response, Integer, Hash)>] GetProjectCaptchaConfig200Response data, response status code and response headers
    def get_project_captcha_config_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project_captcha_config ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.get_project_captcha_config"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.get_project_captcha_config"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}/auth/captcha'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectCaptchaConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project_captcha_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project_captcha_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Project dashboard overview
    # Single response for the project overview UI: project info, request counts and day-over-day % change, active users (distinct JWT users with project activity; realtime socket count when available), **Uptime** (30d headline) is organization-wide when enough HTTP samples exist, else DB heartbeat probes. **Average latency** (today / 7d) is **per project** and counts only routes documented in `openapi-docs.yaml` for customer/project API (excludes auth, `/api/users`, `/api/orgs`, role-elevation, and multi-role admin routes). Request volume and active users remain per-project. 14-day API call volume and recent audit activity are per-project. See docs/dashboard-overview-api.md. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ProjectDashboardOverviewResponse]
    def get_project_dashboard_overview(project_id, opts = {})
      data, _status_code, _headers = get_project_dashboard_overview_with_http_info(project_id, opts)
      data
    end

    # Project dashboard overview
    # Single response for the project overview UI: project info, request counts and day-over-day % change, active users (distinct JWT users with project activity; realtime socket count when available), **Uptime** (30d headline) is organization-wide when enough HTTP samples exist, else DB heartbeat probes. **Average latency** (today / 7d) is **per project** and counts only routes documented in &#x60;openapi-docs.yaml&#x60; for customer/project API (excludes auth, &#x60;/api/users&#x60;, &#x60;/api/orgs&#x60;, role-elevation, and multi-role admin routes). Request volume and active users remain per-project. 14-day API call volume and recent audit activity are per-project. See docs/dashboard-overview-api.md. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectDashboardOverviewResponse, Integer, Hash)>] ProjectDashboardOverviewResponse data, response status code and response headers
    def get_project_dashboard_overview_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project_dashboard_overview ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.get_project_dashboard_overview"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/dashboard/overview'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectDashboardOverviewResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project_dashboard_overview",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project_dashboard_overview\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get configured OAuth providers for a project
    # Returns a list of OAuth providers that are configured and enabled for the specified project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectOAuthProviders200Response]
    def get_project_o_auth_providers(project_id, opts = {})
      data, _status_code, _headers = get_project_o_auth_providers_with_http_info(project_id, opts)
      data
    end

    # Get configured OAuth providers for a project
    # Returns a list of OAuth providers that are configured and enabled for the specified project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectOAuthProviders200Response, Integer, Hash)>] GetProjectOAuthProviders200Response data, response status code and response headers
    def get_project_o_auth_providers_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project_o_auth_providers ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.get_project_o_auth_providers"
      end
      # resource path
      local_var_path = '/api/auth/oauth/projects/{projectId}/providers'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectOAuthProviders200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project_o_auth_providers",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project_o_auth_providers\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get project usage statistics
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [ProjectUsageResponse]
    def get_project_usage(org_id, id, opts = {})
      data, _status_code, _headers = get_project_usage_with_http_info(org_id, id, opts)
      data
    end

    # Get project usage statistics
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ProjectUsageResponse, Integer, Hash)>] ProjectUsageResponse data, response status code and response headers
    def get_project_usage_with_http_info(org_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.get_project_usage ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.get_project_usage"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.get_project_usage"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}/usage'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ProjectUsageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.get_project_usage",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#get_project_usage\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List all projects
    # List all projects in an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [ListProjects200Response]
    def list_projects(org_id, opts = {})
      data, _status_code, _headers = list_projects_with_http_info(org_id, opts)
      data
    end

    # List all projects
    # List all projects in an organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] Organization ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListProjects200Response, Integer, Hash)>] ListProjects200Response data, response status code and response headers
    def list_projects_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.list_projects ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.list_projects"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListProjects200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.list_projects",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#list_projects\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update OAuth provider configuration
    # Updates the configuration for an OAuth provider for the specified project
    # @param project_id [String] 
    # @param provider [String] 
    # @param update_o_auth_provider_config_request [UpdateOAuthProviderConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ConfigureOAuthProvider200Response]
    def update_o_auth_provider_config(project_id, provider, update_o_auth_provider_config_request, opts = {})
      data, _status_code, _headers = update_o_auth_provider_config_with_http_info(project_id, provider, update_o_auth_provider_config_request, opts)
      data
    end

    # Update OAuth provider configuration
    # Updates the configuration for an OAuth provider for the specified project
    # @param project_id [String] 
    # @param provider [String] 
    # @param update_o_auth_provider_config_request [UpdateOAuthProviderConfigRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ConfigureOAuthProvider200Response, Integer, Hash)>] ConfigureOAuthProvider200Response data, response status code and response headers
    def update_o_auth_provider_config_with_http_info(project_id, provider, update_o_auth_provider_config_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.update_o_auth_provider_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling ProjectsApi.update_o_auth_provider_config"
      end
      # verify the required parameter 'provider' is set
      if @api_client.config.client_side_validation && provider.nil?
        fail ArgumentError, "Missing the required parameter 'provider' when calling ProjectsApi.update_o_auth_provider_config"
      end
      # verify enum value
      allowable_values = ["google", "github", "facebook", "microsoft", "apple", "twitter", "discord", "linkedin", "dropbox", "slack", "reddit", "twitch", "figma", "zoom", "bitbucket", "salesforce", "shopify", "line", "spotify", "strava", "paypal", "asana", "trello", "okta", "gitea", "yandex", "yahoo", "vk", "meetup"]
      if @api_client.config.client_side_validation && !allowable_values.include?(provider)
        fail ArgumentError, "invalid value for \"provider\", must be one of #{allowable_values}"
      end
      # verify the required parameter 'update_o_auth_provider_config_request' is set
      if @api_client.config.client_side_validation && update_o_auth_provider_config_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_o_auth_provider_config_request' when calling ProjectsApi.update_o_auth_provider_config"
      end
      # resource path
      local_var_path = '/api/auth/oauth/projects/{projectId}/providers/{provider}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s)).sub('{' + 'provider' + '}', CGI.escape(provider.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_o_auth_provider_config_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigureOAuthProvider200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.update_o_auth_provider_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#update_o_auth_provider_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update project
    # Update project configuration (name, description, settings). **Settings toggles:** **requireEmailVerification** (default true) — when on, new email signups do not get a token until they verify; login is blocked until verified. **requirePhoneVerification** (default false) — when on, phone/OTP users must verify before token. **defaultUserAccountStatus** — **active** (default) or **pending**; when pending, new users must be approved by org owner/admin before they can perform data/storage operations. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param update_project_request [UpdateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateProject201Response]
    def update_project(org_id, id, update_project_request, opts = {})
      data, _status_code, _headers = update_project_with_http_info(org_id, id, update_project_request, opts)
      data
    end

    # Update project
    # Update project configuration (name, description, settings). **Settings toggles:** **requireEmailVerification** (default true) — when on, new email signups do not get a token until they verify; login is blocked until verified. **requirePhoneVerification** (default false) — when on, phone/OTP users must verify before token. **defaultUserAccountStatus** — **active** (default) or **pending**; when pending, new users must be approved by org owner/admin before they can perform data/storage operations. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param update_project_request [UpdateProjectRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateProject201Response, Integer, Hash)>] CreateProject201Response data, response status code and response headers
    def update_project_with_http_info(org_id, id, update_project_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.update_project ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.update_project"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.update_project"
      end
      # verify the required parameter 'update_project_request' is set
      if @api_client.config.client_side_validation && update_project_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_project_request' when calling ProjectsApi.update_project"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_project_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateProject201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.update_project",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#update_project\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload project logo (by project ID)
    # Upload a logo image for a project. File is stored in the platform storage under **logo/project/{projectId}/**. The public URL is saved to the project's **logoUrl** field and used in project-related emails and UI. Project is resolved from the authenticated user's org. Use multipart/form-data with field name **logo**. Allowed types: PNG, JPEG, GIF, WebP. Max size 2MB. 
    # @param id [String] Project ID
    # @param logo [File] Logo image (PNG, JPEG, GIF, or WebP; max 2MB)
    # @param [Hash] opts the optional parameters
    # @return [UploadProjectLogo200Response]
    def upload_project_logo(id, logo, opts = {})
      data, _status_code, _headers = upload_project_logo_with_http_info(id, logo, opts)
      data
    end

    # Upload project logo (by project ID)
    # Upload a logo image for a project. File is stored in the platform storage under **logo/project/{projectId}/**. The public URL is saved to the project&#39;s **logoUrl** field and used in project-related emails and UI. Project is resolved from the authenticated user&#39;s org. Use multipart/form-data with field name **logo**. Allowed types: PNG, JPEG, GIF, WebP. Max size 2MB. 
    # @param id [String] Project ID
    # @param logo [File] Logo image (PNG, JPEG, GIF, or WebP; max 2MB)
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadProjectLogo200Response, Integer, Hash)>] UploadProjectLogo200Response data, response status code and response headers
    def upload_project_logo_with_http_info(id, logo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.upload_project_logo ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.upload_project_logo"
      end
      # verify the required parameter 'logo' is set
      if @api_client.config.client_side_validation && logo.nil?
        fail ArgumentError, "Missing the required parameter 'logo' when calling ProjectsApi.upload_project_logo"
      end
      # resource path
      local_var_path = '/api/projects/{id}/logo'.sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['logo'] = logo

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadProjectLogo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.upload_project_logo",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#upload_project_logo\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload project logo (by org and project ID)
    # Upload a logo image for a project. File is stored in the platform storage under **logo/project/{projectId}/**. The public URL is saved to the project's **logoUrl** field. Use multipart/form-data with field name **logo**. Allowed types: PNG, JPEG, GIF, WebP. Max size 2MB. Requires project update permission and membership in the organization. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param logo [File] Logo image (PNG, JPEG, GIF, or WebP; max 2MB)
    # @param [Hash] opts the optional parameters
    # @return [UploadProjectLogo200Response]
    def upload_project_logo_by_org(org_id, id, logo, opts = {})
      data, _status_code, _headers = upload_project_logo_by_org_with_http_info(org_id, id, logo, opts)
      data
    end

    # Upload project logo (by org and project ID)
    # Upload a logo image for a project. File is stored in the platform storage under **logo/project/{projectId}/**. The public URL is saved to the project&#39;s **logoUrl** field. Use multipart/form-data with field name **logo**. Allowed types: PNG, JPEG, GIF, WebP. Max size 2MB. Requires project update permission and membership in the organization. 
    # @param org_id [String] Organization ID
    # @param id [String] Project ID
    # @param logo [File] Logo image (PNG, JPEG, GIF, or WebP; max 2MB)
    # @param [Hash] opts the optional parameters
    # @return [Array<(UploadProjectLogo200Response, Integer, Hash)>] UploadProjectLogo200Response data, response status code and response headers
    def upload_project_logo_by_org_with_http_info(org_id, id, logo, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ProjectsApi.upload_project_logo_by_org ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling ProjectsApi.upload_project_logo_by_org"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling ProjectsApi.upload_project_logo_by_org"
      end
      # verify the required parameter 'logo' is set
      if @api_client.config.client_side_validation && logo.nil?
        fail ArgumentError, "Missing the required parameter 'logo' when calling ProjectsApi.upload_project_logo_by_org"
      end
      # resource path
      local_var_path = '/api/projects/{orgId}/projects/{id}/logo'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['multipart/form-data'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}
      form_params['logo'] = logo

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'UploadProjectLogo200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"ProjectsApi.upload_project_logo_by_org",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ProjectsApi#upload_project_logo_by_org\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
