=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.17
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class RealTimeAnalyticsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Check presence status for users
    # Returns online status for specified user IDs
    # @param project_id [String] 
    # @param check_user_presence_request [CheckUserPresenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CheckUserPresence200Response]
    def check_user_presence(project_id, check_user_presence_request, opts = {})
      data, _status_code, _headers = check_user_presence_with_http_info(project_id, check_user_presence_request, opts)
      data
    end

    # Check presence status for users
    # Returns online status for specified user IDs
    # @param project_id [String] 
    # @param check_user_presence_request [CheckUserPresenceRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckUserPresence200Response, Integer, Hash)>] CheckUserPresence200Response data, response status code and response headers
    def check_user_presence_with_http_info(project_id, check_user_presence_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.check_user_presence ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RealTimeAnalyticsApi.check_user_presence"
      end
      # verify the required parameter 'check_user_presence_request' is set
      if @api_client.config.client_side_validation && check_user_presence_request.nil?
        fail ArgumentError, "Missing the required parameter 'check_user_presence_request' when calling RealTimeAnalyticsApi.check_user_presence"
      end
      # resource path
      local_var_path = '/api/realtime/projects/{projectId}/presence'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(check_user_presence_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CheckUserPresence200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.check_user_presence",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#check_user_presence\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get active users for a project
    # Returns list of currently connected users
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetActiveUsers200Response]
    def get_active_users(project_id, opts = {})
      data, _status_code, _headers = get_active_users_with_http_info(project_id, opts)
      data
    end

    # Get active users for a project
    # Returns list of currently connected users
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetActiveUsers200Response, Integer, Hash)>] GetActiveUsers200Response data, response status code and response headers
    def get_active_users_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.get_active_users ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RealTimeAnalyticsApi.get_active_users"
      end
      # resource path
      local_var_path = '/api/realtime/projects/{projectId}/active-users'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetActiveUsers200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.get_active_users",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#get_active_users\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get event throughput metrics
    # Returns event throughput for a project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :window Time window in milliseconds (default to 60000)
    # @return [GetEventThroughput200Response]
    def get_event_throughput(project_id, opts = {})
      data, _status_code, _headers = get_event_throughput_with_http_info(project_id, opts)
      data
    end

    # Get event throughput metrics
    # Returns event throughput for a project
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :window Time window in milliseconds (default to 60000)
    # @return [Array<(GetEventThroughput200Response, Integer, Hash)>] GetEventThroughput200Response data, response status code and response headers
    def get_event_throughput_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.get_event_throughput ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RealTimeAnalyticsApi.get_event_throughput"
      end
      # resource path
      local_var_path = '/api/realtime/projects/{projectId}/throughput'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'window'] = opts[:'window'] if !opts[:'window'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetEventThroughput200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.get_event_throughput",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#get_event_throughput\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get global real-time analytics
    # Returns system-wide real-time metrics (admin only)
    # @param [Hash] opts the optional parameters
    # @return [GetGlobalAnalytics200Response]
    def get_global_analytics(opts = {})
      data, _status_code, _headers = get_global_analytics_with_http_info(opts)
      data
    end

    # Get global real-time analytics
    # Returns system-wide real-time metrics (admin only)
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetGlobalAnalytics200Response, Integer, Hash)>] GetGlobalAnalytics200Response data, response status code and response headers
    def get_global_analytics_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.get_global_analytics ...'
      end
      # resource path
      local_var_path = '/api/realtime/analytics'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetGlobalAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.get_global_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#get_global_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get historical analytics
    # Returns historical analytics for charting
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period Time period for historical data (default to 'hour')
    # @return [GetHistoricalAnalytics200Response]
    def get_historical_analytics(project_id, opts = {})
      data, _status_code, _headers = get_historical_analytics_with_http_info(project_id, opts)
      data
    end

    # Get historical analytics
    # Returns historical analytics for charting
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :period Time period for historical data (default to 'hour')
    # @return [Array<(GetHistoricalAnalytics200Response, Integer, Hash)>] GetHistoricalAnalytics200Response data, response status code and response headers
    def get_historical_analytics_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.get_historical_analytics ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RealTimeAnalyticsApi.get_historical_analytics"
      end
      allowable_values = ["hour", "day", "week"]
      if @api_client.config.client_side_validation && opts[:'period'] && !allowable_values.include?(opts[:'period'])
        fail ArgumentError, "invalid value for \"period\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/realtime/projects/{projectId}/history'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'period'] = opts[:'period'] if !opts[:'period'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetHistoricalAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.get_historical_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#get_historical_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get project real-time analytics
    # Returns real-time metrics for a specific project (active connections, events, etc.)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetProjectAnalytics200Response]
    def get_project_analytics(project_id, opts = {})
      data, _status_code, _headers = get_project_analytics_with_http_info(project_id, opts)
      data
    end

    # Get project real-time analytics
    # Returns real-time metrics for a specific project (active connections, events, etc.)
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetProjectAnalytics200Response, Integer, Hash)>] GetProjectAnalytics200Response data, response status code and response headers
    def get_project_analytics_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RealTimeAnalyticsApi.get_project_analytics ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RealTimeAnalyticsApi.get_project_analytics"
      end
      # resource path
      local_var_path = '/api/realtime/projects/{projectId}/analytics'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetProjectAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RealTimeAnalyticsApi.get_project_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RealTimeAnalyticsApi#get_project_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
