=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.14
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class RoleElevationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Approve/reject role elevation request (admin only)
    # Admin approves or rejects a role elevation request
    # @param org_id [String] 
    # @param request_id [String] 
    # @param approve_role_elevation_request [ApproveRoleElevationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [ApproveRoleElevation200Response]
    def approve_role_elevation(org_id, request_id, approve_role_elevation_request, opts = {})
      data, _status_code, _headers = approve_role_elevation_with_http_info(org_id, request_id, approve_role_elevation_request, opts)
      data
    end

    # Approve/reject role elevation request (admin only)
    # Admin approves or rejects a role elevation request
    # @param org_id [String] 
    # @param request_id [String] 
    # @param approve_role_elevation_request [ApproveRoleElevationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ApproveRoleElevation200Response, Integer, Hash)>] ApproveRoleElevation200Response data, response status code and response headers
    def approve_role_elevation_with_http_info(org_id, request_id, approve_role_elevation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleElevationApi.approve_role_elevation ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RoleElevationApi.approve_role_elevation"
      end
      # verify the required parameter 'request_id' is set
      if @api_client.config.client_side_validation && request_id.nil?
        fail ArgumentError, "Missing the required parameter 'request_id' when calling RoleElevationApi.approve_role_elevation"
      end
      # verify the required parameter 'approve_role_elevation_request' is set
      if @api_client.config.client_side_validation && approve_role_elevation_request.nil?
        fail ArgumentError, "Missing the required parameter 'approve_role_elevation_request' when calling RoleElevationApi.approve_role_elevation"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/role-elevation/{requestId}/approve'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'requestId' + '}', CGI.escape(request_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(approve_role_elevation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ApproveRoleElevation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RoleElevationApi.approve_role_elevation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleElevationApi#approve_role_elevation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get pending role elevation requests (admin only)
    # Get all pending role elevation requests requiring admin approval
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status  (default to 'pending')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @return [GetPendingRoleElevationRequests200Response]
    def get_pending_role_elevation_requests(org_id, opts = {})
      data, _status_code, _headers = get_pending_role_elevation_requests_with_http_info(org_id, opts)
      data
    end

    # Get pending role elevation requests (admin only)
    # Get all pending role elevation requests requiring admin approval
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :status  (default to 'pending')
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 50)
    # @return [Array<(GetPendingRoleElevationRequests200Response, Integer, Hash)>] GetPendingRoleElevationRequests200Response data, response status code and response headers
    def get_pending_role_elevation_requests_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleElevationApi.get_pending_role_elevation_requests ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RoleElevationApi.get_pending_role_elevation_requests"
      end
      allowable_values = ["pending", "approved", "rejected"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/role-elevation/pending'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPendingRoleElevationRequests200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RoleElevationApi.get_pending_role_elevation_requests",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleElevationApi#get_pending_role_elevation_requests\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get role elevation status
    # Get status of pending role elevation requests for current user
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role_slug 
    # @return [GetRoleElevationStatus200Response]
    def get_role_elevation_status(project_id, opts = {})
      data, _status_code, _headers = get_role_elevation_status_with_http_info(project_id, opts)
      data
    end

    # Get role elevation status
    # Get status of pending role elevation requests for current user
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :role_slug 
    # @return [Array<(GetRoleElevationStatus200Response, Integer, Hash)>] GetRoleElevationStatus200Response data, response status code and response headers
    def get_role_elevation_status_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleElevationApi.get_role_elevation_status ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RoleElevationApi.get_role_elevation_status"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/role-elevation/status'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'roleSlug'] = opts[:'role_slug'] if !opts[:'role_slug'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRoleElevationStatus200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RoleElevationApi.get_role_elevation_status",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleElevationApi#get_role_elevation_status\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Request role elevation
    # User requests to upgrade to a specific role. May require payment, KYC, or admin approval based on role configuration.
    # @param project_id [String] 
    # @param request_role_elevation_request [RequestRoleElevationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [RequestRoleElevation200Response]
    def request_role_elevation(project_id, request_role_elevation_request, opts = {})
      data, _status_code, _headers = request_role_elevation_with_http_info(project_id, request_role_elevation_request, opts)
      data
    end

    # Request role elevation
    # User requests to upgrade to a specific role. May require payment, KYC, or admin approval based on role configuration.
    # @param project_id [String] 
    # @param request_role_elevation_request [RequestRoleElevationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(RequestRoleElevation200Response, Integer, Hash)>] RequestRoleElevation200Response data, response status code and response headers
    def request_role_elevation_with_http_info(project_id, request_role_elevation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleElevationApi.request_role_elevation ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RoleElevationApi.request_role_elevation"
      end
      # verify the required parameter 'request_role_elevation_request' is set
      if @api_client.config.client_side_validation && request_role_elevation_request.nil?
        fail ArgumentError, "Missing the required parameter 'request_role_elevation_request' when calling RoleElevationApi.request_role_elevation"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/role-elevation/request'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request_role_elevation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'RequestRoleElevation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RoleElevationApi.request_role_elevation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleElevationApi#request_role_elevation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upload verification documents
    # Upload KYC/verification documents for role elevation
    # @param project_id [String] 
    # @param upload_verification_documents_request [UploadVerificationDocumentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def upload_verification_documents(project_id, upload_verification_documents_request, opts = {})
      upload_verification_documents_with_http_info(project_id, upload_verification_documents_request, opts)
      nil
    end

    # Upload verification documents
    # Upload KYC/verification documents for role elevation
    # @param project_id [String] 
    # @param upload_verification_documents_request [UploadVerificationDocumentsRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def upload_verification_documents_with_http_info(project_id, upload_verification_documents_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoleElevationApi.upload_verification_documents ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling RoleElevationApi.upload_verification_documents"
      end
      # verify the required parameter 'upload_verification_documents_request' is set
      if @api_client.config.client_side_validation && upload_verification_documents_request.nil?
        fail ArgumentError, "Missing the required parameter 'upload_verification_documents_request' when calling RoleElevationApi.upload_verification_documents"
      end
      # resource path
      local_var_path = '/api/projects/{projectId}/role-elevation/documents'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upload_verification_documents_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RoleElevationApi.upload_verification_documents",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoleElevationApi#upload_verification_documents\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
