=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.12
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class RolesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # ~~Assign custom role to user~~ (deprecated)
    # Assign a custom role to a user in the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param assign_role_request [AssignRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [AssignRole200Response]
    def assign_role(org_id, user_id, assign_role_request, opts = {})
      data, _status_code, _headers = assign_role_with_http_info(org_id, user_id, assign_role_request, opts)
      data
    end

    # ~~Assign custom role to user~~ (deprecated)
    # Assign a custom role to a user in the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param assign_role_request [AssignRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignRole200Response, Integer, Hash)>] AssignRole200Response data, response status code and response headers
    def assign_role_with_http_info(org_id, user_id, assign_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.assign_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.assign_role"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RolesApi.assign_role"
      end
      # verify the required parameter 'assign_role_request' is set
      if @api_client.config.client_side_validation && assign_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'assign_role_request' when calling RolesApi.assign_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users/{userId}/role'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(assign_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AssignRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.assign_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#assign_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Check user permissions~~ (deprecated)
    # Get all permissions for a user (system + custom role combined)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [CheckPermissions200Response]
    def check_permissions(org_id, user_id, opts = {})
      data, _status_code, _headers = check_permissions_with_http_info(org_id, user_id, opts)
      data
    end

    # ~~Check user permissions~~ (deprecated)
    # Get all permissions for a user (system + custom role combined)
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CheckPermissions200Response, Integer, Hash)>] CheckPermissions200Response data, response status code and response headers
    def check_permissions_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.check_permissions ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.check_permissions"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RolesApi.check_permissions"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users/{userId}/permissions'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CheckPermissions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.check_permissions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#check_permissions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Create custom role~~ (deprecated)
    # Create a new custom role with specific permissions for your organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param create_role_request [CreateRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [CreateRole201Response]
    def create_role(org_id, create_role_request, opts = {})
      data, _status_code, _headers = create_role_with_http_info(org_id, create_role_request, opts)
      data
    end

    # ~~Create custom role~~ (deprecated)
    # Create a new custom role with specific permissions for your organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param create_role_request [CreateRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateRole201Response, Integer, Hash)>] CreateRole201Response data, response status code and response headers
    def create_role_with_http_info(org_id, create_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.create_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.create_role"
      end
      # verify the required parameter 'create_role_request' is set
      if @api_client.config.client_side_validation && create_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_role_request' when calling RolesApi.create_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateRole201Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.create_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#create_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Delete role~~ (deprecated)
    # Delete a custom role. Cannot delete system roles or roles with active users. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [DeleteRole200Response]
    def delete_role(org_id, role_id, opts = {})
      data, _status_code, _headers = delete_role_with_http_info(org_id, role_id, opts)
      data
    end

    # ~~Delete role~~ (deprecated)
    # Delete a custom role. Cannot delete system roles or roles with active users. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(DeleteRole200Response, Integer, Hash)>] DeleteRole200Response data, response status code and response headers
    def delete_role_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.delete_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.delete_role"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesApi.delete_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DeleteRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.delete_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#delete_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get role details~~ (deprecated)
    # Get details of a specific custom role. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetRole200Response]
    def get_role(org_id, role_id, opts = {})
      data, _status_code, _headers = get_role_with_http_info(org_id, role_id, opts)
      data
    end

    # ~~Get role details~~ (deprecated)
    # Get details of a specific custom role. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param role_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetRole200Response, Integer, Hash)>] GetRole200Response data, response status code and response headers
    def get_role_with_http_info(org_id, role_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.get_role"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesApi.get_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.get_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Get users with specific role~~ (deprecated)
    # @param org_id [String] 
    # @param role_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetUsersByRole200Response]
    def get_users_by_role(org_id, role_slug, opts = {})
      data, _status_code, _headers = get_users_by_role_with_http_info(org_id, role_slug, opts)
      data
    end

    # ~~Get users with specific role~~ (deprecated)
    # @param org_id [String] 
    # @param role_slug [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetUsersByRole200Response, Integer, Hash)>] GetUsersByRole200Response data, response status code and response headers
    def get_users_by_role_with_http_info(org_id, role_slug, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.get_users_by_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.get_users_by_role"
      end
      # verify the required parameter 'role_slug' is set
      if @api_client.config.client_side_validation && role_slug.nil?
        fail ArgumentError, "Missing the required parameter 'role_slug' when calling RolesApi.get_users_by_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles/{roleSlug}/users'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleSlug' + '}', CGI.escape(role_slug.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetUsersByRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.get_users_by_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#get_users_by_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~List all roles~~ (deprecated)
    # Get all custom roles for the organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [ListRoles200Response]
    def list_roles(org_id, opts = {})
      data, _status_code, _headers = list_roles_with_http_info(org_id, opts)
      data
    end

    # ~~List all roles~~ (deprecated)
    # Get all custom roles for the organization. Requires: OrgBearerAuth (organization-level authentication only). 
    # @param org_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListRoles200Response, Integer, Hash)>] ListRoles200Response data, response status code and response headers
    def list_roles_with_http_info(org_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.list_roles ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.list_roles"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListRoles200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.list_roles",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#list_roles\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Remove custom role from user~~ (deprecated)
    # Remove a custom role from a user in the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [AssignRole200Response]
    def remove_role(org_id, user_id, opts = {})
      data, _status_code, _headers = remove_role_with_http_info(org_id, user_id, opts)
      data
    end

    # ~~Remove custom role from user~~ (deprecated)
    # Remove a custom role from a user in the organization. Requires JWT Bearer token authentication. Both OrgBearerAuth and ProjectBearerAuth are supported (they use the same JWT token format). These are organization-level operations. 
    # @param org_id [String] 
    # @param user_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(AssignRole200Response, Integer, Hash)>] AssignRole200Response data, response status code and response headers
    def remove_role_with_http_info(org_id, user_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.remove_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.remove_role"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling RolesApi.remove_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users/{userId}/role'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'AssignRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.remove_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#remove_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # ~~Update role~~ (deprecated)
    # @param org_id [String] 
    # @param role_id [String] 
    # @param update_role_request [UpdateRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [UpdateRole200Response]
    def update_role(org_id, role_id, update_role_request, opts = {})
      data, _status_code, _headers = update_role_with_http_info(org_id, role_id, update_role_request, opts)
      data
    end

    # ~~Update role~~ (deprecated)
    # @param org_id [String] 
    # @param role_id [String] 
    # @param update_role_request [UpdateRoleRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpdateRole200Response, Integer, Hash)>] UpdateRole200Response data, response status code and response headers
    def update_role_with_http_info(org_id, role_id, update_role_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RolesApi.update_role ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling RolesApi.update_role"
      end
      # verify the required parameter 'role_id' is set
      if @api_client.config.client_side_validation && role_id.nil?
        fail ArgumentError, "Missing the required parameter 'role_id' when calling RolesApi.update_role"
      end
      # verify the required parameter 'update_role_request' is set
      if @api_client.config.client_side_validation && update_role_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_role_request' when calling RolesApi.update_role"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/roles/{roleId}'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'roleId' + '}', CGI.escape(role_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_role_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpdateRole200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"RolesApi.update_role",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RolesApi#update_role\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
