=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.17
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class SearchApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get search analytics
    # Get search analytics including top queries, search volume, and performance metrics. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :timeframe  (default to '7d')
    # @return [GetSearchAnalytics200Response]
    def get_search_analytics(project_id, opts = {})
      data, _status_code, _headers = get_search_analytics_with_http_info(project_id, opts)
      data
    end

    # Get search analytics
    # Get search analytics including top queries, search volume, and performance metrics. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :timeframe  (default to '7d')
    # @return [Array<(GetSearchAnalytics200Response, Integer, Hash)>] GetSearchAnalytics200Response data, response status code and response headers
    def get_search_analytics_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.get_search_analytics ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SearchApi.get_search_analytics"
      end
      allowable_values = ["1d", "7d", "30d"]
      if @api_client.config.client_side_validation && opts[:'timeframe'] && !allowable_values.include?(opts[:'timeframe'])
        fail ArgumentError, "invalid value for \"timeframe\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/search/projects/{projectId}/search/analytics'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'timeframe'] = opts[:'timeframe'] if !opts[:'timeframe'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSearchAnalytics200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.get_search_analytics",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#get_search_analytics\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get search suggestions
    # Get search query suggestions based on partial input. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @return [GetSearchSuggestions200Response]
    def get_search_suggestions(project_id, q, opts = {})
      data, _status_code, _headers = get_search_suggestions_with_http_info(project_id, q, opts)
      data
    end

    # Get search suggestions
    # Get search query suggestions based on partial input. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit  (default to 10)
    # @return [Array<(GetSearchSuggestions200Response, Integer, Hash)>] GetSearchSuggestions200Response data, response status code and response headers
    def get_search_suggestions_with_http_info(project_id, q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.get_search_suggestions ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SearchApi.get_search_suggestions"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.get_search_suggestions"
      end
      if @api_client.config.client_side_validation && q.to_s.length > 50
        fail ArgumentError, 'invalid value for "q" when calling SearchApi.get_search_suggestions, the character length must be smaller than or equal to 50.'
      end

      if @api_client.config.client_side_validation && q.to_s.length < 2
        fail ArgumentError, 'invalid value for "q" when calling SearchApi.get_search_suggestions, the character length must be greater than or equal to 2.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] > 20
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.get_search_suggestions, must be smaller than or equal to 20.'
      end

      if @api_client.config.client_side_validation && !opts[:'limit'].nil? && opts[:'limit'] < 1
        fail ArgumentError, 'invalid value for "opts[:"limit"]" when calling SearchApi.get_search_suggestions, must be greater than or equal to 1.'
      end

      # resource path
      local_var_path = '/api/search/projects/{projectId}/search/suggestions'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetSearchSuggestions200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.get_search_suggestions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#get_search_suggestions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Full-text search
    # Perform full-text search across collections in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :collections 
    # @option opts [String] :fields 
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [SearchResponse]
    def search_data(project_id, q, opts = {})
      data, _status_code, _headers = search_data_with_http_info(project_id, q, opts)
      data
    end

    # Full-text search
    # Perform full-text search across collections in a project. Accepts: OrgBearerAuth (for admin users), ProjectBearerAuth (JWT for authenticated users), or ApiKeyAuth (X-API-Key for programmatic access). Both ProjectBearerAuth and ApiKeyAuth are fully implemented. 
    # @param project_id [String] 
    # @param q [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :collections 
    # @option opts [String] :fields 
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [Integer] :page  (default to 1)
    # @return [Array<(SearchResponse, Integer, Hash)>] SearchResponse data, response status code and response headers
    def search_data_with_http_info(project_id, q, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SearchApi.search_data ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling SearchApi.search_data"
      end
      # verify the required parameter 'q' is set
      if @api_client.config.client_side_validation && q.nil?
        fail ArgumentError, "Missing the required parameter 'q' when calling SearchApi.search_data"
      end
      # resource path
      local_var_path = '/api/search/projects/{projectId}/search'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'q'] = q
      query_params[:'collections'] = opts[:'collections'] if !opts[:'collections'].nil?
      query_params[:'fields'] = opts[:'fields'] if !opts[:'fields'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'SearchResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"SearchApi.search_data",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SearchApi#search_data\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
