=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.13
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class VerifiedRoleUpgradeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Verified role upgrade with payment verification
    # Upgrade user role after verifying payment and KYC. Prevents replay attacks.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param verified_role_upgrade_request [VerifiedRoleUpgradeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [VerifiedRoleUpgrade200Response]
    def verified_role_upgrade(org_id, user_id, verified_role_upgrade_request, opts = {})
      data, _status_code, _headers = verified_role_upgrade_with_http_info(org_id, user_id, verified_role_upgrade_request, opts)
      data
    end

    # Verified role upgrade with payment verification
    # Upgrade user role after verifying payment and KYC. Prevents replay attacks.
    # @param org_id [String] 
    # @param user_id [String] 
    # @param verified_role_upgrade_request [VerifiedRoleUpgradeRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifiedRoleUpgrade200Response, Integer, Hash)>] VerifiedRoleUpgrade200Response data, response status code and response headers
    def verified_role_upgrade_with_http_info(org_id, user_id, verified_role_upgrade_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: VerifiedRoleUpgradeApi.verified_role_upgrade ...'
      end
      # verify the required parameter 'org_id' is set
      if @api_client.config.client_side_validation && org_id.nil?
        fail ArgumentError, "Missing the required parameter 'org_id' when calling VerifiedRoleUpgradeApi.verified_role_upgrade"
      end
      # verify the required parameter 'user_id' is set
      if @api_client.config.client_side_validation && user_id.nil?
        fail ArgumentError, "Missing the required parameter 'user_id' when calling VerifiedRoleUpgradeApi.verified_role_upgrade"
      end
      # verify the required parameter 'verified_role_upgrade_request' is set
      if @api_client.config.client_side_validation && verified_role_upgrade_request.nil?
        fail ArgumentError, "Missing the required parameter 'verified_role_upgrade_request' when calling VerifiedRoleUpgradeApi.verified_role_upgrade"
      end
      # resource path
      local_var_path = '/api/orgs/{orgId}/users/{userId}/upgrade'.sub('{' + 'orgId' + '}', CGI.escape(org_id.to_s)).sub('{' + 'userId' + '}', CGI.escape(user_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(verified_role_upgrade_request)

      # return_type
      return_type = opts[:debug_return_type] || 'VerifiedRoleUpgrade200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"VerifiedRoleUpgradeApi.verified_role_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: VerifiedRoleUpgradeApi#verified_role_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
