=begin
#MUDBASESDK

#MUDBASE is a scalable, real-time, and secure Backend-as-a-Service (BaaS) platform  designed for modern applications. Built with custom logic, it offers fine-grained  control, extensibility, and enterprise-grade security.  ## Features - 🔐 Multi-provider authentication (30+ OAuth providers) - 📊 Real-time database with collections - 📁 File storage and management - 🔑 API key management with permissions - 🔗 Webhook system with retry logic - ⚡ Serverless functions - 💬 Multi-channel messaging (Push, Email, SMS) - 📈 Usage analytics and monitoring - 🌐 Real-time WebSocket events - 🔍 Full-text search capabilities - 💳 Billing: fiat only for project subscriptions and org BaaS checkout (platform fee split). On-chain billing is not exposed on these APIs (optional `crypto-payment-module/` in repo, not mounted by default). - 🏢 Enterprise / Phase 4: custom domains on Growth, Scale, and Enterprise (TXT DNS at `_mudbase-verify.<hostname>`); `settings.customDomainAddon` is optional (billing/legacy); dedicated DB migration script, periodic DNS recheck job, optional `infrastructureEnvironments[]` and edge/metering fields on `dedicated`. 

The version of the OpenAPI document: 1.3.15
Contact: support@mudbase.dev
Generated by: https://openapi-generator.tech
Generator version: 7.20.0

=end

require 'cgi'

module Mudbase
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create or update project webhook
    # Set or update the project webhook URL and options. This is how you **add** or **create** a webhook for a project: provide **webhookUrl** to enable delivery; omit or set to null to disable. Optionally set **webhookSecret**, **webhookEvents**, **webhookVersion**, and **transformations**. Plan limits (webhooks per project) apply when adding a new URL. Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project update access. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ConfigureWebhookRequest] :configure_webhook_request 
    # @return [ConfigureWebhook200Response]
    def configure_webhook(project_id, opts = {})
      data, _status_code, _headers = configure_webhook_with_http_info(project_id, opts)
      data
    end

    # Create or update project webhook
    # Set or update the project webhook URL and options. This is how you **add** or **create** a webhook for a project: provide **webhookUrl** to enable delivery; omit or set to null to disable. Optionally set **webhookSecret**, **webhookEvents**, **webhookVersion**, and **transformations**. Plan limits (webhooks per project) apply when adding a new URL. Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project update access. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [ConfigureWebhookRequest] :configure_webhook_request 
    # @return [Array<(ConfigureWebhook200Response, Integer, Hash)>] ConfigureWebhook200Response data, response status code and response headers
    def configure_webhook_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.configure_webhook ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling WebhooksApi.configure_webhook"
      end
      # resource path
      local_var_path = '/api/webhooks/projects/{projectId}/config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'configure_webhook_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'ConfigureWebhook200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.configure_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#configure_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get project webhook configuration
    # Get the current webhook URL, events, version, and transformations for a project. This is **where Mudbase POSTs event payloads**; it does **not** return a `webhookId`. Delivery ids (`WebhookLog._id`) come from **`POST /api/webhooks/trigger`** or automatic deliveries, and from **list logs** endpoints.  Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project read access. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [GetWebhookConfig200Response]
    def get_webhook_config(project_id, opts = {})
      data, _status_code, _headers = get_webhook_config_with_http_info(project_id, opts)
      data
    end

    # Get project webhook configuration
    # Get the current webhook URL, events, version, and transformations for a project. This is **where Mudbase POSTs event payloads**; it does **not** return a &#x60;webhookId&#x60;. Delivery ids (&#x60;WebhookLog._id&#x60;) come from **&#x60;POST /api/webhooks/trigger&#x60;** or automatic deliveries, and from **list logs** endpoints.  Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project read access. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetWebhookConfig200Response, Integer, Hash)>] GetWebhookConfig200Response data, response status code and response headers
    def get_webhook_config_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_config ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling WebhooksApi.get_webhook_config"
      end
      # resource path
      local_var_path = '/api/webhooks/projects/{projectId}/config'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetWebhookConfig200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_config",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_config\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get webhook delivery statistics
    # Aggregates **`WebhookLog`** rows for your organization over the last **`days`** (default 7). Optional **`projectId`** filters to a project in your org.  Returns **`statusStats`** (counts and average duration per delivery **status**) and **`eventStats`** (counts and success rate per **event** name).  **Auth:** Organization JWT only (`authRequired`). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Optional; limit stats to this project.
    # @option opts [Integer] :days  (default to 7)
    # @return [WebhookStatsResponse]
    def get_webhook_stats(opts = {})
      data, _status_code, _headers = get_webhook_stats_with_http_info(opts)
      data
    end

    # Get webhook delivery statistics
    # Aggregates **&#x60;WebhookLog&#x60;** rows for your organization over the last **&#x60;days&#x60;** (default 7). Optional **&#x60;projectId&#x60;** filters to a project in your org.  Returns **&#x60;statusStats&#x60;** (counts and average duration per delivery **status**) and **&#x60;eventStats&#x60;** (counts and success rate per **event** name).  **Auth:** Organization JWT only (&#x60;authRequired&#x60;). 
    # @param [Hash] opts the optional parameters
    # @option opts [String] :project_id Optional; limit stats to this project.
    # @option opts [Integer] :days  (default to 7)
    # @return [Array<(WebhookStatsResponse, Integer, Hash)>] WebhookStatsResponse data, response status code and response headers
    def get_webhook_stats_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_stats ...'
      end
      # resource path
      local_var_path = '/api/webhooks/stats'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?
      query_params[:'days'] = opts[:'days'] if !opts[:'days'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookStatsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_stats",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_stats\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook delivery logs (project)
    # Same **`WebhookLog`** documents as **`GET /api/webhooks`**, scoped to **`projectId`** in the path. Accepts **org JWT**, **project JWT**, or **project API key** with project read access.  Each item’s **`_id`** is the id returned as **`webhookId`** from **`POST /api/webhooks/trigger`** and used in **`POST /api/webhooks/retry/{webhookId}`**. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @option opts [String] :event 
    # @return [WebhookListResponse]
    def list_project_webhook_logs(project_id, opts = {})
      data, _status_code, _headers = list_project_webhook_logs_with_http_info(project_id, opts)
      data
    end

    # List webhook delivery logs (project)
    # Same **&#x60;WebhookLog&#x60;** documents as **&#x60;GET /api/webhooks&#x60;**, scoped to **&#x60;projectId&#x60;** in the path. Accepts **org JWT**, **project JWT**, or **project API key** with project read access.  Each item’s **&#x60;_id&#x60;** is the id returned as **&#x60;webhookId&#x60;** from **&#x60;POST /api/webhooks/trigger&#x60;** and used in **&#x60;POST /api/webhooks/retry/{webhookId}&#x60;**. 
    # @param project_id [String] 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @option opts [String] :event 
    # @return [Array<(WebhookListResponse, Integer, Hash)>] WebhookListResponse data, response status code and response headers
    def list_project_webhook_logs_with_http_info(project_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_project_webhook_logs ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling WebhooksApi.list_project_webhook_logs"
      end
      allowable_values = ["pending", "success", "failed", "retrying"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/webhooks/projects/{projectId}'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_project_webhook_logs",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_project_webhook_logs\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook delivery logs (organization)
    # Paginated **webhook delivery logs** for your organization (each row is one outbound HTTP attempt). Optional **`projectId`** query filters to a project that belongs to your org.  Use each log document’s **`_id`** (MongoDB ObjectId) as **`webhookId`** when calling **`POST /api/webhooks/retry/{webhookId}`** after a failed delivery. Organization **JWT only** (`OrgBearerAuth`); project API keys are not accepted on this route. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @option opts [String] :event 
    # @option opts [String] :project_id Optional; restrict logs to this project (must belong to your org).
    # @return [WebhookListResponse]
    def list_webhooks(opts = {})
      data, _status_code, _headers = list_webhooks_with_http_info(opts)
      data
    end

    # List webhook delivery logs (organization)
    # Paginated **webhook delivery logs** for your organization (each row is one outbound HTTP attempt). Optional **&#x60;projectId&#x60;** query filters to a project that belongs to your org.  Use each log document’s **&#x60;_id&#x60;** (MongoDB ObjectId) as **&#x60;webhookId&#x60;** when calling **&#x60;POST /api/webhooks/retry/{webhookId}&#x60;** after a failed delivery. Organization **JWT only** (&#x60;OrgBearerAuth&#x60;); project API keys are not accepted on this route. 
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :page  (default to 1)
    # @option opts [Integer] :limit  (default to 20)
    # @option opts [String] :status 
    # @option opts [String] :event 
    # @option opts [String] :project_id Optional; restrict logs to this project (must belong to your org).
    # @return [Array<(WebhookListResponse, Integer, Hash)>] WebhookListResponse data, response status code and response headers
    def list_webhooks_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhooks ...'
      end
      allowable_values = ["pending", "success", "failed", "retrying"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/api/webhooks'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'page'] = opts[:'page'] if !opts[:'page'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'event'] = opts[:'event'] if !opts[:'event'].nil?
      query_params[:'projectId'] = opts[:'project_id'] if !opts[:'project_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'WebhookListResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhooks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhooks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Retry a failed webhook delivery
    # **`webhookId`** (path) = **`WebhookLog._id`** (MongoDB ObjectId)—the same value returned as **`webhookId`** from **`POST /api/webhooks/trigger`** and as **`_id`** on **`GET /api/webhooks`** / **`GET /api/webhooks/projects/{projectId}`**.  **Not** the string **`webhookId`** field stored on the log document (e.g. `manual-173…`); use the document **`_id`** for this path.  Resets a non-success log to **pending** and re-delivers. **400** if status is already **`success`**.  **Auth:** Organization JWT only; project API keys are not accepted. 
    # @param webhook_id [String] WebhookLog document &#x60;_id&#x60; (delivery log id).
    # @param [Hash] opts the optional parameters
    # @return [RetryWebhookResponse]
    def retry_webhook(webhook_id, opts = {})
      data, _status_code, _headers = retry_webhook_with_http_info(webhook_id, opts)
      data
    end

    # Retry a failed webhook delivery
    # **&#x60;webhookId&#x60;** (path) &#x3D; **&#x60;WebhookLog._id&#x60;** (MongoDB ObjectId)—the same value returned as **&#x60;webhookId&#x60;** from **&#x60;POST /api/webhooks/trigger&#x60;** and as **&#x60;_id&#x60;** on **&#x60;GET /api/webhooks&#x60;** / **&#x60;GET /api/webhooks/projects/{projectId}&#x60;**.  **Not** the string **&#x60;webhookId&#x60;** field stored on the log document (e.g. &#x60;manual-173…&#x60;); use the document **&#x60;_id&#x60;** for this path.  Resets a non-success log to **pending** and re-delivers. **400** if status is already **&#x60;success&#x60;**.  **Auth:** Organization JWT only; project API keys are not accepted. 
    # @param webhook_id [String] WebhookLog document &#x60;_id&#x60; (delivery log id).
    # @param [Hash] opts the optional parameters
    # @return [Array<(RetryWebhookResponse, Integer, Hash)>] RetryWebhookResponse data, response status code and response headers
    def retry_webhook_with_http_info(webhook_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.retry_webhook ...'
      end
      # verify the required parameter 'webhook_id' is set
      if @api_client.config.client_side_validation && webhook_id.nil?
        fail ArgumentError, "Missing the required parameter 'webhook_id' when calling WebhooksApi.retry_webhook"
      end
      # resource path
      local_var_path = '/api/webhooks/retry/{webhookId}'.sub('{' + 'webhookId' + '}', CGI.escape(webhook_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RetryWebhookResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.retry_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#retry_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Test webhook transformation
    # Apply transformation rules to a sample payload and return original and transformed payloads. Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project update access. 
    # @param project_id [String] 
    # @param test_webhook_transformation_request [TestWebhookTransformationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TestWebhookTransformation200Response]
    def test_webhook_transformation(project_id, test_webhook_transformation_request, opts = {})
      data, _status_code, _headers = test_webhook_transformation_with_http_info(project_id, test_webhook_transformation_request, opts)
      data
    end

    # Test webhook transformation
    # Apply transformation rules to a sample payload and return original and transformed payloads. Requires ProjectBearerAuth (JWT) or ApiKeyAuth (X-API-Key) with project update access. 
    # @param project_id [String] 
    # @param test_webhook_transformation_request [TestWebhookTransformationRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TestWebhookTransformation200Response, Integer, Hash)>] TestWebhookTransformation200Response data, response status code and response headers
    def test_webhook_transformation_with_http_info(project_id, test_webhook_transformation_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.test_webhook_transformation ...'
      end
      # verify the required parameter 'project_id' is set
      if @api_client.config.client_side_validation && project_id.nil?
        fail ArgumentError, "Missing the required parameter 'project_id' when calling WebhooksApi.test_webhook_transformation"
      end
      # verify the required parameter 'test_webhook_transformation_request' is set
      if @api_client.config.client_side_validation && test_webhook_transformation_request.nil?
        fail ArgumentError, "Missing the required parameter 'test_webhook_transformation_request' when calling WebhooksApi.test_webhook_transformation"
      end
      # resource path
      local_var_path = '/api/webhooks/projects/{projectId}/test-transformation'.sub('{' + 'projectId' + '}', CGI.escape(project_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(test_webhook_transformation_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TestWebhookTransformation200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.test_webhook_transformation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#test_webhook_transformation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Manually trigger an outbound webhook
    # Queues an HTTP delivery to **`url`** for **`projectId`** (must belong to your org). Creates a **`WebhookLog`** row, runs delivery, and returns the new log’s **`_id`**.  **Response field `webhookId`:** This is the **MongoDB `_id` of the delivery log** (same as the log’s **`_id`** in list endpoints). It is **not** part of the request body and is **not** the project `webhookSecret` from **`PUT .../config`**.  **Auth:** Org JWT, project JWT, or project API key with **project `update`** permission. 
    # @param trigger_webhook_request [TriggerWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [TriggerWebhookResponse]
    def trigger_webhook(trigger_webhook_request, opts = {})
      data, _status_code, _headers = trigger_webhook_with_http_info(trigger_webhook_request, opts)
      data
    end

    # Manually trigger an outbound webhook
    # Queues an HTTP delivery to **&#x60;url&#x60;** for **&#x60;projectId&#x60;** (must belong to your org). Creates a **&#x60;WebhookLog&#x60;** row, runs delivery, and returns the new log’s **&#x60;_id&#x60;**.  **Response field &#x60;webhookId&#x60;:** This is the **MongoDB &#x60;_id&#x60; of the delivery log** (same as the log’s **&#x60;_id&#x60;** in list endpoints). It is **not** part of the request body and is **not** the project &#x60;webhookSecret&#x60; from **&#x60;PUT .../config&#x60;**.  **Auth:** Org JWT, project JWT, or project API key with **project &#x60;update&#x60;** permission. 
    # @param trigger_webhook_request [TriggerWebhookRequest] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(TriggerWebhookResponse, Integer, Hash)>] TriggerWebhookResponse data, response status code and response headers
    def trigger_webhook_with_http_info(trigger_webhook_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.trigger_webhook ...'
      end
      # verify the required parameter 'trigger_webhook_request' is set
      if @api_client.config.client_side_validation && trigger_webhook_request.nil?
        fail ArgumentError, "Missing the required parameter 'trigger_webhook_request' when calling WebhooksApi.trigger_webhook"
      end
      # resource path
      local_var_path = '/api/webhooks/trigger'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(trigger_webhook_request)

      # return_type
      return_type = opts[:debug_return_type] || 'TriggerWebhookResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['OrgBearerAuth', 'ApiKeyAuth', 'ProjectBearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.trigger_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#trigger_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
